.avatarimg {
  width: 40px;
  height: 50px;
}
.avatarimgsmall {
  width: 20px;
  height: 25px;
}

img {
  max-width: 800px;
}
body { 
	margin:0; 
	padding:0;
	text-align:center; 
	font-size: 90%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
	font-weight : bold;
	color: #660000;
}
a:Visited  {
	color: #663300;
}
a:Active  {
	color: #6600CC;
}
a:Hover  {
	TEXT-DECORATION: underline
}
img {
	border: 0;
}
td {
	font-size: 90%;
	vertical-align: top;
}
table {

}
th {
	font-size: 80%;
}
.left {
	text-align: left;
}
.maintable {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}
.list {
	width: auto;
	border-collapse: collapse;
}
.list td {
	padding: 0 0.5em; 
	line-height: 2em;
}
form {
	width: 100%;
	padding: 0;
	margin: 0;
}

form textarea {
	border: thin solid Gray;
	font-size: 95%;	
	font-family: sans-serif, Verdana ,Arial, Helvetica;
}

label {
	display: table;
	float: left;
	font-size: 90%;
	margin: 0 0.5em 0 0;
	padding: 0 0.5em 0 0;
	text-align: right;
	vertical-align: top;
	width: 120px;
}
input,select,textarea {
	padding: 1px 0.1em;
	
	margin: 0.1em;
	
	font-family: Arial, Helvetica, sans-serif;
}
.long {
	width: 400px;
}
.short {
	width: 50px;
}
.small {
	width: 20px;
}
textarea {
	width: 400px;
	height: 80px;	
	padding: 0 0.2em;
}
.largetextarea {
	width: 100%;
	height: 150px;	
}
select {
	padding: 0;
	width: auto;
}
.smalltext {
	font-size: 80%;
}
.errormsg {
	padding: 0.5em;
	text-align: center;
}
.fakeinput {
	margin: 0 0 0.5em 0;
	vertical-align: top;
}
.button {
	padding: 0 0.5em;
	margin: 0 0.5em 0 0.2em;
	width: auto;
}
#login {
	text-align: right;
}
#login label {
	width: auto;
}
#login .reg {
	float: left;
	text-decoration: underline;
}
#login .input {
	width: 120px;
}
#login .button {
	margin: 0.2em;
}
#logged {
	height: 60px;
}
#logged img {
	float: left;
	margin: 0 0.5em 0 0;
}
#logged .alert a {

}
#content {
	width: 100%; 
	margin: 0 auto; 
	padding: 0;
	text-align:left; 
	max-width: 1900px;
	min-width: 600px;
/*	width: expression(document.body.clientWidth<604 ? "600px" : ("auto"));*/
} 
#header { 
	padding: 0; 
	margin: 0;
}
.header-content {
	margin-left: 0;
	margin-right: 0;
	padding: 0 0.5em 0.5em 0.5em;
	text-align: center;
}
#banner { 
	margin: 0;
	padding: 3px 0 0 0;
}
#banner img {
	border: 0;
	height: 60px;
}
.banner-content {
	padding: 0;
	margin: 0;
	text-align: center;
}

#leftpanel { 
	width: 190px; 
	margin:0; 
	padding:0;
	overflow: hidden 
} 
#leftpanel h2 {
	padding: 0;
	margin: 0;
	text-align: right;
	font-size: 100%; 
}
.leftpanel-content { 
	padding:0.5em; 
	margin: 0.5em 0.5em 0.5em 0; 
}
#mainpanel { 
	margin: 0;
	padding: 0;
} 
.mainpanel-content { 
	padding: 0.5em;
	margin: 0.5em 0; 
}
#mainpanel h1 {
	padding: 0 0 0.3em 0;
	margin: 0;
	font-size: 120%;
}
#footer {
	width: 100%;
	padding: 0; 
	margin: 0;
	clear: both;
}
.footer-content {
	padding: 0.5em;
	text-align: right;
}
.cleaner {
	clear: both;
	border: 0;
} 
.hidden {
	display: none;
}

ul#menu {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  white-space: nowrap;
}
#menu li {
  display: inline;
  list-style-type: none;
}
#menu a { 
  padding: 3px 15px;
  margin: 0 5px;
}
#menu a:link, #menu a:visited {
  text-decoration: none;
}
#menu a:hover {
  text-decoration: none;
}
#menu-secondary-holder {
	margin: 0;
	padding: 0;
}

ul#menu-secondary {
  margin-left: 0;
  padding-left: 0;
  white-space: nowrap;
}
#menu-secondary li {
  display: inline;
  list-style-type: none;
}
#menu-secondary a { 
  padding: 3px 10px;
  margin-right: 5px;
}
#menu-secondary a:link, #menu a:visited {
  text-decoration: none;
}
#menu-secondary a:hover {
  text-decoration: none;
}
#menu-secondary .opposite {
  float: right;
}


.ender {
   clear: both;
   height: 1px;
   border: none;
   margin: -1em 0 0 0;
   visibility: hidden;
}
/*news*/
.new {
	line-height: 150%;
}
.new img {
	margin: 0.5em;
}
.new .datum {

}
.new .text {

}
.new .author {
	text-align: right;
	clear: both;
}
.new .comment {
	text-align: right;
}
.new .pager {
	text-align: right;
}
/*pager*/
.pager {
	padding: 10px 0 10px 0;
	text-align: center;
	font-size: 110%;
	margin: 3px 0 3px 0;
}
.pager U {
	padding: 0 10px 0 10px;
	text-decoration: none;
}
.pager A {
	padding: 3px 10px 3px 10px;
}
.pager A:HOVER {
	text-decoration: underlined;
}
.pager .currPage {
	padding: 0 10px 0 10px;
}
.pagernums {
	margin: 0 auto;
	padding: 0.5em 0.5em 0 0.5em;
	text-align: center;
}
/*active*/
.activ {
	font-weight: bold;
}
.activl {
	float: left;
	padding: 0 1em 0 0;
}
.listklub {
	line-height: 2em;
	vertical-align: middle;
}
.listklub .idaudico {
	width: 58px;
	height: 25px;
}
.listklub .num {
	padding: 0;
	margin: 0;
	width: 9em;
	text-align: center;
}
.checkbox {
	width: auto;
	vertical-align: middle;
}
/*post*/
.postmess {
	padding: 0;
	margin: 0 0 1em 0;
}
.postmess_content {
	margin: 0.5em;
	padding: 0;
	clear: both;
}
.postmess_unread {
	float: right;
}
.postmess_ico {
	float: left;
	margin: 0 0.5em 0 0;
}
.postmess_head {
	padding: 0.5em 0.5em 0 0.5em;
}
.postmess_text {
	padding: 0.5em;
}
.postmess_date {
	padding: 0 0 0.5em 0;
	height: 40px;
}
.postform {
	margin: 0 3em 0 0;
}
#recipientavatarbox {
	float:	left;
	margin: auto;
	padding: 0 0.5em 0 0.5em;
	text-align: center;

}
/*pratele all*/
.prarow {
	width: 40%;
	padding: 0.2em;
}
.prarow_datum {
	float: right;
	margin: 0.3em 0 0 0;
}
.prarow_jmeno {
	padding: 0 3em 0 0.5em;
}
.prarow_online {
	font-size: 85%;
	vertical-align: top;
	font-weight: bold;
}
/*auditlist*/
.auditlist {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	width: 100%;
}
.auditlist TR {
	line-height: 25px;
}
.auditlist TD {
	vertical-align: middle;	
}
.auditlist a {
	display: block;
	height: 25px;
	line-height: 25px;
	padding: 0 0.5em;
}
.auditico {
	width: 58px;
}
.auditico a {
	display: block;
	width: 58px;
	height: 25px;
	padding: 0;
}
.auditico img {
	width: 58px;
	height: 25px;
}
.klcis {
	text-align: center;
	width: 40px;
	margin: 2px;
}
.klcisall {
	text-align: center;
	width: 60px;
}
.kldell {
	text-align: center;
	width: 8em;
}
.kldell a {

}
.klvlast {
	text-align: left;
	width: 8em;
}
.klvlast a {

}
.klvlast span {
	padding: 0.5em;
}
.kllink {
	
}
.kllink a {

}
.kllink a:hover {

}
.klcheckbox {
	width: 20px;
	text-align: center;
}
/*audit*/
.auditnum {
	text-align: center;
	padding: 0.5em;
}
/*prizpevek*/
.prizhead {
	padding: 0.5em;
	margin: 0;
	border-collapse: separate;
}
.prizjmeno {
	padding: 0;
	margin: 0;
}
.prizdatum {
	padding: 0 0.5em;
	float: right;
	text-align: right;
}
.priztext {
	padding: 0 0.5em 0.5em 0.5em;
	min-height: 40px;
	_height: 40px;
}
.prizodleva {
	_margin: 0 0 50px 0;
	margin: 0.5em 0.5em 0.5em 40px;	
}
.priziko {
	float: left;
	width: 40px;
	margin: 0 0.5em 0 0;
}
/*galerie*/
.gallistiko {
	float: right;
}
.galpager {
	width: auto;
}
.galpager .previous {
	float: left;
}
.galpager .next {
	float: right;
	text-align: right;
}
.galback {
	text-align: center;
}
/*form*/
.form span {

}
/*category*/
.category {
	width: auto;
}
/*surfinie list nezarazenych*/
.linxlist {
	padding: 0;
	margin: 0;
	border-collapse: separate;
}
.linxlist a {
	display: block;
	padding: 0 0.5em;
}
.linxlist tr {
	padding: 0;
	margin: 0;
}
.linxlist td {
	padding: 0 0.5em;
	line-height: 2em;
	margin: 0;
	vertical-align: middle;
}
.linxcategory {
	line-height: 130%;
}
.linxleftbox {
	width: 48%;
	padding: 0.5em 0;
}
.linxrightbox {
	width: 48%;	
	float: right;
	padding: 0.5em 0;
	text-align: right;
	clear: right;
}
/*diar calendar*/
.fcalendar {
	padding: 0;
	margin: 0;
	text-align: center;
	/*font-size: 90%;*/
}
.fcalendar table {
	text-align: center;
	width: auto;
	border-collapse: collapse;
	padding: 0;
	margin: 0 auto;
}
.fcalendar td,th {
	text-align: center;
	vertical-align: middle;
	padding: 0;
}
.fcalendar th {
	font-weight: bold;
}
.fcalendar .today {
	padding: 0 1.5em;
}
.fcalendar .currentday {

}
.fcalendarin a {
	padding: 0.4em 0.5em;
	margin: 0;
	display: block;
}
.fcalendarin a:hover {

}
.fcalendarhead{
	line-height: 1.5em;
	font-weight: bold;
}
.diarlist .dedit {
	text-align: right;
}
.diarlist h2 {
	font-size: 120%;
	margin: 0;
	padding: 0;
}
/* vsechny formulare*/
.form {
	width: auto;	
	
} 
.form table {
	width: auto;	
}
/*prava*/
#rules {
	margin: 0;
	padding: 1.5em 0;
}
#rules h3 {
	padding: 0.5em 0;
	margin: 0;
}
#rules textarea {
  width: 500px;
  height: 40px;
}
/*kultura*/
.kultura {
	margin: 0.5em 0;
}
.kulturapodpis {
	float: right;
}
/*rh galerie rnd*/
.galrnd {
	text-align: center;
	margin: 0 auto;
}
/*logged*/
.loggedlist {
	margin: 0;
	width: 100%;
	padding: 0;
	text-align: center;
}
.loggedlist ul {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}


.errormsg {
	padding: 0.5em;
	font-weight: bold;
}
.akcerh {
	margin: 0 auto;
}
.akcerhflyer {
	text-align: center;
}
.akceflyer {
	text-align: center;
	width: 210px;
}
.akcepol {
	width: 5em;
}
.anketa {
	
}
.anketa .otazka {
	padding: 0.5em;
}
.fototable {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.fotocard {
	--width: 170px;
	padding: 0.3em 0;
	
	text-align: center;
	font-size: 90%;
}
.fotocard-detail {
	padding: 0.3em 0;
	margin: 0 auto;
	text-align: center;
	font-size: 90%;
}
.card-title {
	margin: 0 0 0.2em 0;
	font-size: 130%;
}
.card-photo {
	margin: 0.3em 0; 
	padding: 0;
	border: none;
}
.card-info {
	margin: 0.5em 0; 
	padding:0;
	text-align: center;
	font-size: 90%;
}
.card-points {
	margin: 0;
	padding: 0;
}
.smallform {
	margin: 0 auto;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
/*popisklubu*/
#audpop {
	
}
#audpop img {
	float: left;
}
.audpop_owner {
	float: left;
}
.audpop_text {
	clear: both;
}
/*pocasi na uvidni*/
#weather {
	margin: 0 auto;
	text-align: center;
}
#weather img {
	margin: 0;
	padding: 0;
	float: none;
}
.auditForm .fotocard {
	text-align: left;
	margin: 0 130px;
}
.priztext .fotocard {
	text-align: left;
	margin: 0;
}

#relationsContainer { width: 95%; }

#relationsContainer ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}
#relationsContainer a {
  display: block;
  padding: 3px;
  width: 100%;
}

#postRecipientsListContainer ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}
#postRecipientsListContainer a {
  display: block;
  padding: 0;
  float: left;
  margin: 0 0.3em;
   
}
#postRecipientsListContainer .recLink {
  
  padding: 0.3em 3px;
    
}
#postRecipientsListContainer br {
  clear: both;  
}

.forumLabel {
  
}
.forumLabelContent {
    
  
}
.forumLabel a {
  display: block;
  padding: 3px;
  margin: 0;
  font-size: 110%;
}
.draftNotSave {
  border-right: 2px solid Red;
}
.draftSave {
 border-right: 2px solid #28FF2A;
}

/* SLOUPCE */

#pagebar {
	position: relative;
	text-align: left;
}

#mainbar {
	float: right;
	padding-left: 220px;
}

#sidebar {
	position: absolute;
	left: 0;
	top: 0;
	float: left;
	width: 200px;
}