    iframe {
    max-width: 100%;
}

.well {
    overflow: auto;
}

.navbar-static-top {
    margin-bottom: 19px;
}

.label, .glyphicon {
    margin-right: 5px;
}

.top-image {
    overflow: hidden;
    width: 100%;
}

.top-image img {
    width: 100%;
}

.panel-primary .panel-heading a {
    color: #fff;
    text-decoration: underline;
}

#topImageLink {
    padding-right: 20px;
    position: absolute;
    right: -10px;
    font-weight: bold;
    font-size: 14px;
    opacity: 0.8;
}

h2 {
    font-size: 21px;
    font-weight: bold;
}

div#message-new {
    position: fixed;
    z-index: 10001;
    right: 20px;
    top: 20px;
    width: 220px;
}

div#message-new .panel-body {
    padding: 0;
}

div#message-new .panel-body textarea {
    font-size: 80%;
    width: 84%;
    height: 30px;
}

#recipient {
    margin-bottom: 15px;
}

#recipientavatar {
    text-align: center;
    width: 100%;
}

#recipientList {
    height: 110px;
}

#msgList {
    text-align: left;
    padding: 4px;
    max-height: 200px;
    overflow-x: hidden;
    font-size: 80%;
}

.msg-xs {
    margin-bottom: 3px;
}

#sidebar .datepicker-inline {
    padding: 0;
    margin: 0 auto;
}

div.unread {
    border-right: 0.4em solid red;
    padding-right: 0.4em;
    border-left: 0.4em solid red;
    padding-left: 0.4em;
}

.unread .header {
    font-weight: bold;
}

form.notpublished fieldset {
    background: #ffe0c0;
}

div.notpublished {
    background: #ffe0c0;
}

#galeryFeed {
    text-align: center;
}

.thumbnail {
    text-align: center;
}

.thumbnail .caption h2 {
    max-height: 16px;
    font-size: 16px;
    overflow: hidden;
    padding: 0;
    margin: 0 0 10px 0;
}

.thumbnail a img {
    width: 100%;
    max-width: 300px;
}

.thumb-box {
    display: inline;
}

.img-thumbnail {
    max-height: 100%;
    margin: 0 auto;
}

.flickity-prev-next-button {
    width: 100px;
    height: 100px;
    opacity: 0.2;
    /*background: transparent;*/
}

.flickity-prev-next-button:hover {
    /*background: transparent;*/
    opacity: 0.4;
}

.flickity-prev-next-button .arrow {
    fill: #000;
    opacity: 0.4;
    box-shadow: 10px 10px 5px #888888;
}

.flickity-prev-next-button.no-svg {
    color: #ddd;
    opacity: 0.8;
}

.gallery-cell {
    position: relative;
    width: 100%;
    margin-bottom: 2em;
}
.gallery-cell .image-desc {
    width: 100%;
    padding: 5px 0;
}
.gallery-cell a.edit {
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
}
.bottrig {
    position: fixed;
    bottom: 0;
    right: 0;
}

.bottlef {
    position: fixed;
    bottom: 0;
    left: 0;
}

.delete-galery {
    position: absolute;
    margin-left: -20px;
}

.thumbnail-xs {
    text-align: center;
}

.thumbnail-xs .thumb-box {
    display: inline;
    float: none;
}

.thumbnail-xs .img-thumbnail {
    width: 100px;
}

#sidebar .img-thumbnail {
    float: none;
    margin: 0;
    width: 100%;
}

.galeryPage {
    width: 33.33333333%;
    float: left;
    padding: 5px;
}

.midcol {
    padding: 0;
}

.midcol .thumbnail {
    margin-bottom: 0;
}

.midcol .galeryPage {
    width: auto;
    float: left;
    margin: 0 0 5px 0;
}

.midcol .galeryPage h2 {
    font-size: 16px;
    margin: 0;
    overflow: inherit;
    max-height: none;
}

.midcol .label {
    display: none;
}

.midcol .published {
    display: none;
}

.midcol .caption {
    padding: 4px;
}

.media > .pull-left, .media > .pull-right {
    margin-bottom: 10px;
}

.media .media-body {
    overflow: visible;
}

.media .media-body .well {
    clear: both;
}

#tempStore {
    min-height: 24px;
    margin-top: 8px;
}

#personalfoto .img-thumbnail {
    width: 100%;
    margin: 0 10px 10px 0;
    float: none;
}

.navbar-form .form-control {
    font-size: 12px;
    height: 30px;
    padding: 6px 10px;
}

.navbar-form {
    padding-top: 4px;
}

.login-form {
    padding-right: 0;
}

.login-form input {
    width: 100px;
}

ul.nav li.avatar a {
    padding-top: 0;
    padding-bottom: 0;
}

a.panel-heading {
    display: block;
}

a.panel-heading:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}

div.opacity {
    opacity: 0.9;
    margin-bottom: 10px;
    max-height: 100px;
    min-width: 100px;
    overflow: hidden;
}

div.opacity img {
    width: auto !important;
    max-height: 100px;
}

div.reaction {
    margin-left: 3em;
    padding-left: 10px;
    border-left: 5px solid #eeeeee;
    overflow: hidden;
}

.fitem .media-object {
    padding: 0 5px 5px 0;
    float: left;
}

.img-remote {
    max-width: 300px !important;
}

.fitem .entry-content img {
    max-width: 100%;
    padding: 10px 0;
}

.fitem {
    clear: both;
}

.fitem .header {
    padding: 4px 10px;
}

.fitem .avatar {
    padding-right: 10px;
}

.fitem .delete {
    margin-right: 10px;
}

.fitem .entry-content {
    min-height: 40px;
    padding-bottom: 1em;
}

.list-group-item .header {
    font-size: 80%;
    margin-top: -8px;
}

#sidebar .panel {
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#sidebar, #panelmidcol {
    margin-top: 26px;
}

#sidebar h3, #panelmidcol h3 {
    margin: 5px 0;
    font-size: 18px;
}

.pager-box {
    width: 100%;
    text-align: center;
    clear: both;
}

.hidden {
    display: none !important;
}

.noscreen {
    position: absolute;
    top: 0;
    left: -999em;
    width: 1em;
}

img {
    max-width: none;
    max-height: none;
}

#tempStore {
    margin-bottom: -10px;
}


/* GOOGLE MAPS styles */

.goomap-thumb {
    padding: 0 0 5px 5px;
}

.geoInfoContent {
    padding: 0;
    margin: 0;
}

.geoselector {
    float: left;
    display: block;
    margin: 0px 10px;
}

.geoInput {
    width: 150px;
    height: 70px;
    padding: 0;
    margin: 0;
}

#messageForm .geoInput {
    height: 35px;
}

#messageForm textarea {
    min-height: 70px;
}

.geoForumBox {
    overflow: hidden;
    padding-left: 5px;
}

.geoInputBox {
    margin-left: 32px;
}

.geoInputBox textarea {
    width: 250px;
    height: 150px;
}

.geoInputBox .geoselector {
    margin: 0 3px;
}

.mapSmall {
    float: right;
    clear: right;
    padding: 0 1em;
}

.mapLarge {
    width: 100%;
    height: 600px;
    clear: both;
}

.mapLarge img {
    max-width: none;
    max-height: none;
}

.mapsData {
    display: none;
}


/* GALLERY */

.showProgress {
    background: url(images/loading.gif) no-repeat center center;
}

#fullscreenBox {
    min-height: 200px;
    text-align: center;
    overflow: hidden;
}
#fullscreenBox.fullscreen {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh);
    z-index: 9999;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000 !important;
}
#fullscreenBox.fullscreen .gallery-cell {
    height: calc(100vh);
}

#photoToolbar {
    opacity: 0.7;
}

div#photoToolbar {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 10000;
    text-align: left;
    margin: 0 10px;
    font-size: 44px;
    width: 44px;
    opacity: 0.6;
}

div.innerPhotoToolbar {
	font-size: 44px;
    position: absolute;
    top: 0;
    opacity: 0.6;
    text-align: right;
    height: auto;
}
div.innerPhotoToolbar:hover {
    opacity: 1;
}
div.innerPhotoToolbar a {
    margin-right: 10px;
}

#photoToolbar a {}

#galleryPrev, #galleryNext {
    font-size: 6rem;
}

a.commentLink {
    position: relative;
    text-align: center;
    font-weight: bold;
}
a.commentLink .glyphicon {
    margin: 0;
}

a.commentLink.has-comments {
    font-weight: bold;
}

a.commentLink .commentNum {
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 23px;
}

.mce-fullscreen {
    z-index: 10000 !important;
}


/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/

#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#cboxWrapper {
    max-width: none;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}

#cboxContent {
    position: relative;
}

#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#cboxTitle {
    margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    -ms-interpolation-mode: bicubic;
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}


/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/

#cboxOverlay {
    background: #000;
}

#colorbox {
    outline: 0;
}

#cboxContent {
    margin-top: 20px;
    background: #000;
}

.cboxIframe {
    background: #fff;
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc;
}

#cboxLoadedContent {
    border: 5px solid #000;
    background: #fff;
}

#cboxTitle {
    position: absolute;
    top: -20px;
    left: 0;
    color: #ccc;
}

#cboxCurrent {
    position: absolute;
    top: -20px;
    right: 0px;
    color: #ccc;
}

#cboxLoadingGraphic {
    background: url(images/loading.gif) no-repeat center center;
}


/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: none;
}


/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
    outline: 0;
}

#cboxSlideshow {
    position: absolute;
    top: -20px;
    right: 90px;
    color: #fff;
}

#cboxPrevious {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -32px;
    background: url(images/controls.png) no-repeat top left;
    width: 28px;
    height: 65px;
    text-indent: -9999px;
}

#cboxPrevious:hover {
    background-position: bottom left;
}

#cboxNext {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -32px;
    background: url(images/controls.png) no-repeat top right;
    width: 28px;
    height: 65px;
    text-indent: -9999px;
}

#cboxNext:hover {
    background-position: bottom right;
}

#cboxClose {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    background: url(images/controls.png) no-repeat top center;
    width: 38px;
    height: 19px;
    text-indent: -9999px;
}

#cboxClose:hover {
    background-position: bottom center;
}
.blog-gallery-thumbs {
    margin: 0 auto;
}
.grid-sizer, .blog-gallery-thumbs a {
    display: block;
    width: 100px;
    float: left;
    max-width: 100%;
}
.blog-gallery-thumbs img {
    width: 100%;
    padding: 1px !important;
}
.padded_bottom {
    padding-bottom: 15px;
}
.padded_top {
    padding-top: 15px;
}
.padded {
    padding: 15px;
}
.filepond--image-preview-overlay-idle {
    color: rgba(40, 40, 40, 0.45) !important;
}