<form action="javascript:void(null);" onsubmit="submitBloged();" method="post" name="bloged" id="bloged">
  <fieldset>
    <legend>Clanek</legend>
  	<label for="formHeader">Nadpis</label><input id="formHeader" name="nadpis" value="{EDITADDON}" type="text"><br />  
  	<label for="formDate">Datum</label><input id="formDate" name="datum" value="{EDITDATE}" type="text" class="short format-d-m-y divider-dot highlight-days-67"><br />
    <label for="formText">Text</label><textarea name="textclanku" id="{TEXTID}" class="draftable">{EDITTEXT}</textarea>{TEXTTOOLBOX}<br />
    <label for="formSign">Podpis</label><input id="formSign" name="autor" value="{EDITAUTOR}" type="text"><br />
    <input name="save" id="submitButtonSave" value="Uložit" class="button submit" type="submit">  
    <!-- BEGIN newdelete -->
     <input type="hidden" name="del" id="bdel" value="0" />
     <input name="delete" id="submitButtonDelete" value="Smazat" class="button" onclick="if(confirm('Opravdu chcete vymazat tento clánek ?')) {document.getElementById('bdel').value=1; this.submit();} return(false);" type="submit">
    <!-- END newdelete -->
    <!-- BEGIN newedit --><input name="nid" value="{EDITID}" type="hidden"><!-- END newedit -->
    <input name="pageid" value="{PAGEID}" type="hidden">
  </fieldset>
</form>
