<div id="bookedContent">
<!-- BEGIN bookedcontent -->
<!-- BEGIN friendavatar -->
<div id="usersBook"><h2>Oblibene uzivatele</h2>
{AVATAR}</div>
<!-- END friendavatar -->
<!-- BEGIN ownerforums -->
<h2>Vlastní</h2>
<ul<!-- BEGIN showiconsowner --> class="showPageAvatar"<!-- END showiconsowner -->>
  <!-- BEGIN owner -->
  <li><a href="?k={OWNERKAM}"><!-- BEGIN ownernewclass --><span class="postsNew">{OWNERNEWCNT}</span><!-- END ownernewclass --><!-- BEGIN oauditicopic --><img src="{OWNERFORUMICO}" alt="{OWNERFORUMICOALT}" title="Ikona klubu {OWNERFORUMICONAME}" /><!-- END oauditicopic -->{OWNERFORUMNAME}</a></li>
  <!-- END owner -->
</ul>
<!-- END ownerforums -->
<!-- BEGIN bookedforums -->
<h2>Oblibene</h2>
<ul<!-- BEGIN showiconsbooked --> class="showPageAvatar"<!-- END showiconsbooked -->>
  <!-- BEGIN booked -->
  <li><a href="?k={BOOKEDKAM}"><!-- BEGIN newbookedclass --><span class="postsNew">{BOOKEDNEWCNT}</span><!-- END newbookedclass --><!-- BEGIN bauditicopic --><img src="{BOOKEDFORUMICO}" alt="{BOOKEDFORUMICOALT}" title="Ikona klubu {BOOKEDFORUMICONAME}" /><!-- END bauditicopic -->{BOOKEDFORUMNAME}</a></li>
  <!-- END booked -->
</ul>
<!-- END bookedforums -->
<!-- BEGIN newforums -->
<h2>Nove</h2>
<ul<!-- BEGIN showiconsnew --> class="showPageAvatar"<!-- END showiconsnew -->>
  <!-- BEGIN new -->
  <li><a href="?k={NEWKAM}"><!-- BEGIN newnewclass --><span class="postsNew">{NEWNEWCNT}</span><!-- END newnewclass --><!-- BEGIN nauditicopic --><img src="{NEWFORUMICO}" alt="{NEWFORUMICOALT}" title="Ikona klubu {NEWFORUMICONAME}" /><!-- END nauditicopic -->{NEWFORUMNAME}</a></li>
  <!-- END new -->
</ul>
<!-- END newforums -->
<!-- END bookedcontent -->
</div>