<form action="{FORMACTION}" method="post" enctype="multipart/form-data" id="upfoto">
<input type="hidden" name="gid" value="{GPAGEID}" />

<script type="text/javascript" src="./js/domtab.js"></script>

<div class="domtab">
  <ul class="domtabs">
    <li><a href="#ft1">Nastaveni</a></li>
    <li><a href="#ft2">Prava</a></li>
    <li><a href="#ft3">Spratelene stranky</a></li>
    <li><a href="#ft4">Fotografie</a></li>
    <li><a href="#ft5">Upload</a></li>
  </ul>
  
<div>
<a name="ft1" id="ft1"></a>
<fieldset>
<legend>Nastaveni galerie</legend>
<label>Majitel</label><span><a href="{OWNERLINK}">{OWNERNAME}</a></span><br />
<label>Kategorie</label><select name="arr[categoryId]">{CATEGORYOPTIONS}</select><br />
<label>Název</label><input type="text" name="arr[name]" value="{GNAME}" class="long" /><br />
<label>Popis</label><textarea name="arr[description]" id="{GDESCID}" class="draftable">{GDESC}</textarea><br />
<label>Zahlaví</label><textarea name="arr[content]" id="{GCONTID}" class="draftable">{GCONT}</textarea>{GCONTTOOLBOX}<br />
<label>Datum</label><input type="text" name="arr[dateContent]" value="{GDATE}" class="short" /><br />
<label>Adresář</label><input type="text" name="arr[galeryDir]" value="{GDIR}" class="short" /><br />
<label>Na stránku</label><input type="text" name="xperpage" value="{PERPAGE}" class="xShort" /> [pocet nahledu na stranku]<br />
<!-- BEGIN enhancendgalery -->
<label>Velikos náhledu</label><input type="text" name="xwidthpx" value="{GTHUMBWIDTH}" class="xShort" /> x 
<input type="text" name="xheightpx" value="{GTHUMBHEIGHT}" class="xShort" /> - Šířka px x vyska px<br />
<label>Styl nahledu</label><select name="xthumbstyle">{THUMSTYLEOPTIONS}</select><br />
<!-- END enhancendgalery -->
<!-- BEGIN galerylinks --> 
	<label>Interní</label><span>{GINTERNALLINK}</span><br />
	<label>Samostatná</label><span>{GSTANDALONELINK}</span><br />
	<label>HTML adresa</label><span>{GEXTURL}</span><br />
<!-- END galerylinks -->
<input type="submit" name="savegal" value="Uložit" class="button submit" />
<!-- BEGIN gdelete --><input type="submit" name="deletegal" value="Smazat galerii" onClick="if(confirm('Opravdu chcete vymazat tuto galerii?')) return(true); else return(false);" class="button" /><!-- END gdelete -->
</fieldset>
</div>
<div>
  <a name="ft2" id="ft2"></a>
  {PERMISSSIONSFORM}
</div>
<div>
  <a name="ft3" id="ft3"></a>
  {RELATIONSFORM}
</div>
<div>
<a name="ft4" id="ft4"></a>
<fieldset>
<legend>Seznam fotografii</legend>
<input type="submit" name="savegal" value="Uložit" class="button submit" />
<label>Celkem v galerii:</label><span>{FOTOTOTAL}</span><br />
<label>Diskuze u foto:</label><select name="fotoforum">
<option value="1"<!-- BEGIN fforum1 --> selected="selected"<!-- END fforum1 -->>Povolit reakce na fotky</option>
<option value="2"<!-- BEGIN fforum2 --> selected="selected"<!-- END fforum2 -->>Pouze pro registrovane</option>
<option value="0"<!-- BEGIN fforum0 --> selected="selected"<!-- END fforum0 -->>Zakazat diskuzi</option>
</select>
<label>Řadit:</label><select name="galeryorder">
<option value="0">Podle jména</option>
<option value="1"<!-- BEGIN gorddate --> selected="selected"<!-- END gorddate -->>Podle data fotky (od nejnovějších)</option>
</select>
<table>
<!-- BEGIN gfoto -->
  <tr>
  <td align="center"><img src="{FTHUMBURL}" title="{FNAME}" alt="{FNAME}"></td>
  <td><textarea name="fot[{FID}][comm]" id="galfoto{FID}" class="draftable">{FCOMMENT}</textarea><br />
  <label>Datum fotky:</label><input type="text" name="fot[{FID}][date]" value="{FDATE}" /><br />
  <label>Smazat:</label><input type="checkbox" name="delfoto[]" value="{FID}" class="checkbox" /></td>
</tr>
<!-- END gfoto -->
</table>
<input type="submit" name="savegal" value="Uložit" class="button submit" />
</fieldset>
</div>
<div>
<a name="ft5" id="ft5"></a>
<fieldset>
<legend>Nahrat fotografie</legend>
<!-- BEGIN uploadinput -->
<label>{UPLOADINPUTLABEL}</label><input type="file" name="upfoto{UPLOADINPUTID}" /><br />
<!-- END uploadinput -->
<input type="submit" name="savegal" value="Uložit" class="button submit" />
</fieldset>
</div>
</div>
</form>