<!-- BEGIN thumbnails -->
<!-- BEGIN galeryhead -->
<div class="galery_head">{GALERYHEAD}</div>
<!-- END galeryhead -->
<!-- BEGIN galerytext -->
<div class="galery_info">{GALERYTEXT}</div>
<!-- END galerytext -->
<table class="fototable">
<!-- BEGIN row -->
	<tr><!-- BEGIN cell --><td> {THUMBNAIL} </td><!-- END cell --></tr>
<!-- END row -->
</table>
<!-- BEGIN pagingend -->
<div class="pager">{PAGEREND}</div>
<div class="galery_nums">Celkem: <strong>{SUM}</strong></div>
<!-- END pagingend -->
<!-- END thumbnails -->