<div class="fotoDetailBox">
<div id="fullscreenBox"><a href="{NEXTLINK}" id="detailNext" class="galeryFullSwitch" title="Zobrazit pres celou obrazovku"><div class="showProgress lbLoading"><img id="detailFoto" src="{IMGDIR}" alt="{IMGALT}" title="{IMGTITLE}" /></div></a></div>
<p id="desription">{INFO}</p>
<div class="stats">
<span class="tagGalery" id="tag">{TAG}</span> 
<span class="viewedTimes"><span id="hit">{HITS}</span><img src="[[SKINURL]]/img/eye.png" title="Pocet zobrazeni" alt="x zobrazeni" /></span>
<span class="monitor"><a href="#" class="galeryFullSwitch"><img src="[[SKINURL]]/img/monitor.png" title="Zobrazit na celou obrazovku" alt="fullscreen" /></a></span>
</div>
<div id="map">
<!-- BEGIN map --><div id="map{MAPITEMID}" class="mapLarge hidden"><!-- BEGIN mapdata --><div class="mapsData"><input type="hidden" class="geoData" title="{MAPTITLE}" value="{MAPPOSITION}" /><div class="geoInfo"><h3>{MAPTITLE}</h3><p>{MAPINFO}<br /><strong>Vzdalenost: [[DISTANCE]]NM</strong></p></div></div><!-- END mapdata --></div>
<div class="mapSmall"><a id="mapThumb{SMAPITEMID}" href="#" title="Map detail: {SMAPTITLE}" class="mapThumbLink"><img width="200" height="200" src="http://maps.google.com/maps/api/staticmap?size=200x200&markers={SMARKERPOS}&maptype=terrain&sensor=false<!-- BEGIN stwp -->&path={SWPLIST}<!-- END stwp -->" title="{SMAPTITLE}" alt="Google Maps" /></a></div><!-- END map -->
</div>
</div>
<div class="clearreal"></div>
<div id="fullscreenToolbar" class="hidden">
<a href="#" id="fullscreenPrevious">Předchozí</a>
<a href="#" id="fullscreenLeave">Zpět</a>
<a href="#" id="fullscreenSlideshow">Přehrávání</a>
<a href="#" id="fullscreenNext">Další</a>
</div>
<div id="fullscreenHint" class="hidden">ESC - Zpět<br />Mezerník - Další</div>
