<!-- BEGIN toppager -->
{PAGER}
<!-- END toppager -->
<div class="hfeed galery">
<!-- BEGIN galery -->
<p id="p{PAGEID}" class="hentry">
    <div class="thumbnail">{THUMB}</div>
    <h3 class="entry-title"><a href="{PAGELINK}" class="bookmark url">{PAGENAME}</a></h3>
    <span class="abbr" title="{DATEISO}"><abbr class="published" title="{DATEISO}">{DATELOCAL}</abbr></span>
    <p class="entry-content">{GALERYTEXT}</p>
    <span class="vcard"><!-- BEGIN authorlink --><a href="{AUTHORLINK}" class="author url"><!-- END authorlink --><span class="fn">{AUTHOR}</span><!-- BEGIN authorlinkclose --></a><!-- END authorlinkclose --></span>
    <div class="cleaner"></div>
</p>
<!-- END galery -->
</div>
<!-- BEGIN bottompager -->
{PAGER}
<!-- END bottompager -->