<tr>
    <td>
    <!-- BEGIN raw -->
      <a href="{IMGURLDETAIL}" id="{ITEMIDHTML}"<!-- BEGIN popupc --> rel="lightbox{POPUPCLIGHTBOXGROUP}"<!-- END popupc --> <!-- BEGIN tip --> class="<!-- BEGIN xajaxSwitch -->xajaxSwitch <!-- END xajaxSwitch -->supernote-hover-foto{ITEMID}"<!-- END tip -->>
      <img src="{IMGURLTHUMB}" alt="{IMGALT}" title="{IMGTITLE}" /></a>
    <!-- END raw -->
    </td>
    <td>
    
      <textarea name="fot[{ITEMID}][comm]"  class="draftable">{TEXT}</textarea><br />
      <label>Datum fotky:</label><input type="text" name="fot[{ITEMID}][date]" id="foto{ITEMID}" value="{DATELOCAL}" class="short format-d-m-y divider-dot highlight-days-67" /><br />
      <label>Smazat:</label><input type="checkbox" name="delfoto[]" value="{ITEMID}" class="checkbox" />
    
    </td>
</tr>

