<div id="{ITEMIDHTML}" class="<!-- BEGIN hentry -->hentry<!-- END hentry -->">
	<!-- BEGIN pagelink --><h3 class="entry-title"><a href="{PAGELINK}" class="bookmark">{PAGENAME}</a></h3><!-- END pagelink -->
	<div class="entry-content"{ADDONSTYLEWIDTH}>
	  <!-- BEGIN statistic --><div class="statistic">
    <!-- BEGIN tag --><span class="tagGalery">{TAG}</span> | <!-- END tag -->
    <!-- BEGIN rating --><span class="viewedTimes">{HITS}</span><!-- END rating -->
    </div><!-- END statistic -->
    <div class="foto">
    <!-- BEGIN raw -->
      <a href="{IMGURLDETAIL}" id="{ITEMIDHTML}"<!-- BEGIN popupc --> rel="lightbox{POPUPCLIGHTBOXGROUP}"<!-- END popupc --> <!-- BEGIN tip --> class="<!-- BEGIN xajaxSwitch -->xajaxSwitch <!-- END xajaxSwitch -->supernote-hover-foto{ITEMID}"<!-- END tip -->>
      <img src="{IMGURLTHUMB}" alt="{IMGALT}" title="{IMGTITLE}" /></a>
    <!-- END raw -->
    </div>
    <!-- BEGIN info --><p>{TEXT}</p><!-- END info -->
  </div>
</div>

<!-- BEGIN commentedItem --><div class="commentedItem">{ITEMBOTTOM}</div><!-- END commentedItem -->

<!-- BEGIN tooltip -->
<div id="supernote-note-foto{ITEMIDTOOLTIP}" class="snp-mouseoffset notemenu">
  <ul>
    <li><a href="{LINKPOPUP}" rel="lightbox">Ukázat celou</a></li>
    <li><a href="?k={PAGEIDTOOLTIP}&amp;i={ITEMIDTOOLTIP}">Prohlédnout galerii</a></li>
    <!-- BEGIN pocket --><li>{POCKET}</li><!-- END pocket -->
  </ul>
</div>
<!-- END tooltip -->