<div id="{ITEMIDHTML}" class="<!-- BEGIN hentry -->hentry <!-- END hentry -->galeryThumb">
<div class="entry-content">
<div class="stats">
<span class="commentsNum"><a href="{COMMENTLINK}" title="Pocet komentaru"><!-- BEGIN new --><span class="postsNew">{ALLNEWCNT}</span>/<!-- END new -->{CNTCOMMENTS} <img src="[[SKINURL]]/img/comments.png" alt="Komentare"></a></span>  
{TAG}  
<span class="viewedTimes">{HITS}<img src="[[SKINURL]]/img/eye.png" title="Pocet zobrazeni" alt="x zobrazeni" /></span>
</div>
<div class="foto"><a href="{ITEMLINK}"><img src="{IMGURLTHUMB}" alt="{IMGALT}" title="{TEXT}" /></a></div>
</div>
</div>