<div id="{ITEMIDHTML}" class="<!-- BEGIN hentry -->hentry <!-- END hentry -->galeryThumb">
	<div class="entry-content">
	  <!-- BEGIN statistic --><div class="stats">
	  <!-- BEGIN numcomment --><span class="commentsNum"><a href="{COMMENTLINK}" title="Pocet komentaru"><!-- BEGIN registered --><span class="postsNew">{ALLNEWCNT}</span>/<!-- END registered -->{CNTCOMMENTS} <img src="[[SKINURL]]/img/comments.png" alt="Komentare"></a></span> | <!-- END numcomment -->
		<!-- BEGIN tag -->{TAG} | <!-- END tag -->
		<!-- BEGIN rating --><span class="viewedTimes">{HITS}<img src="[[SKINURL]]/img/eye.png" title="Pocet zobrazeni" alt="x zobrazeni" /></span><!-- END rating -->
	  </div><!-- END statistic -->
    <div class="foto">
    <!-- BEGIN raw -->
      <a href="{ITEMLINK}" id="{ITEMIDHTML}"<!-- BEGIN xajaxSwitch --> class="xajaxSwitch"<!-- END xajaxSwitch -->>
      <img src="{IMGURLTHUMB}" alt="{IMGALT}" title="{TEXT}" /></a>
    <!-- END raw -->
    </div>
  </div>
</div>
