<div id="foto-{ITEMID}">
<table>
<tr><td>
<a href="{IMGURL}" id="{ITEMIDHTML}" rel="lightbox-galery">
<img src="{IMGURLTHUMB}" alt="{IMGALT}" title="{IMGTITLE}" /></a>
</td><td>
<div class="row"><label>Popis:</label><textarea id="fotodesc{ITEMID}" name="foto-{ITEMID}-desc"  class="draftable short">{TEXT}</textarea></div>
<div class="row"><label>Datum fotky:</label><input type="text" name="foto-{ITEMID}-date" id="foto{ITEMID}" value="{DATELOCAL}" class="short datepicker" /></div>
<div class="row"><label>Pozice:</label><input type="text" name="foto-{ITEMID}-position" id="foto{ITEMID}position" value="{POSITION}" class="short positionSelector" /></div>
<div class="row"><input id="delfoto-{ITEMID}" type="button" value="Smazat foto" title="Opravdu chcete smazat foto?" class="button deletefoto" /></div>
</td></tr>
</table>
</div>

