<div class="vevent hentry radcon">
	<div class="clearbox">
	<!-- BEGIN flyer -->
	<a href="{BIGFLYERLINK}" rel="lightbox-events"><img class="eventFlyerThumb" src="{FLYERTHUMBURL}" title="Leták {IMGEVENTTITLE}" alt="{IMGEVENTALT}" /></a>
	<!-- END flyer -->
	<!-- BEGIN flyerdefault -->
	<img class="eventFlyerThumb" src="[[SKINURL]]{FLYERTHUMBURLDEFAULT}" />
	<!-- END flyerdefault -->
	<div class="description nextToFlyer">
	   <div class="category">{CATEGORY}</div>
	   <!-- BEGIN heading --><h2 class="entry-title summary"><a class="url" href="{BLOGLINK}">{BLOGTITLE}</a></h2><!-- END heading -->
		 <div class="date">Kdy <span class="abbr" title="{STARTDATETIMEISO}"><abbr class="dtstart" title="{STARTDATETIMEISO}">{STARTDATETIMELOCAL}</abbr></span>
		 <!-- BEGIN eventend -->- <span class="abbr" title="{ENDDATETIMEISO}"><abbr class="dtend" title="{ENDDATETIMEISO}">{ENDDATETIMELOCAL}</abbr></span><!-- END eventend -->
		 </div>
		 <div class="location">Kde <strong>{LOCATION}</strong></div>
		<!-- BEGIN desc --><div class="description">{TEXT}</div><!-- END desc -->
		
	</div>
	</div>
	<!-- BEGIN toolbar -->
	<div class="header">
    <span class="abbr" title="{DATEISO}"><abbr class="updated published" title="{DATEISO}">{DATELOCAL}</abbr></span>
		<span class="vcard"><!-- BEGIN authorlink --><a href="{AUTHORLINK}" class="author url"><!-- END authorlink --><span class="fn">{AUTHOR}</span><!-- BEGIN authorlinkclose --></a><!-- END authorlinkclose --></span>
    <span class="stats">
	  <!-- BEGIN numcomment --><span class="commentsNum"><a href="{COMMENTLINK}" title="Pocet komentaru"><!-- BEGIN registered --><span class="postsNew">{ALLNEWCNT}</span>/<!-- END registered -->{CNTCOMMENTS} <img src="[[SKINURL]]/img/comments.png" alt="Komentare"></a></span> | <!-- END numcomment -->
		<!-- BEGIN tag -->{TAG} | <!-- END tag -->
	  <!-- BEGIN link --><span class="linkIco"><a href="{ITEMLINK}" title="Odkaz na prispevek"><img src="[[SKINURL]]/img/link_go.png" /></a></span><!-- END link -->
	  </span>
		<!-- BEGIN edit --><span class="edit"><a href="{EDITLINK}">Upravit</a></span><!-- END edit -->
   </div>
    <!-- END toolbar -->
</div>

<!-- BEGIN participants --><div id="participants"><h3>Kdo přijde</h3>
<!-- BEGIN participant --><div class="participant">{PARTICIPANTAVATAR}</div><!-- END participant -->
</div><div class="clearbox"></div><!-- END participants -->
<!-- BEGIN comments --><div class="comments"><h3>Diskuze</h3>{COMMENTS}</div><!-- END comments -->