<div id="foto-{ITEMID}">
	<table>
	<tr><td>
    <!-- BEGIN raw -->
      <a href="{IMGURLDETAIL}" id="{ITEMIDHTML}"<!-- BEGIN popupc --> rel="lightbox{POPUPCLIGHTBOXGROUP}"<!-- END popupc --> <!-- BEGIN tip --> class="<!-- BEGIN xajaxSwitch -->xajaxSwitch <!-- END xajaxSwitch -->supernote-hover-foto{ITEMID}"<!-- END tip -->>
      <img src="{IMGURLTHUMB}" alt="{IMGALT}" title="{IMGTITLE}" /></a>
    <!-- END raw -->
    </td><td>
    <div class="row"><label>Popis:</label><textarea name="foto-{ITEMID}-desc"  class="draftable short">{TEXT}</textarea></div>
    <div class="row"><label>Datum fotky:</label><input type="text" name="foto-{ITEMID}-date" id="foto{ITEMID}" value="{DATELOCAL}" class="short datepicker" /></div>
    <div class="row"><input id="delfoto-{ITEMID}" type="button" value="Smazat foto" title="Opravdu chcete smazat foto?" class="button deletefoto" /></div>
    </td></tr>
  </table>
</div>

