<?xml version="1.0" encoding="{CHARSET}"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
  <title>{TITLE}</title>
  <meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
	<meta http-equiv="Content-language" content="cs" />
  <!-- BEGIN description --><meta name="description" content="{DESCRIPTION}" /><!-- END description -->
  <!-- BEGIN keywords --><meta name="keywords" content="{DESCRIPTION}" /><!-- END keywords -->
  <link rel="shortcut icon" href="{CSSSKIN}/img/favicon.ico" type="image/x-icon" />
  <link rel="alternate" type="application/rss+xml" title="{TITLE} - fundekave.net - RSS 2.0" href="http://www.fundekave.net/frss.php?k={PAGEID}" />
  <link rel="stylesheet" type="text/css" href="/css/fdk.css" media="all" title="fundekave" />
  <link rel="stylesheet" href="/css/slimbox2.css" type="text/css" media="screen" />
  <style type="text/css" media="screen"><!--
		@import "{CSSSKIN}/screen.css";
  --></style>
  <!--[if lt IE 8.0]><link type="text/css" rel="stylesheet" href="{CSSSKIN}/ie7-styles.css" /><![endif]-->
  <!--[if lt IE 7.0]><link type="text/css" rel="stylesheet" href="{CSSSKIN}/ie6-styles.css" /><![endif]-->
  <!-- BEGIN calendar --><link href="{CSSSKINCALENDAR}/datepicker.css" rel="stylesheet" type="text/css" /><!-- END calendar -->
</head>
<body{BODYACTION}>
<div id="pageholder"<!-- BEGIN hasMainBanner --> class="hasMainBanner"<!-- END hasMainBanner -->>

	<div id="header">
	  <!-- BEGIN menu -->
	  <ul id="menu">
		<!-- BEGIN topmenuitem -->
		<li <!-- BEGIN topmenuactivelink --> class="active"<!-- END topmenuactivelink -->><a href="{LINK}">{TEXT}</a></li>
		<!-- END topmenuitem -->
	  </ul>
	  <!-- END menu -->
	</div>

  <div id="pagebar">

	<div id="logo"><a href="http://fundekave.net/"><img src="/data/skin/funde/img/none.gif" width="100%" height="100%" alt="FunDeKave.net" /></a></div>
    <div id="mainbar">
      <!-- BEGIN secondary-menu -->
      <div id="menu-secondary-holder">
        <ul id="menu-secondary">
          <!-- BEGIN secondary-menu-item -->
          <li<!-- BEGIN secondary-menu-oppositebutton --> class="opposite"<!-- END secondary-menu-oppositebutton -->>
            <a href="{LOLINK}"<!-- BEGIN secondary-menu-ItemAction --> onClick="{LOCLICK}"<!-- END secondary-menu-ItemAction --><!-- BEGIN secondary-menu-activelink --> class="current"<!-- END secondary-menu-activelink --><!-- BEGIN secondary-menu-id --> id="{LOID}"<!-- END secondary-menu-id -->>{LOTEXT}</a>
          </li>
          <!-- END secondary-menu-item -->
        </ul>
      </div>
      <!-- END secondary-menu -->

      <!-- BEGIN errormsg --><div class="errormsg">{ERRORMSG}</div><!-- END errormsg -->

      <!-- BEGIN pageheading --><h1>{PAGEHEAD}</h1><!-- END pageheading -->

      <div id="thumbToolbar"></div>

      <!-- BEGIN domtab -->
      <div class="domtab">
        <ul class="domtabs">
          <!-- BEGIN domtabmenuitem -->
          <li><a href="#{TABMENUID}">{TABMENUNAME}</a></li>
          <!-- END domtabmenuitem -->
        </ul>
      <!-- END domtab -->
        <!-- BEGIN maincontent-recurrent -->
  		  <div class="mainpanel-content"<!-- BEGIN contentid --> id="{MAINID}"<!-- END contentid -->>
  		  <!-- BEGIN contentheading --><h2><!-- BEGIN tabid --><a name="{TABID}" id="{TABID}"><!-- END tabid -->{MAINHEAD}<!-- BEGIN tabidclose --></a><!-- END tabidclose --></h2><!-- END contentheading -->
  			{MAINDATA}
  		  </div>
  	    <!-- END maincontent-recurrent -->
	    <!-- BEGIN domtabclose -->
	    </div>
	    <!-- END domtabclose -->

      <!-- BEGIN maincontent-raw -->
      {RAWDATA}
      <!-- END maincontent-raw -->
    </div>

    <!-- BEGIN sidebar -->
    <div id="sidebar">
    	<!-- BEGIN sidebar-block -->
    	<div class="sidebarBlock radcon<!-- BEGIN sidebar-block-login --> loginBlock<!-- END sidebar-block-login -->">
    	<!-- BEGIN sidebar-heading --><h2>{SIDEBARHEAD}</h2><!-- END sidebar-heading -->
    	{SIDEBARDATA}
    	</div>
    	<!-- END sidebar-block -->
    </div>
    <!-- END sidebar -->
  </div>
  <!-- BEGIN footer -->
  <p id="footer"><span>deSIGNed by <a href="http://www.filip-mares.co.uk/">nakashi</a> &amp; <a href="http://fundekave.net">fundekave.net</a> - <a href="http://frantisek-kaspar.co.uk" title="php web developer">kasparek</a></span> Pages:: {COUNTER}</p>
  <!-- END footer -->
</div>
<!-- BEGIN banner -->
<div id="banner">
 	<div class="banner-content">{BANNER}</div>
</div>
<!-- END banner -->

<!-- BEGIN users-floating-tooltips -->{USERTOOLTIPS}<!-- END users-floating-tooltips -->

<!-- javascript section -->
<!-- BEGIN wrappedjs --><script src="{WRAPPEDJS}"></script><!-- END wrappedjs -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/DD_roundies_0.0.1a-min.js"></script>
<script type="text/javascript" src="js/slimbox2.js"></script>
<!-- BEGIN calendar2 --><script type="text/javascript" src="./js/datepicker.js"></script><!-- END calendar2 -->
<!-- BEGIN domtabs2 --><script type="text/javascript" src="./js/domtab.js"></script><!-- END domtabs2 -->
<!-- BEGIN swfobject --><script type="text/javascript" src="fuvatar/swfobject.js"></script><!-- END swfobject -->
<script type="text/javascript" src="js/supernote.js"></script>
<script type="text/javascript" src="js/FdkGlobal.js"></script>

<!-- google anal -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-515522-22");
pageTracker._trackPageview();
} catch(err) {};
</script>
</body>
</html>