<!-- BEGIN lastinblogsfirst -->
<div id="lastBlogPost" class="hfeed">
{LASTBLOGPOST}
</div>
<!-- END lastinblogsfirst -->

<!-- BEGIN lastinforums  -->
<h3>Nejnovejsi v klubech</h3>
<div id="lastforumPosts" class="hfeed">
{LASTFORUMPOSTS}
</div>
<!-- END lastinforums  -->

<!-- BEGIN lastinblogs  -->
<h3>Aktualni clanky</h3>
<div id="lastBlogPosts" class="hfeed">
{LASTBLOGPOSTS}
</div>
<!-- END lastinblogs  -->

<div id="mostVisitedPages">
<h3>Nejnavstevovanejsi</h3>
<!-- BEGIN mostvisitedpagecached -->{MOSTVISITEDECACHED}<!-- END mostvisitedpagecached -->
</div>

<div id="newCreatedPages">
<h3>Nejnovejsi</h3>
<!-- BEGIN newpagecached -->{NEWPAGECACHED}<!-- END newpagecached -->
</div>

<div id="mostActivePages">
<h3>Nejaktivnejsi</h3>
<!-- BEGIN mostactivepagecached -->{MOSTACTIVECACHED}<!-- END mostactivepagecached -->
</div>

<div id="mostPopularPages">
<h3>Nejoblibenejsi</h3>
<!-- BEGIN mostfavouritepagecached -->{MOSTFAVOURITECACHED}<!-- END mostfavouritepagecached -->
</div>
