<?xml version="1.0" encoding="{CHARSET}"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
<script type="text/javascript">
if(window.location.hash) { var str=window.location.hash; if(str.split('/').length>1) { str = str.replace('#','?m='); str = str.replace('/','&d='); window.location.replace(str); } };
</script>
  <title>{TITLE}</title>
  <meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
	<meta http-equiv="Content-language" content="cs" />
  <!-- BEGIN description --><meta name="description" content="{DESCRIPTION}" /><!-- END description -->
  <!-- BEGIN keywords --><meta name="keywords" content="{DESCRIPTION}" /><!-- END keywords -->
  <link rel="shortcut icon" href="{CSSSKIN}/img/favicon.ico" type="image/x-icon" />
  <link rel="alternate" type="application/rss+xml" title="{TITLE} - fundekave.net - RSS 2.0" href="http://{HOMESITE}/rss/<!-- BEGIN rsspageid -->?k={RSSPAGEID}<!-- END rsspageid -->" />
  <link rel="stylesheet" type="text/css" href="ca.php?c=css/global.css;css/print.css;css/handheld.css;css/aural.css;css/fPager.css" media="all" title="fundekave" />
  <!-- BEGIN slimboxHEAD --><link rel="stylesheet" href="css/slimbox2.css" type="text/css" media="screen" /><!-- END slimboxHEAD -->
  <!-- BEGIN juiHEAD --><link type="text/css" href="css/themes/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" /><!-- END juiHEAD -->
  <style type="text/css" media="screen"><!--
		@import "{CSSSKIN}/screen.css";
  --></style>

  <!--[if lt IE 8.0]><link type="text/css" rel="stylesheet" href="{CSSSKIN}/ie7-styles.css" /><![endif]-->
  <!--[if lt IE 7.0]><link type="text/css" rel="stylesheet" href="{CSSSKIN}/ie6-styles.css" /><![endif]-->
</head>
<body>
  <div id="pageholder"<!-- BEGIN hasMainBanner --> class="hasMainBanner"<!-- END hasMainBanner -->>
    <div id="header">
      <!-- BEGIN menu --><ul id="menu">
        <!-- BEGIN topmenuitem --><li<!-- BEGIN topmenuactivelink --> class="active"<!-- END topmenuactivelink -->><a href="{LINK}">{TEXT}</a></li>
        <!-- END topmenuitem -->
      </ul><!-- END menu -->
    </div>
    <div id="pagebar">
      <div id="mainbar">
				
      <form action="{SEARCHACTION}" method="post">
        <div id="search-holder">
        <div id="search">
        <img src="{SEARCHCSSDIR}/img/magnifier.png" title="Vyhledavani" alt="Hledat" />
        <input type="text" name="f" class="short" /> <input type="submit" name="search" value="Hledat" />
        </div>
        </div>
        </form>
        
        <!-- BEGIN breadcrumbs --><div id="breadcrumbs">
        	<!-- BEGIN breadcrumbslist --><ul><!-- BEGIN bread --><li><!-- BEGIN breadlink --><a href="{BREADURL}"><!-- END breadlink -->{BREADNAME}<!-- BEGIN breadlinkend --></a><!-- END breadlinkend --></li><!-- END bread --></ul><!-- END breadcrumbslist -->
				</div><!-- END breadcrumbs -->
				

        <!-- BEGIN secondary-menu --><div id="menu-secondary-holder">
          <ul id="menu-secondary">
            <!-- BEGIN secondary-menu-item --><li<!-- BEGIN listclass --> class="{LISTCLASS}"<!-- END listclass -->><a href="{LOLINK}"<!-- BEGIN secondary-menu-title --> title="{LOTITLE}"<!-- END secondary-menu-title --><!-- BEGIN secondary-menu-class-custom --> class="{CLASS}"<!-- END secondary-menu-class-custom --><!-- BEGIN secondary-menu-id --> id="{LOID}"<!-- END secondary-menu-id -->>{LOTEXT}</a></li>
            <!-- END secondary-menu-item -->
          </ul>
        </div><!-- END secondary-menu -->
                
        <div id="errormsgJS" class="errormsg"></div>
        <div id="okmsgJS" class="okmsg"></div>
        <!-- BEGIN errormsg --><div class="errormsg static">{ERRORMSG}</div><!-- END errormsg -->
        <!-- BEGIN okmsg --><div class="okmsg static">{OKMSG}</div><!-- END okmsg -->
        
        <!-- BEGIN pageheading --><h1 id="pageHead">{PAGEHEAD}</h1><!-- END pageheading -->
        <div id="thumbToolbar"></div>
        <!-- BEGIN maincontent-recurrent --><div class="mainpanel-content"<!-- BEGIN contentid --> id="{MAINID}"<!-- END contentid -->>
        <!-- BEGIN contentheading --><h2><!-- BEGIN tabid --><a name="{TABID}" id="{TABID}"><!-- END tabid -->{MAINHEAD}<!-- BEGIN tabidclose --></a><!-- END tabidclose --></h2><!-- END contentheading -->
        {MAINDATA}
        </div><!-- END maincontent-recurrent -->
      </div>
      <!-- BEGIN sidebar --><div id="sidebar">
      	<div id="logo"><a href="http://fundekave.net/"><img src="data/skin/funde/img/fundekave-logo.gif" title="FUNDEKAVE.NET" alt="FunDeKave.net" /></a></div>
        <!-- BEGIN sidebar-block --><div class="sidebarBlock radcon<!-- BEGIN sidebar-block-login --> loginBlock<!-- END sidebar-block-login -->">
          <!-- BEGIN sidebar-heading --><h2>{SIDEBARHEAD}</h2><!-- END sidebar-heading -->
          <div id="{SIDEBARBLOCKID}" class="sidebarBlockContent">
          {SIDEBARDATA}
          </div>
        </div><!-- END sidebar-block -->
      </div><!-- END sidebar -->
    </div>
    <!-- BEGIN footer --><p id="footer"><span>deSIGNed by <a href="http://www.filip-mares.co.uk/">nakashi</a> &amp; <a href="http://fundekave.net">fundekave.net</a> - <a href="http://frantisek-kaspar.co.uk" title="php web developer">kasparek</a></span>{COUNTER}</p><!-- END footer -->
  </div>
	<!-- BEGIN banner --><div id="banner"><div class="banner-content">{BANNER}</div></div><!-- END banner -->
	<!-- BEGIN users-floating-tooltips -->{USERTOOLTIPS}<!-- END users-floating-tooltips -->
<!-- javascript section -->
<!-- BEGIN wrappedjs --><script src="{WRAPPEDJS}"></script><!-- END wrappedjs -->
<script type="text/javascript" src="{URL_JS}jquery.min.js"></script>
<script type="text/javascript" src="{URL_JS}DD_roundies_0.0.1a-min.js"></script>
<!-- BEGIN juiEND --><script type="text/javascript" src="{JUI_URL_JS}jquery-ui.core.js"></script><!-- END juiEND -->
<script type="text/javascript" src="{URL_JS}FdkGlobal.js"></script>
<!-- BEGIN slimboxEND --><script type="text/javascript" src="{SLIMBOX_URL_JS}slimbox2.js"></script>
<script type="text/javascript">$(document).ready(function(){ initSlimbox(); });</script><!-- END slimboxEND -->
<!-- BEGIN supernoteEND --><script type="text/javascript" src="{SUPERNOTE_URL_JS}supernote.js"></script>
<script type="text/javascript">$(document).ready(function(){ initSupernote(); });</script><!-- END supernoteEND -->
<!-- BEGIN swfo --><script type="text/javascript" src="{SWFO_URL_JS}swfo.js"></script><!-- END swfo -->
<!-- BEGIN fuup --><script type="text/javascript">$(document).ready(function(){ fuupInit(); });</script><!-- END fuup -->
<!-- BEGIN datepickerEND --><script type="text/javascript" src="{DATEPICKER_URL_JS}jquery-ui.datepicker.js"></script>
<script type="text/javascript" src="{DATEPICKER_URL_JS}i18n/ui.datepicker-cs.js"></script>
<script type="text/javascript">$(document).ready(function(){ datePickerInit(); });</script><!-- END datepickerEND -->
<!-- BEGIN fajaxformEND --><script type="text/javascript" src="{FORM_URL_JS}jquery.form.fcut.min.js"></script>
<script type="text/javascript">$(document).ready(function(){ fajaxform(); });</script><!-- END fajaxformEND -->
<!-- BEGIN userPostEND --><script type="text/javascript">$(document).ready(function(){ initUserPost(); });</script><!-- END userPostEND -->
<!-- BEGIN tabsEND --><script type="text/javascript" src="{TABS_URL_JS}jquery-ui.tabs.js"></script>
<script type="text/javascript">$(document).ready(function(){ tabsInit(); });</script><!-- END tabsEND -->
<!-- BEGIN bbq --><script type="text/javascript" src="{BBQ_URL_JS}jquery.ba-bbq.min.js"></script>
<script type="text/javascript">$(document).ready(function(){ BBQinit(); });</script><!-- END bbq -->
<!-- BEGIN bbq --><script type="text/javascript" src="{BBQ_URL_JS}jquery.ba-bbq.min.js"></script>
<script type="text/javascript">$(document).ready(function(){ BBQinit(); });</script><!-- END bbq -->
<!-- BEGIN userin --><script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">$(document).ready(function(){ userin(); });</script><!-- END userin -->
<script type="text/javascript">$(document).ready(function(){ publicin(); });</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-515522-22");
pageTracker._trackPageview();
} catch(err) {};
</script>
</body>
</html>