<form action="{FORMACTION}" method="post" enctype="multipart/form-data" class="fajaxform">
<!-- BEGIN pageid --><input type="hidden" name="pageId" value="{PAGEID}" /><!-- END pageid -->
<!-- BEGIN t --><input type="hidden" name="t" value="{T}"/><!-- END t -->
<fieldset class="buttonBar">
<input type="submit" name="save" value="Uložit" class="button uibutton submit draftdrop" />
<!-- BEGIN delpage --><input type="submit" name="del" value="Smazat stránku" title="Opravdu chcete smazat tuto stranku?" class="button uibutton confirm" /><!-- END delpage -->    
</fieldset>
<div id="tabs">
<!-- BEGIN tabul --><ul>
<!-- BEGIN settingstab --><li><a href="#tabs-1">Nastaveni</a></li><!-- END settingstab -->
<!-- BEGIN extendedtab --><li><a href="#tabs-9">Specialni</a></li><!-- END extendedtab -->
<!-- BEGIN galeryspecifictabs --><li><a href="#tabs-5">Fotografie</a></li>
<li><a href="#tabs-upload">Nahrat</a></li><!-- END galeryspecifictabs -->
<!-- BEGIN permissionstab --><li><a href="#tabs-2">Pristup</a></li><!-- END permissionstab -->
<!-- BEGIN relatedtab --><li><a href="#tabs-3">Spratelene stranky</a></li><!-- END relatedtab -->
<!-- BEGIN forumspecifictab --><li><a href="#tabs-4">Nastenka</a></li><!-- END forumspecifictab -->
<!-- BEGIN categorytab --><li><a href="#tabs-7">Kategorie</a></li><!-- END categorytab -->
<!-- BEGIN leftpaneltab --><li><a href="#tabs-8">Postranní panel</a></li><!-- END leftpaneltab -->
</ul><!-- END tabul -->
<div id="tabs-1">
<fieldset>
<legend>Nastaveni</legend>
<!-- BEGIN pageowner --><label>Majitel</label><span><a href="{OWNERLINK}">{OWNERNAME}</a></span><br /><!-- END pageowner -->
<label>Název</label>
<input type="text" name="name" value="{PAGENAME}" class="long"><br />
<!-- BEGIN date --><label>Datum</label><input type="text" name="datecontent" value="{DATECONTENT}" class="short datepicker" /><br /><!-- END date -->
<!-- BEGIN sadmi --><label>Zamceni stranky</label><select name="locked">{LOCKEDOPTIONS}</select><br />
<label>Sablona</label><input type="text" name="template" value="{PAGETEMPLATE}" class="short"><br />
<label>Top page</label><input type="text" name="pageIdTop" value="{PAGEIDTOP}" class="short"><br />
<label>SEO Popis</label>
<textarea id="{PAGEDESCRIPTIONID}" class="draftable" name="description">{PAGEDESCRIPTION}</textarea><br />
<!-- END sadmi -->
<!-- BEGIN categories --><label>Kategorie</label><select name="category"><option value="0"></option>{CATOPTIONS}</select> Nova: <input type="text" name="categoryNew" class="short" /><br /><!-- END categories -->
<!-- BEGIN content --><label>Popis</label>
<textarea id="{PAGECONTENTID}" class="markitup draftable expand" name="content">{PAGECONTENT}</textarea>{PAGECONTENTTOOLBOX}<br /><!-- END content -->  
</fieldset>
</div>
<!-- BEGIN extended --><div id="tabs-9">
<!-- BEGIN pageavatarhandler -->
<fieldset>
<legend>Avatar</legend>      
<!-- BEGIN pageavatarupload -->
<label>Ikona (60x25px)</label>
<div id="pava" class="fuup">
<input type="file" name="audico" /></div><br />
<label> - nebo URL </label><input type="text" value="" name="audicourl" /><br />
<div id="pageavatarBox"><!-- BEGIN pageavatar -->
<label>&nbsp;</label><img src="{PAGEICOLINK}" /> <input value="Smazat" title="Opravdu chcete smazat avatar stranky?" type="submit" name="delpageavatar" class="button confirm" /><br />
<!-- END pageavatar --></div>
<!-- END pageavatarupload -->
</fieldset>
<!-- END pageavatarhandler -->
<!-- BEGIN galeryspecific -->
<fieldset>
<legend>Galerie</legend>
<label>Velikos náhledu</label><input type="text" name="xwidthpx" value="{GTHUMBWIDTH}" class="xShort" /> x 
<input type="text" name="xheightpx" value="{GTHUMBHEIGHT}" class="xShort" /> - Šířka px x vyska px<br />
<label>Styl nahledu</label><select name="xthumbstyle">
<option value="1">Bez orezu</option>
<option value="2"<!-- BEGIN galerythumbstyle2 --> selected="selected"<!-- END galerythumbstyle2 -->>Orez na format</option>
</select><br />
</fieldset>
<!-- END galeryspecific -->
<fieldset>
<legend>Mapy</legend>
<label>Ukaz na mape</label><textarea id="position" class="geoInput" name="position" title="Zadejte polohu">{POSITION}</textarea>
</fieldset>
<!-- BEGIN forumreaction -->
<fieldset>
<legend>Komentare</legend>
<label>Komentare:</label><select name="forumReact">
<option value="1"<!-- BEGIN fforum1 --> selected="selected"<!-- END fforum1 -->>Povolit reakce</option>
<option value="2"<!-- BEGIN fforum2 --> selected="selected"<!-- END fforum2 -->>Pouze pro registrovane</option>
<option value="0"<!-- BEGIN fforum0 --> selected="selected"<!-- END fforum0 -->>Zakazat diskuzi</option>
</select>
</fieldset>
<!-- END forumreaction -->
<!-- BEGIN site --><fieldset>
<legend>Website</legend>
<label>Homesite:</label> <input type="text" name="homesite" value="{HOMESITE}" /> <br />
</fieldset><!-- END site -->
</div><!-- END extended -->

<!-- BEGIN forumspecific --><div id="tabs-4"><fieldset><legend>Nastenka klubu</legend>
<textarea id="{HOMEID}" name="forumhome" class="markitup draftable largeTextarea expand">{CONTENT}</textarea>
</fieldset>
</div><!-- END forumspecific -->
<!-- BEGIN galeryspecificcontent --><div id="tabs-5">
<fieldset>
<legend>Seznam fotografii</legend>
<label>Celkem v galerii:</label><span id="fotoTotal">{FOTOTOTAL}</span><br />
<label>Řadit:</label><select name="galeryorder">
<option value="0">Podle jména</option>
<option value="1"<!-- BEGIN gorddate --> selected="selected"<!-- END gorddate -->>Podle data fotky (od nejnovějších)</option>
</select><br />
<div id="fotoList"><!-- BEGIN gfoto -->{FOTOLIST}<!-- END gfoto --></div>
</fieldset>
</div>
<div id="tabs-upload">
<fieldset>
<legend>Nahrát fotografie</legend>
<div class="fuup" id="fuga">
<a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a><br />
<!-- BEGIN uploadinput --><label>{UPLOADINPUTLABEL}</label><input type="file" name="upfoto{UPLOADINPUTID}" /><br /><!-- END uploadinput -->
</div>
<div id="uploadTip" class="hidden">
<img src="[[ASSETS_URL]]uploadtip.png" class="leftbox rightPadded" />Tlačítkem "VYBRAT" vyberte fotky které chcete umístit do alba.<br />
Tlačítkem "NAHRÁT" se fotografie automaticky zmenší a uloží na server.<br />
Před uložením můžete vybrané fotografie pootočit.<br />
<strong>Tip při výběru fotografií</strong><br />
Při výběru fotografií mMůžete vybrat více najednou držením klávesy CTRL při klikání myší.
</div>
</fieldset>
</div><!-- END galeryspecificcontent -->

<!-- BEGIN perm --><div id="tabs-2">{PAGEPERMISIONSFORM}</div><!-- END perm -->
<!-- BEGIN relations --><div id="tabs-3">{RELATIONSFORM}</div><!-- END relations -->
<!-- BEGIN categoryedit --><div id="tabs-7">{PAGECATEGORYEDIT}</div><!-- END categoryedit -->
<!-- BEGIN leftpaneledit --><div id="tabs-8">
<fieldset>
<textarea id="sidebar" name="sidebar" class="markitup draftable largeTextarea expand">{SIDEBAR}</textarea>
</fieldset>
</div><!-- END leftpaneledit -->
</div>
</form>