<!-- BEGIN header --><div class="bottomPadded">{HEADER}</div><!-- END header -->
<div id="editForm">{EDITFORM}</div>
<!-- BEGIN detail --><div id="itemDetail">{DETAIL}</div><!-- END detail -->
<div id="messageForm">{MESSAGEFORM}</div>
<!-- BEGIN message --><p>{MESSAGE}</p><!-- END message -->
<!-- BEGIN itemlist --><!-- BEGIN toppager --><div id="topPager">{TOPPAGER}</div><!-- END toppager -->
<div id="itemFeed" class="hfeed<!-- BEGIN vcalendar --> vcalendar<!-- END vcalendar -->">{ITEMS}</div>
<!-- BEGIN botpager --><div id="bottomPager">{BOTTOMPAGER}</div><!-- END botpager -->
<!-- BEGIN feedempty --><p>Žádná data k dispozici</p><!-- END feedempty --><!-- END itemlist -->