<script language="javascript" src="js/OptionTransfer.js"></script>
<script language="javascript">
var opt = new OptionTransfer("listLeft","listRight");
opt.setAutoSort(true);
opt.setDelimiter(";");
//opt.setstaticoptionregex("^(bill|bob|matt)$");
opt.saveRemovedLeftOptions("removedLeft");
opt.saveRemovedRightOptions("removedRight");
opt.saveAddedLeftOptions("addedLeft");
opt.saveAddedRightOptions("addedRight");
opt.saveNewLeftOptions("newLeft");
opt.saveNewRightOptions("newRight");
</script>
<h3>Spratelene stranky</h3>
<div id="pagesRelations">
<label>&nbsp;</label>
<table border=0>
<tr>
	<td align="center">
	<div><strong>Dostupne stranky</strong></div>
	<select name="listLeft" id="listLeft" multiple size=10 style="width:300px;" ondblclick="opt.transferRight()">
	  {OPTIONSLEFT}
	</select><br />
	Filtr: <input type="text" name="relFiltr" value="" onkeyup="optSetFilter(this.value);" />
	</td>
	<td valign="middle" align="center"><br /><br />
		<input type="button" name="right" value="&gt;&gt;" onclick="opt.transferAllRight()" /><br />
    <input type="button" name="right" value=" &gt; " onclick="opt.transferRight()" /><br />
		<input type="button" name="left" value=" &lt; " onclick="opt.transferLeft()" /><br />
		<input type="button" name="left" value="&lt;&lt;" onclick="opt.transferAllLeft()" />
	</td>
	<td align="center">
	<div><strong>Spratelene stranky</strong></div>
	<select name="listRight" id="listRight" multiple size=10 ondblclick="opt.transferLeft()" style="width:300px;">
		{OPTIONSRIGHT}
	</select>
	</td>
</tr>
</table>
<input type="hidden" name="removedLeft" id="removedLeft" value="" />
<input type="hidden" name="removedRight" id="removedRight" value="" />
<input type="hidden" name="addedLeft" id="addedLeft" value="" />
<input type="hidden" name="addedRight" id="addedRight" value="" />
<input type="hidden" name="newLeft" id="newLeft" value="" />
<input type="hidden" name="newRight" id="newRight" value="" />
</div>
<script type="text/javascript">opt.init();</script>