<h2>Vlastní<!-- BEGIN ownerforumsnew --> <span title="Nove" class="postsNew">{OWNERNEW}</span><!-- END ownerforumsnew --></h2>
{PAGELINKSOWN}<!-- BEGIN ownnone --><a href="{CREATETYPE}">Vytvorit novou stranku: {TYPE}</a><!-- END ownnone -->
<h2>Oblibene<!-- BEGIN bookedforumsnew --> <span title="Nove" class="postsNew">{BOOKEDNEW}</span><!-- END bookedforumsnew --></h2>
{PAGELINKSBOOKED}<!-- BEGIN favoritenone --><a href="{FINDFAVORITE}">Najdete si oblibene</a> Na kazde strance (v klubu, galerii nebo blogu) v horni casti najdete tlacitko "Do oblibenych"<!-- END favoritenone -->
<!-- BEGIN newforums --><h2>Nove</h2>
{PAGELINKSNEW}<!-- END newforums -->
