<div id="tabs">
	<ul>
	<li><a href="#items">Prispevky</a></li>
	<li><a href="#pages">Stranky</a></li>
	<li><a href="#users">Uzivatele</a></li>
	</ul>
	<div id="items">
	<!-- BEGIN items -->{ITEMS}
	<!-- BEGIN itemspager -->{ITEMSPAGER}<!-- END itemspager -->
	<!-- END items -->
	<!-- BEGIN noitems --><p align="center">Nenalezeny žádná prizpevky vyhovující podmínkám vyhledavani</p><!-- END noitems -->
	</div>
	<div id="pages">
	<!-- BEGIN pages -->{PAGES}
	<!-- BEGIN pagespager -->{PAGESPAGER}<!-- END pagespager -->
	<!-- END pages -->
	<!-- BEGIN nopages --><p align="center">Nenalezena žádná stranka vyhovující podmínkám</p><!-- END nopages -->
	</div>
	<div id="users">
	<!-- BEGIN users -->{USERS}
	<!-- BEGIN userspager -->{USERSPAGER}<!-- END userspager -->
	<!-- END users -->
	<!-- BEGIN nousers --><p align="center">Nenalezena žádná stranka vyhovující podmínkám</p><!-- END nousers -->
	</div>
</div>