<fieldset><legend>{HEADERLABEL}</legend>
<label>{SELECTLABEL}</label><select id="accessSel" name="{SELECTNAME}" onChange="setRules();">{SELECTOPTIONS}</select><br />
<!-- BEGIN rules -->
<div id="rule{RULESNUM}"><label for="permArea{RULESNUM}">{RULESNAME}</label><textarea id="permArea{RULESNUM}" name="rule[{RULESNUM}]">{RULESCONTENT}</textarea></div>
<!-- END rules -->
<label>{HELPLABEL}</label>{HELPTEXT}<br />
<input type="submit" name="save" value="Ulozit" class="button submit" />
</fieldset>
<script type="text/javascript">
/* <![CDATA[ */
	function setRules() {
	   var display = 'none';
	   var accessSel = document.getElementById('accessSel');
	   if(accessSel.options[accessSel.selectedIndex].value==0) { display = 'block'; }
	   document.getElementById('rule1').style.display = display;
	}
	setRules();
/* ]]> */
</script>