<div class="vevent">
<h3 class="summary"><a href="{EVENTURL}" class="url bookmark">{NAME}</a></h3>
<!-- BEGIN flyer -->
<div class="flyer"><a href="{FLYERURL}" class="popupLink"><img src="{FLYERTHUMBURL}" title="Letak {FLYERNAME}" alt="{FLYERNAME}" /></a></div>
<!-- END flyer -->
<!-- BEGIN cat --><h4 class="category">{CATEGORY}</h4><!-- END cat -->
<span class="abbr" title="{DATEISO}"><abbr class="dtstart" title="{DATEISO}">{DATELOCAL}</abbr></span>
<span class="location"><!-- BEGIN catplace -->{CATEGORYPLACE}<br /><!-- END catplace -->
<!-- BEGIN place -->{PLACE}<!-- END place --></span>
</div>