<h3 class="calendarHeader">{CURRENTMONTH} {CURRENTYEAR}</h3>

<table>
  <thead>
  <tr>
  <!-- BEGIN daysheader --><th>{DAYSHORTCUT}</th><!-- END daysheader -->
  </tr>
  </thead>
  <tbody>
  <!-- BEGIN row -->
  <tr>
	 <!-- BEGIN column -->
		<td<!-- BEGIN tdclass --> class="<!-- BEGIN dayblank -->dayBlank<!-- END dayblank --><!-- BEGIN dayCurrent --> calendarDayCurrent<!-- END dayCurrent --><!-- BEGIN dayEvent --> calendarDayEvent<!-- END dayEvent -->"<!-- END tdclass -->>
		<!-- BEGIN day --><a href="{DIARYURL}"<!-- BEGIN calclass --> class="<!-- BEGIN tip -->supernote-hover-{TAGDAYID}<!-- END tip -->"<!-- END calclass -->>{DAY}</a><!-- END day -->
		</td>
	<!-- END column -->
	</tr>
<!-- END row -->

<tr>
<td colspan="3" class="calendarPreviousMonthLink dayBlank">
  <a href="{PREVIOUSMONTHURL}"<!-- BEGIN xclickprev --> onclick='xajax_fcalendar_monthSwitch("{XYEARPREV}","{XMONTHPREV}");return false;'<!-- END xclickprev --> class="lnktoday">&lt;&lt; {PREVIOUSMONTH}</a>
</td><td class="dayBlank"></td><td colspan="3" class="calendarNextMonthLink dayBlank">
  <a href="{NEXTMONTHURL}"<!-- BEGIN xclicknext --> onclick='xajax_fcalendar_monthSwitch("{XYEARNEXT}","{XMONTHNEXT}");return false;'<!-- END xclicknext --> class="lnktoday">{NEXTMONTH} &gt;&gt;</a>
</td>
</tr>
</tbody>
</table>

<!-- BEGIN eventday -->
<div id="supernote-note-{DAYID}" class="snp-triggeroffset notemenu">
<!-- BEGIN event --><a href="{EVENTLINK}">{EVENTLABEL}</a><br /><!-- END event -->
</div>
<!-- END eventday -->