<div class="vcalendar">
<div class="vevent">
<!-- BEGIN flyer --><a href="{IMGURL}" rel="lightbox"><img class="eventFlyerThumb" src="{IMGURLTHUMB}" title="Leták {IMGTITLE}" alt="{IMGALT}" /></a><!-- END flyer -->
<!-- BEGIN flyerdefault --><img class="eventFlyerThumb" src="[[URL_SKIN]]{FLYERTHUMBURLDEFAULT}" /><!-- END flyerdefault -->
<div class="description">
<h2 class="entry-title summary"><a href="{TITLEURL}" class="url">{TITLE}</a></h2>
<div class="date"><span class="abbr" title="{STARTDATETIMEISO}"><abbr class="dtstart" title="{STARTDATETIMEISO}">{STARTDATETIMELOCAL}</abbr></span></div>
<div class="location"><strong>{LOCATION}</strong></div>
</div>
<div class="clearbox"></div>
</div>
</div>