<div id="loggedUserContainer">
	<h2><a href="?k=finfo">{NAME}</a></h2>
	<div id="avatarBox">{AVATAR}</div>
	<ul>
    <!-- BEGIN fuvatar --><li class="fuvatarStart"><a href="/fuvatar/fuvatar.html?width=355&height=195" class="popupLink">FuvatarCam</a></li><!-- END fuvatar -->
		<li class="onlineUsers"><a href="?k=frien">Pratele</a> <!-- BEGIN requests --><a href="?k=frien" class="requests" title="Pozadavky na pratele">{REQUESTSNUM}</a>/<!-- END requests -->{ONLINE}</li>
		<!-- BEGIN diary --><li class="recentEvents"><a href="?k=fdiar">Diar</a> <!-- BEGIN diaryactive -->{DIARY}<!-- END diaryactive --></li><!-- END diary -->
		<li class="recentMails"><a href="?k=fpost">Posta</a> <!-- BEGIN newpost --><span class="messageNew"><a href="?k=fpost">Nove zpravy:</a><br />{NEWPOST} <a href="?k=fpost" class="recentSender">{NEWPOSTFROMNAME}</a><!-- END newpost --></span></li>
		<li><a href="?k=elogo">Odhlaseni</a></li>
	</ul>
</div>