<form name="login" action="{FORMACTION}" method="post">
<p id="login">
<label for="loginInput">login</label><input id="loginInput" type="text" name="fna" title="Uzivatelske jmeno" /><br />
<label for="loginPassword">heslo</label><input id="loginPassword" type="password" name="fpa" title="Uzivatelske heslo" /><br />
<!-- BEGIN reglink --><p id="registrationLinkContainer"><a href="?k=roger">Registrace</a></p><!-- END reglink -->
<input type="hidden" name="lgn" value="Login" />
<input type="submit" value="login" id="loginButton" />
</p>
</form>
<script language="JavaScript">
<!--
document.login.fna.focus();
//-->
</script>