<!-- BEGIN pagelist -->
<form action="{LISTFORMACTION}" method="post">
<fieldset>
<select name="type"><option value="0"> -- typ -- </option>{TYPEOPTIONS}</select> 
<select name="orde">
<option value="0">Od nejnovějších</option>
<option value="1"<!-- BEGIN sortabc --> selected="selected"<!-- END sortabc -->>Abecedně</option>
</select>  
<select name="cate"><option value="-1"> -- kategorie -- </option>{FILTROPTIONS}</select> 
<select name="lock"><option value="-1"> -- zamykani -- </option>{LOCKOPTIONS}</select><br />
<label for="search">Vyhledavani</label><input type="text" name="sear" value="{SEARCH}" id="search" />   
<input type="submit" name="nav" value="Nastavit / Uložit" />
</fieldset>

<table>
  <!-- BEGIN result -->
  <tr>
  <td>{LNAME}</td>
  <td><a href="?k={LPAGEID}">Na stranku</a></td>
  <td><a href="?k={LEDITLINK}">Nastaveni</a></td>
  <td><input type="hidden" name="pcato[{LPAGEID}]" value="{LCATEGORYID}" />
  		<select name="pcatn[{LPAGEID}].']"><option value="0"></option>{LCATOPTIONS}</select></td>
  <td>{LLOCKED}</td>
  </tr>
<!-- END result -->	
</table>
</form>
<!-- BEGIN pager --><div class="pager">{PAGER}</div><!-- END pager -->
<!-- END pagelist -->