{WEBCAM}
<!-- BEGIN mycomment -->
<form action="{FORMACTION}" method="post">
<fieldset>
<label>Muj komentář</label><input type="text" name="koment" value="{MYCOMMENT}" /><br />
	<input type="submit" name="save" value="Uložit" class="button submit" /> 
Pridanim komentare se uzivatel prida do Vasi skupiny pratel<br />
<input type="hidden" name="who" value="{WHOSELECTED}">
</fieldset>
</form>
<!-- END mycomment -->
<p>
<label>&nbsp;</label><span>{AVATAR}</span><br />
<label>Nick</label><span>{NAME}</span><br />
<!-- BEGIN homelink -->
<label>Fundekave home</label><span><a href="?k={HOMEPAGEID}">{HOMEPAGEUSERNAME}.fundekave.net</a></span><br />
<!-- END homelink -->
<label>E-mail</label><span><!-- BEGIN email --><a href="mailto:{EMAIL}">{EMAIL}</a><!-- END email --></span><br />
<label>ICQ</label><span><!-- BEGIN icq -->{ICQ} <img src="http://status.icq.com/online.gif?icq={ICQ}&amp;img=21"><!-- END icq --></span><br />
<label>Homepage</label><span><!-- BEGIN www --><a href="{WWW}">{WWW}</a><!-- END www --></span><br />
<label>Motto</label><span>{MOTTO}</span><br />
<label>Nejčastější výskyt</label><span>{PLACE}</span><br />
<label>Nejoblíbenější jídlo</label><span>{FOOD}</span><br />
<label>HoBBy</label><span>{HOBBY}</span><br />
<label>O všem</label><span>{ABOUT}</span><br />
<label>Skin</label><span>{SKINNAME}</span><br />
<label>Registrace</label><span>{DATECREATE}</span><br />
<label>Poslední přístup</label><span>{DATEUPDATED}</span><br />
</p>

<!-- BEGIN friendcomment -->
<p>
<label>{USERAVATAR}<br />
<a href="{USERLINK}">{USERNAME}</a></label><span>{USERCOMMENT}</span><br style="clear: both;" />
</p>
<!-- END friendcomment -->