<!-- BEGIN useravatar -->
<!-- BEGIN avatar -->
<!-- BEGIN linkavatarstart --><a href="{AVATARLINK}"<!-- BEGIN linkavatarclass --> class="{AVATARLINKCLASS}"<!-- END linkavatarclass -->><!-- END linkavatarstart -->
<img src="{AVATARURL}" alt="{AVATARUSERNAME}" class="userAvatar <!-- BEGIN imgavatarclass --> {AVATARCLASS}<!-- END imgavatarclass -->" />
<!-- BEGIN linkavatarend --></a><!-- END linkavatarend -->
<!-- END avatar -->
<!-- BEGIN name -->
<br />
<!-- BEGIN linknamestart --><a href="{NAMEURL}" class="NAMECLASS"><!-- END linknamestart -->
{USERNAME}
<!-- BEGIN linknameend --></a><!-- END linknameend -->
<!-- END name -->
<!-- END useravatar -->

<!-- BEGIN tooltip -->
<div id="{TOOLTIPID}" class="{TIPCLASS}">
<h5>{TIPUSERNAME}</h5>
<ul>
<!-- BEGIN tip -->
<li><a href="{TIPURL}"<!-- BEGIN tipid --> id="{TIPID}"<!-- END tipid --><!-- BEGIN click --> onClick="{TIPCLICK}"<!-- END click -->>{TIPTEXT}</a></li>
<!-- END tip -->
</ul>
</div>
<!-- END tooltip -->