<!-- BEGIN registration -->
<form action="{FORMACTION}" method="post" name="reg">
<div>
<label class="long">Uzivatelske jmeno</label><input type="text" name="jmenoreg" value="" /><br />
<label class="long">Heslo</label><input type="password" name="pwdreg1" /><br />
<label class="long">Overeni hesla</label><input type="password" name="pwdreg2" /><br />
<label class="long">&nbsp;</label><input type="submit" name="addusr" value="Registrovat" class="button"><br />
</div>
</form>
<!-- END registration -->
<!-- BEGIN noregistration -->
<p><strong>Nez se zacnete registrovat se prosim odhlaste</strong></p>{DUMMYNO}
<!-- END noregistration -->