body {
	background: url(images/page-bg.png) repeat scroll 0 150px #fff;
}
.navbar-static-top {
	margin-bottom: 0;
}
#top-row {
	background-color: #fff;
	margin-top: 15px;
	padding-top: 15px;
}