RewriteEngine on

RewriteCond %{HTTP_HOST} ^www.fundekave.net$
RewriteRule (.*) http://fundekave.net/$1 [R=301,QSA,L]

RewriteCond %{HTTP_HOST} noiz.cz$
RewriteRule (.*) http://noiz.fundekave.net/$1 [R=301,QSA,L]


RewriteBase /fdk5/
RewriteRule ^pic/|pic.php.* index.php [QSA,L]
RewriteRule ^files/|files.php.* index.php [QSA,L]
RewriteRule ^rss|frss.php.* index.php [QSA,L]
RewriteRule ^crossdomain.xml index.php?cross=1 [L]
RewriteRule ^ca.php.* index.php [QSA,L]
RewriteRule ^image/([0-9]*)/([a-z]*)/(.*) image.php?side=$1&cut=$2&img=$3 [QSA,L]

RewriteRule (.*\.css)$ index.php?header_handler=1&c=$1 [L]
RewriteRule (.*\.js)$ index.php?header_handler=1&c=$1 [L]
RewriteRule (.*\.gif)$ index.php?header_handler=1&c=$1 [L]
RewriteRule (.*\.jpg)$ index.php?header_handler=1&c=$1 [L]
RewriteRule (.*\.png)$ index.php?header_handler=1&c=$1 [L]
RewriteRule (.*\.ico)$ index.php?header_handler=1&c=$1 [L]





