RewriteEngine On

RewriteCond %{HTTP_HOST} ^www.fundekave.net$
RewriteRule (.*) http://fundekave.net/$1 [R=301,QSA,L]

#RewriteBase /
#RewriteCond %{REQUEST_URI} !^js
#RewriteCond %{REQUEST_URI} !^obr
#RewriteCond %{REQUEST_URI} !^fuvatar
#RewriteCond %{REQUEST_URI} !^data
#RewriteCond %{REQUEST_URI} !^css
#RewriteCond %{REQUEST_URI} !^gbooks
#RewriteCond %{REQUEST_URI} !^o_O
#RewriteRule ^([A-Za-z0-9-\_]+)/?$ ?u=$1 [L,QSA]
#RewriteRule ^item-([0-9]+)-([A-Za-z0-9-\_]+)\.html$ index.php?i=$1 [L,QSA]

RewriteBase /
RewriteRule ^tip-([0-9]+)-([A-Za-z0-9-\_]+)\.html$ index.php?i=$1 [L,QSA]