div.errormsg {
}
#forumForm {
}
div.listitems {

}
div.itemhead {
}
div.itemdate {
	text-align: right;
}
div.itemname {
  font-weight: bold;
}
div.itemtext {
  
}

body 
{
	
}

A 
{ 
	
}
A:hover 
{
	
}
INPUT.button {
  margin-left: 60px;
}
INPUT
{
  background-color: #FFFFFF;
	border: 1px solid Black;
	font-size: 10px;
}

LABEL {
	display: inline-block;
	min-width: 60px;
  font-size: 0.9em;
}

TEXTAREA
{
  border: 1px solid Black;
	width: 250px;
	text-align: left;
}
