<div class="panel panel-default">
<div class="panel-heading"><h3 class="panel-title">Nahrát fotografie</h3></div>
<div class="panel-body">
<div class="row">
<div id="uploadControls" class="col-md-12">
<button type="button" id="uploadButt" class="btn btn-success" disabled="disabled">Nahrát do alba</button>
<button type="button" id="cancelButt" class="btn btn-warning" disabled="disabled">Zastavit</button>
<button type="button" id="removeAllButt" class="btn btn-danger" disabled="disabled">Reset</button>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="fuup" id="fuga">
<a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a>
</div>
</div>
</div>
<div id="uploadTip">
<img src="[[ASSETS_URL]]uploadtip.png" class="pull-left" />Tlačítkem <strong>+</strong> vyberte fotky které chcete umístit do alba.<br />
Tlačítkem <strong>Nahrát do alba</strong> se fotografie automaticky zmenší a uloží na server.<br />
Před uložením můžete vybrané fotografie pootočit.<br />
<strong>Tip při výběru fotografií</strong><br />
Při výběru fotografií Můžete vybrat více najednou držením klávesy CTRL při klikání myší.
</div>
</fieldset>
</div>
</div>