<div class="well">
<form role="form" action="{FORMACTION}" method="post" name="itemForm" id="itemForm" class="form-horizontal fajaxform<!-- BEGIN classnotpublic --> notpublished<!-- END classnotpublic -->">
	<input type="hidden" name="m" value="{M}"/>
	<input type="hidden" name="t" value="{T}"/>
	<!-- BEGIN edit --><input id="i" name="i" value="{ITEMID}" type="hidden"><!-- END edit -->

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" id="submitButtonSave" name="save" class="btn btn-success submit">Uložit</button>
			<!-- BEGIN delete --><button type="submit" id="submitButtonDelete" name="delete" class="btn btn-danger confirm" title="Opravdu chcete odstranit tento článek?">Smazat</button><!-- END delete -->
		</div>
	</div>
	

	<ul class="nav nav-tabs">
		<li class="active"><a href="#tabs-1" data-toggle="tab">Nastaveni</a></li>
		<li><a href="#tabs-2" data-toggle="tab">Specialni</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane fade in active" id="tabs-1">
<fieldset>
<legend>Událost<!-- BEGIN headernotpublic --> - nepublikovany<!-- END headernotpublic --></legend>

	<div class="form-group">
		<label for="public" class="col-sm-2 control-label">Přístup</label>
		<div class="col-sm-10">
			<select name="public" id="public" class="form-control">
			<option value="0"<!-- BEGIN public0 --> selected="selected"<!-- END public0 -->>Nepublikovany</option>
			<option value="1"<!-- BEGIN public1 --> selected="selected"<!-- END public1 -->>Verejny - vidi vsichni</option>
			<option value="2"<!-- BEGIN public2 --> selected="selected"<!-- END public2 -->>Poloverejny - vidi pouze registrovani</option>
			<option value="3"<!-- BEGIN public3 --> selected="selected"<!-- END public3 -->>Soukromy - vidi pratele</option>
			</select>
		</div>
	</div>

	<div class="form-group">
	<label for="repeat" class="col-sm-2 control-label">Opakování</label>
	<div class="col-sm-10">
		<select name="repeat" id="repeat" class="form-control">
		<option value="none">Neopakovat</option>
		<option value="month"<!-- BEGIN repeatmonth --> selected="selected"<!-- END repeatmonth -->>Každý měsíc</option>
		<option value="year"<!-- BEGIN repeatyear --> selected="selected"<!-- END repeatyear -->>Každý rok</option>
		</select>
	</div>
	</div>
	
	<div class="form-group">
	<label for="categoryId" class="col-sm-2 control-label">Kategorie</label>
	<div class="col-sm-4">
		<select id="categoryId" name="category" class="form-control"><option value="0"></option>{CATEGORYOPTIONS}</select> 
	</div>
	<label for="categoryId" class="col-sm-2 control-label">nová</label>
	<div class="col-sm-4">
		<input type="text"  class="form-control" name="categoryNew" class="short" />
	</div>
</div>

<div class="form-group">
	<label for="formHeader" class="col-sm-2 control-label">Nadpis</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="formHeader" name="addon" value="{TITLE}">
	</div>
</div>

<div class="form-group">
	<label for="formLocation" class="col-sm-2 control-label">Místo</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="formLocation" name="location" value="{LOCATION}">
	</div>
</div>

<div class="form-group">
	<label for="datestart" class="col-sm-2 control-label">Kdy</label>
	<div class="col-sm-5">
		<input id="datestart" name="dateStartLocal" value="{DATESTART}" type="text" class="form-control date" placeholder="Datum Od">
	</div>
	<label for="timestart" class="col-sm-2 control-label">Čas</label>
	<div class="col-sm-3">
		<input id="timestart" name="dateStartTime" value="{TIMESTART}" type="text" class="form-control timepicker">
	</div>
</div>

<div class="form-group">
	<label for="dateend" class="col-sm-2 control-label"></label>
	<div class="col-sm-5">
		<input id="dateend" name="dateEndLocal" value="{DATEEND}" type="text" class="form-control date" placeholder="Datum Do">
	</div>
	<label for="formDate" class="col-sm-2 control-label">Čas do</label>
	<div class="col-sm-3">
		<input id="formDate" name="dateEntTime" value="{TIMEEND}" type="text" class="form-control timepicker">
	</div>
</div>

</fieldset>
<fieldset>
<legend>Obrázek</legend>
<div id="tempStore" class="filepond">
	<input type="file" name="imageFile" data-filepond-max-files="1" accept="image/gif, image/jpeg, image/png" data-filepond-instant-upload="true">
</div>
<div class="form-group">
<div id="imageHolder"  class="col-md-offset-2 col-sm-10">
<!-- BEGIN image -->
<a rel="lightbox" href="{IMAGEURL}"><img class="img-thumbnail pull-left" src="{IMAGETHUMBURL}" /></a>
<button id="tempStoreButt" type="submit" name="deleteImage" title="Opravdu chcete smazat obrázek?" class="btn btn-danger  confirm">Smazat</button>
<!-- END image -->
</div>
</div>
</fieldset>
<fieldset>
<legend>Text</legend>
	<textarea name="text" id="{TEXTID}" class="form-control markitup" row="3">{TEXT}</textarea>
</fieldset>
</div>

<div class="tab-pane fade" id="tabs-2">
<!--
<fieldset>
<legend>Mapy</legend>

<div class="form-group">
	<label for="position" class="col-sm-2 control-label">Ukaz na mape</label>
	<div class="col-sm-10">
		<textarea id="position" class="form-control geoInput" name="position" row="3" title="Zadejte polohu">{POSITION}</textarea>
	</div>
</div>
</fieldset>
-->
<fieldset>
<legend>Nastavení</legend>

<div class="form-group">
	<label for="forumSet" class="col-sm-2 control-label">Komentáře</label>
	<div class="col-sm-10">
		<select id="forumSet" name="forumset"  class="form-control">
		<option value="1"<!-- BEGIN comments1 --> selected="selected"<!-- END comments1 -->>Veřejná diskuze</option>
		<option value="2"<!-- BEGIN comments2 --> selected="selected"<!-- END comments2 -->>Pouze pro registrovane</option>
		<option value="0"<!-- BEGIN comments0 --> selected="selected"<!-- END comments0 -->>Diskuze zakázaná</option>
		</select>
	</div>
</div>

</fieldset>


</div>  
</div>
</form>
</div>