<a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseCommentForm">Přidat komentář</a>
<div id="collapseCommentForm" class="collapse">
<form id="commentForm" class="form-horizontal<!-- BEGIN fajaxform --> fajaxform<!-- END fajaxform -->" role="form" action="{FORMACTION}" method="post" name="audit">
<input type="hidden" name="m" value="{M}"/>
<input type="hidden" name="t" value="{T}"/>
<!-- BEGIN edit --><input id="ti" name="ti" value="{ITEMID}" type="hidden"/><!-- END edit -->
<fieldset>

<!-- BEGIN usernotlogged --><div class="form-group">
	<label for="inputName" class="col-sm-2 control-label">Jméno</label>
	<div class="col-sm-10">
	  <input type="text" name="name" class="form-control" id="inputName" value="{USERNAME}>
	</div>
</div><!-- END usernotlogged -->

<div class="form-group">
	<label for="{TEXTID}" class="col-sm-2 control-label">Text</label>
	<div class="col-sm-8">
		<textarea id="{TEXTID}" class="form-control expand" name="text" rows="3">{TEXT}</textarea>
	</div>
</div>
<div class="form-group">
	<label for="position" class="col-sm-2 control-label">Na mapě</label>
	<div class="col-sm-8">
		<div class="geoForumBox"><textarea id="position" class="geoInput" name="position" title="Zadejte polohu">{POSITION}</textarea></div>
	</div>
</div>
<!-- BEGIN usersigned -->
<div class="form-group">
	<label class="col-sm-2 control-label">Přidat obrázek</label>
	<div class="col-sm-8">
		<span id="tempStore" class="fuup"></span><div id="imageHolder" class="row"></div>
	</div>
</div>
<!-- END usersigned -->
<!-- BEGIN recap -->
<div class="form-group">
	<label class="col-sm-2 control-label">Anti-spam</label>
	<div class="col-sm-8">
		<div id="recaptchaBox">{RECAPTCHA}</div>
	</div>
</div>
<!-- END recap -->
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
		<button type="submit" name="send" class="btn btn-info">Odeslat</button>
	</div>
</div>

</fieldset>
</form>
</div>