<div class="row">
<div class="col-md-{BS_COLS}">
<div class="panel panel-default">
<div class="panel-body">
<a name="detail"></a>
<div id="fullscreenBox">
	<div class="gallery">
		<!-- BEGIN cell --><div class="gallery-cell showProgress" data-itemid="{ITEMID}">
			<div>
				<div class="image-desc innerPhotoToolbar">
				<a href="?i={ITEMID}&do=comment#messageForm" class="commentLink"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><span class="commentNum">{NUM_COMMENTS}</span></a><br>
				<!--<a href="?i={ITEMID}" title="Share"><span class="glyphicon glyphicon-share"></span></a>-->
				</div>
				<div class="image-box">
				<img class="gallery-cell-image" src="{IMGURL}"<!-- BEGIN lazy --> data-lazy="{IMGURLLAZY}"<!-- END lazy --> id="{ITEMID}" title="{TEXT}" />
				<!-- BEGIN desc --><div class="image-desc"><!-- BEGIN editdesc --><div id="editForm-{ITEMIDEDIT}"></div><a href="?m=item-edit&d=i={ITEMIDEDIT};t=galery;target=editForm-{ITEMIDEDIT}" class="fajaxa edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></a><!-- END editdesc --><span id="image-desc-{ITEMIDDESC}">{IMGDESC}</span></div><!-- END desc -->
				</div>
			</div>
		</div><!-- END cell -->
	</div>
	<div id="photoToolbar">
		<a href="#" id="aSlideshow" title="Start/Stop slideshow"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
		<a href="#" class="aFullscreen" title="Toggle fullscreen"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span></a>
		<a href="{ALBUMURL}" title="Back to album thumbnails"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a><br>
		<div class="bottlef">
			<a id="galleryPrev" title="Previous photo"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
		</div>
		<div class="bottrig">
			<a id="galleryNext" title="Next photo"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
		</div>
	</div>
</div>
<div id="mapThumb" class="goomap-thumb pull-right">{GOOMAPTHUMB}</div>
<!-- BEGIN description --><p id="description" class="text-center">{TEXT}</p><!-- END description -->
<!-- BEGIN goomap --><div id="map" class="goomap">{GOOMAP}</div><!-- END goomap -->
</div>
</div>
</div>
</div>