<!-- gallery js-flickity" data-flickity-options='{ "lazyLoad": 1, "wrapAround": true }' -->
<!-- 
<div class="gallery-cell"
<img class="gallery-cell-image" srca="{IMGURLTHUMB}" data-image="{IMGURLTHUMB}" id="{ITEMID}" data-flickity-lazyload="{IMGURL}" data-big="{IMGURLBIG}" title="{TEXT}" /> -->
<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-body">
<a name="detail"></a>
<div id="fullscreenBox" class="showProgress">
	<div id="photoToolbar">
		<div class="icon48bar">
			<div class="pull-right">
				<a href="#" id="aSlideshow"><img src="[[URL_CSS]]images/play.png" title="Start slideshow" alt="Play/Stop"/></a>
				<a href="#" class="aFullscreen"><img src="[[URL_CSS]]images/fullscreen.png" title="Go to fullscreen mode" alt="Fullscreen"/></a>
			</div>
			<a href="{ALBUMURL}"><img src="[[URL_CSS]]images/thumbnails.png" title="Back to album" alt="Album"/></a>
		</div>
	</div>

	<div class="gallery js-flickity" data-flickity-options='{"wrapAround": true,"imagesLoaded": true,"pageDots": false }'>
		<!-- BEGIN cell --><div class="gallery-cell" data-itemid="{ITEMID}">
			<img class="gallery-cell-image" src="{IMGURL}" data-lazy="{IMGURLLAZY}" id="{ITEMID}" title="{TEXT}" />
		</div><!-- END cell -->
	</div>
</div>
<div id="mapThumb" class="goomap-thumb pull-right">{GOOMAPTHUMB}</div>
<p id="description" class="text-center">{TEXT}</p>
<div id="map" class="goomap">{GOOMAP}</div>
</div>
</div>
</div>
</div>