<!-- BEGIN blogbtns -->
<ul class="pager">
  <li class="previous<!-- BEGIN prevbtndis --> disabled<!-- END prevbtndis -->"><a href="{PREVURL}">&larr; Starší</a></li>
  <li class="next<!-- BEGIN nextbtndis --> disabled<!-- END nextbtndis -->"><a href="{NEXTURL}">Novější &rarr;</a></li>
</ul>
<!-- END blogbtns -->

<div id="{ITEMIDHTML}" class="fitem<!-- BEGIN notpublished --> notpublished<!-- END notpublished -->">
	<!-- BEGIN edit --><a href="{EDITURL}" class="btn btn-primary active pull-right" role="button">Upravit</a><!-- END edit -->
	<h2 class="media-heading padded_bottom"><a href="{TITLEURL}">{TITLE}</a></h2>
	<!-- BEGIN image --><div class="padded_bottom"><a href="{IMGURL}" rel="lightbox-page">
		<img class="media-object" src="{IMGURL}" title="{IMGTITLE}" alt="{IMGALT}">
	</a></div><!-- END image -->
	<!-- BEGIN category --><h4><a href="{CATEGORYURL}">{CATEGORYNAME}</a></h4><!-- END category -->
	<!--<div class="goomap-thumb pull-right">{GOOMAPTHUMB}</div>-->
	<div class="entry-content">
	{TEXT}
	</div>
	<!--<div class="goomap">{GOOMAP}</div>-->
	<!-- BEGIN detailLink --><div class="padded_bottom pull-right"><a href="{LONGURL}" title="{LONGTITLE}" class="btn">Celý článek...</a></div><!-- END detailLink -->
	<div class="item-blog-footer well well-sm">
		<!--<span class="author vcard"><a href="{AUTHORLINK}" class="author url">{AUTHOR}</a></span>-->
		<abbr class="updated published" title="{DATEISO}">{DATELOCAL}</abbr>
		<span class="stats pull-right">
			<span class="commentsNum"><a href="{COMMENTLINK}" title="Pocet komentaru"><span class="glyphicon glyphicon-comment"></span><!-- BEGIN registered --><span class="postsNew">{ALLNEWCNT}</span>/<!-- END registered -->{CNTCOMMENTS}</a></span> 
		</span>
	</div>
</div>