<!-- BEGIN item -->
<div id="p{PAGEID}" class="galeryPage" data-category="{CATEGORY}" data-year="{YEAR}" data-month="{MONTH}" data-date="{DATE}">
<div class="thumbnail">
<a href="{IMGURL}"><img src="{IMGURLTHUMB}" /></a>
<div class="caption">
<h2><a href="{PAGELINK}" class="bookmark url">{PAGENAME}</a></h2>
<abbr class="published" title="{DATEISO}">{DATELOCAL}</abbr>
<span class="label label-info"><span class="glyphicon glyphicon-camera"></span><!-- BEGIN new --><span class="postsNew">{FOTONEW}</span>/<!-- END new -->{FOTONUM}</a></span>
</div>
</div>
</div>
<!-- END item -->
