<div id="{ITEMIDHTML}" class="fitem<!-- BEGIN unread --> unread<!-- END unread -->">
<a name="{ITEMIDHTML}"></a>
<div class="avatar pull-left">{AVATAR}</div>
<div class="panel-primary">
<div class="header panel-heading">
<span class="author vcard"><!-- BEGIN aa --><a href="{AUTHORLINK}" class="author url"><!-- END aa -->{AUTHOR}<!-- BEGIN aaclose --></a><!-- END aaclose --></span>
<abbr class="updated published pull-right" title="{DATEISO}">{DATELOCAL}</abbr>
<!-- BEGIN postdeletecheckbox --><span class="delete pull-right"><a href="{DELETEURL}" class="confirm fajaxa" title="Opravdu chcete smazat prispevek?"><span class="glyphicon glyphicon-trash"></span></a></span><!-- END postdeletecheckbox -->
</div>
<!-- BEGIN image --><div class="pull-left padded_right padded_bottom"><a href="{IMGURL}" rel="lightbox-page"><img src="{IMGURLTHUMB}" class="media-object" title="{IMGTITLE}" alt="{IMGALT}" /></a></div><!-- END image -->
<div class="goomap-thumb pull-right">{GOOMAPTHUMB}</div>
<div class="entry-content">{TEXT}</div>
<div class="goomap">{GOOMAP}</div>
</div>
</div>