<div>{CONTENT}</div>
<div id="mapGlobal" class="mapLarge">
<!-- BEGIN mapdata --><div class="mapsData">
<input type="hidden" class="geoData" title="{MAPTITLE}" value="{MAPPOSITION}" />
<!-- BEGIN grf --><input type="hidden" class="pathColor" value="{PATHCOLOR}" />
<input type="hidden" class="strokeWeight" value="{STROKEWEIGHT}" /><!-- END grf -->
<!-- BEGIN ico --><input type="hidden" class="geoIco" value="{MAPICO}" /><!-- END ico -->
<div class="geoInfo"><div class="geoInfoContent">{MAPINFO}</div></div>
</div><!-- END mapdata -->
</div>
