<!-- BEGIN header --><div class="bottomPadded">{CONTENT}</div><!-- END header -->
<div id="editForm">{EDITFORM}</div>
<div id="itemDetail">{DETAIL}</div>
<!-- BEGIN topitemlist --><div id="{TOPFEEDID}" class="text-center <!-- BEGIN galery-detail-thumbs -->well thumbnail-xs <!-- END galery-detail-thumbs -->clearfix">
  {TOPITEMS}
</div><!-- END topitemlist -->
<!-- BEGIN comm --><h2>Komentáře</h2><!-- END comm -->
<!-- BEGIN messageForm --><div id="messageForm" class="well">{MESSAGEFORM}</div><!-- END messageForm -->
<!-- BEGIN message --><div class="alert alert-info">{MESSAGE}</div><!-- END message -->
<!-- BEGIN newnum --><div class="fullsize righttext"><strong>Nepřečtených: {UNREADNUM}</strong></div><!-- END newnum -->

<!-- BEGIN feed -->
<div id="{FEEDID}">
<!-- BEGIN itemlist -->
{ITEMS}
<!-- BEGIN bottomPager --><div id="bottomPager" class="pager-box">{BOTTOMPAGER}</div><!-- END bottomPager -->
<!-- BEGIN feedempty --><div class="alert alert-info">V diskuzi nejsou žádné komentáře</div><!-- END feedempty -->
<!-- END itemlist -->
</div>
<!-- END feed -->
<div id="afterFeed"></div>