<form action="{FORMACTION}" role="form" method="post" enctype="multipart/form-data" class="fajaxform form-horizontal">
<!-- BEGIN pageid --><input type="hidden" name="pageId" value="{PAGEID}" /><!-- END pageid -->
<!-- BEGIN t --><input type="hidden" name="t" value="{T}"/><!-- END t -->

<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" name="save" class="btn btn-success submit">Uložit</button>
			<!-- BEGIN delpage --><button type="submit" name="delete" class="btn btn-danger confirm" title="Opravdu chcete odstranit tuto stránku?">Smazat</button><!-- END delpage -->
		</div>
	</div>

<!-- BEGIN tabul --><ul class="nav nav-tabs">
<!-- BEGIN settingstab --><li class="active"><a href="#tabs-1" data-toggle="tab">Nastaveni</a></li><!-- END settingstab -->
<!-- BEGIN extendedtab --><li><a href="#tabs-9" data-toggle="tab">Specialni</a></li><!-- END extendedtab -->
<!-- BEGIN permissionstab --><li><a href="#tabs-2" data-toggle="tab">Pristup</a></li><!-- END permissionstab -->
<!-- BEGIN relatedtab --><li><a href="#tabs-3" data-toggle="tab">Spratelene stranky</a></li><!-- END relatedtab -->
<!-- BEGIN forumspecifictab --><li><a href="#tabs-4" data-toggle="tab">Nastenka</a></li><!-- END forumspecifictab -->
<!-- BEGIN categorytab --><li><a href="#tabs-7" data-toggle="tab">Kategorie</a></li><!-- END categorytab -->
<!-- BEGIN leftpaneltab --><li><a href="#tabs-8" data-toggle="tab">Postranní panel</a></li><!-- END leftpaneltab -->
</ul><!-- END tabul -->

<div class="tab-content">
		<div class="tab-pane fade in active" id="tabs-1">
<fieldset>
<legend>Nastavení</legend>
<!-- BEGIN toppage -->
<div class="form-group">
	<label for="pageIdTop" class="col-sm-2 control-label">Top page</label>
	<!-- BEGIN toppagesa --><div class="col-sm-4">
		<input type="text" class="form-control" id="pageIdTop" name="pageIdTop" value="{PAGEIDTOP}">
	</div><!-- END toppagesa -->
	<label class="col-sm-6 control-label" style="text-align:left;">
		<a href="{TOPPAGEURL}">{TOPPAGENAME}</a>
	</label>
</div><!-- END toppage -->
<!-- BEGIN pageowner -->
<div class="form-group">
	<label class="col-sm-2 control-label">Majitel</label>
	<div class="col-sm-10"><a href="{OWNERLINK}">{OWNERNAME}</a></div>
</div><!-- END pageowner -->

<div class="form-group">
	<label for="pagename" class="col-sm-2 control-label">Název</label>
	<div class="col-sm-10">
		<input type="text" id="pagename" name="name" value="{PAGENAME}" class="form-control"/>
	</div>
</div>
<!-- BEGIN date -->
<div class="form-group">
	<label for="formDate" class="col-sm-2 control-label">Datum</label>
	<div class="col-sm-10">
		<input id="formDate" name="datecontent" value="{DATECONTENT}" type="text" class="form-control date">
	</div>
</div><!-- END date -->
<!-- BEGIN sadmi -->
<div class="form-group">
	<label for="locked" class="col-sm-2 control-label">Zamceni stranky</label>
	<div class="col-sm-10">
		<select id="locked" name="locked" class="form-control">{LOCKEDOPTIONS}</select>
	</div>
</div>

<div class="form-group">
	<label for="template" class="col-sm-2 control-label">Sablona</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="template" name="template" value="{PAGETEMPLATE}">
	</div>
</div>

<div class="form-group">
	<label for="{PAGEDESCRIPTIONID}" class="col-sm-2 control-label">SEO Popis</label>
	<div class="col-sm-10">
		<textarea id="{PAGEDESCRIPTIONID}" name="description" class="form-control" row="3">{PAGEDESCRIPTION}</textarea>
	</div>
</div>
<!-- END sadmi -->

<!-- BEGIN categories -->
<div class="form-group">
	<label for="categoryId" class="col-sm-2 control-label">Kategorie</label>
	<div class="col-sm-4">
		<select id="categoryId" name="category" class="form-control"><option value="0"></option>{CATOPTIONS}</select> 
	</div>
	<label for="categoryNew" class="col-sm-2 control-label">nová</label>
	<div class="col-sm-4">
		<input type="text" class="form-control" id="categoryNew" name="categoryNew" class="form-control" />
	</div>
</div><!-- END categories -->

<!-- BEGIN content --><div class="form-group">
	<label for="{PAGECONTENTID}" class="col-sm-2 control-label">Popis</label>
	<div class="col-sm-10">
		<textarea id="{PAGECONTENTID}" name="content" class="form-control markitup" row="3">{PAGECONTENT}</textarea>
	</div>
</div><!-- END content -->  
</fieldset>
</div>



<!-- BEGIN extended --><div class="tab-pane fade" id="tabs-9">
<fieldset>
<legend>Další nastavení</legend>
<div class="form-group">
	<label for="xwidthpx" class="col-sm-4 control-label">Velikost náhledu Šířka px</label>
	<div class="col-sm-2">
		<input type="text" id="xwidthpx" name="xwidthpx" value="{GTHUMBWIDTH}" class="form-control" />
	</div>
	<label for="xheightpx" class="col-sm-2 control-label">Výška px</label>
	<div class="col-sm-2">
		<input type="text" id="xheightpx" name="xheightpx" value="{GTHUMBHEIGHT}" class="form-control" />
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">Styl náhledu</label>
	<div class="col-sm-10">
		<select id="xthumbstyle" name="xthumbstyle" class="form-control">
		<option value="1">Bez orezu</option>
		<option value="2"<!-- BEGIN galerythumbstyle2 --> selected="selected"<!-- END galerythumbstyle2 -->>Orez na format</option>
		</select>
	</div>
</div>

<!-- BEGIN galeryspecificcontent -->
<div class="form-group">
	<label for="galeryorder" class="col-sm-2 control-label">Foto. řadit</label>
	<div class="col-sm-10">
		<select id="galeryorder" name="galeryorder" class="form-control">
		<option value="0">Podle jména</option>
		<option value="1"<!-- BEGIN gorddate --> selected="selected"<!-- END gorddate -->>Podle data fotky (od nejnovějších)</option>
		</select>
	</div>
</div>
<!-- BEGIN uploadinput --><noscript><div class="form-group">
	<label for="upfoto{UPLOADINPUTID}" class="col-sm-2 control-label">Upload {UPLOADINPUTLABEL}</label>
	<div class="col-sm-10">
		<input type="file" id="upfoto{UPLOADINPUTID}" name="upfoto{UPLOADINPUTID}" class="form-control" />
	</div>
</div></noscript><!-- END uploadinput -->

<!-- END galeryspecificcontent -->
<div class="form-group">
	<label for="position" class="col-sm-2 control-label">Ukaz na mape</label>
	<div class="col-sm-10">
		<textarea id="position" class="form-control geoInput" name="position" row="3" title="Zadejte polohu">{POSITION}</textarea>
	</div>
</div>
<!-- BEGIN forumreaction -->
<div class="form-group">
	<label for="forumReact" class="col-sm-2 control-label">Komentáře</label>
	<div class="col-sm-10">
<select name="forumReact" id="forumReact" class="form-control">
<option value="1"<!-- BEGIN fforum1 --> selected="selected"<!-- END fforum1 -->>Povolit reakce</option>
<option value="2"<!-- BEGIN fforum2 --> selected="selected"<!-- END fforum2 -->>Pouze pro registrovane</option>
<option value="0"<!-- BEGIN fforum0 --> selected="selected"<!-- END fforum0 -->>Zakazat diskuzi</option>
</select>
</div>
</div>
<!-- END forumreaction -->
<!-- BEGIN site -->
<div class="form-group">
	<label for="homesite" class="col-sm-2 control-label">Homesite</label>
	<div class="col-sm-10">
		<input type="text" id="homesite" name="homesite" class="form-control" value="{HOMESITE}"/>
	</div>
</div>
<!-- END site -->

<div class="form-group">
	<label for="topbanner" class="col-sm-2 control-label">Top banner</label>
	<div class="col-sm-10">
		<textarea id="topbanner" name="topbanner" class="form-control expand" row="3">{TOPBANNER}</textarea>
	</div>
	<div class="col-sm-offset-2 col-sm-10">ItemId;Banner Height;Vertical align;Vertical push;Time to change seconds</div>
</div>


</fieldset>
</div><!-- END extended -->

<!-- BEGIN forumspecific --><div class="tab-pane fade" id="tabs-4">
<fieldset>
<legend>Nástěnka klubu</legend>
<div class="form-group">
	<div class="col-sm-12">
		<textarea id="HOMEID" name="forumhome" class="form-control markitup" row="3">{CONTENT}</textarea>
	</div>
</div>
</div><!-- END forumspecific -->
<!-- BEGIN perm --><div class="tab-pane fade" id="tabs-2">{PAGEPERMISIONSFORM}
<!-- BEGIN subset --><fieldset><legend>Podstránky</legend>
<div class="form-group">
<label class="col-sm-12 control-label">Zaškrtnutím nastavíte stejná práva u všech podstránek</label>
</div>
<!-- BEGIN subsetblog --><div class="form-group">
<label for="permUpdateBlog" class="col-sm-2 control-label">Blogy <label class="label label-info">{SUBBLOGNUM}</label></label>
<div class="col-sm-1">
	<input type="checkbox" id="permUpdateBlog" name="permUpdateBlog" class="form-control checkbox" />
</div>
</div><!-- END subsetblog -->
<!-- BEGIN subsetgalery --><div class="form-group">
<label for="permUpdateGalerie" class="col-sm-2 control-label">Galerie <label class="label label-info">{SUBGALERYNUM}</label></label>
<div class="col-sm-1">
	<input type="checkbox" id="permUpdateGalerie" name="permUpdateGalerie" class="form-control checkbox" />
</div>
</div><!-- END subsetgalery -->
<!-- BEGIN subsetforum --><div class="form-group">
<label for="permUpdateForum" class="col-sm-2 control-label">Diskuze <label class="label label-info">{SUBFORUMNUM}</label></label>
<div class="col-sm-1">
	<input type="checkbox" id="permUpdateForum" name="permUpdateForum" class="form-control checkbox" />
</div>
</div><!-- END subsetforum -->
</fieldset><!-- END subset -->
</div><!-- END perm -->
<!-- BEGIN relations --><div class="tab-pane fade" id="tabs-3">{RELATIONSFORM}</div><!-- END relations -->
<!-- BEGIN categoryedit --><div class="tab-pane fade" id="tabs-7">{PAGECATEGORYEDIT}</div><!-- END categoryedit -->
<!-- BEGIN leftpaneledit --><div class="tab-pane fade" id="tabs-8">
<fieldset>
<legend>Postranní panel</legend>
<div class="form-group">
	<div class="col-sm-12">
		<textarea id="sidebar" name="sidebar" class="form-control markitup" row="3">{SIDEBAR}</textarea>
	</div>
</div>
</fieldset>
</div><!-- END leftpaneledit -->
</div>
</form>