<form enctype="multipart/form-data" action="{FORMACTION}" method="post" class="fajaxform">
<fieldset class="buttonBar">
<input type="submit" name="save" value="Uložit" class="button uibutton submit draftdrop" />
</fieldset>
<div id="tabs">
<ul>
<li><a href="#tabs-1">Profil</a></li>
<li><a href="#tabs-5">Osobni foto</a></li>
<li><a href="#tabs-2">Nastaveni</a></li>
<li><a href="#tabs-3">Heslo</a></li>
<!-- BEGIN webcamButton --><li><a href="#tabs-4">Webcam</a></li><!-- END webcamButton -->
</ul>

<div id="tabs-1">
<fieldset>
<legend>Osobni udaje</legend>
<label>Icq</label>
<input type="text" name="infoicq" value="{USERICQ}" /><br />
<label>E-mail</label>
<input type="text" name="infoemajl" value="{USEREMAIL}" class="long" /><br />
<label>WWW</label>
<input type="text" name="infowww" value="{USERWWW}" class="long" /><br />
<label>Motto</label>
<input type="text" name="infomotto" value="{USERMOTTO}" class="long" /><br />
<label>Neco o me</label>
<textarea name="infoabout" id="userabout" class="draftable" />{USERABOUT}</textarea><br />
</fieldset>
</div>

<div id="tabs-5">
<fieldset>
<legend>Osobni foto</legend>
<label>Upload</label>
<div id="tempStore" class="fuup"><input type="file" name="idfoto" /></div>
<div id="personalfoto"><!-- BEGIN foto --><div id="foto{IMGID}" class="clearbox">
<div class="leftbox col2">
<a href="{IMGURL}" rel="lightbox-personal"><img src="{THUMBURL}" /></a>
</div>
<div class="leftbox">
<!-- BEGIN likeavatar --><input type="submit" class="confirm button uibutton margined" name="avatar{USEAVATARIMGID}" value="Pouzit jako avatar" title="Opravdu toto foto pouzit jako avatar?" /><br /><!-- END likeavatar --> 
<input type="submit" class="confirm button uibutton margined" name="del{IMGID}" value="Smazat" title="Opravdu chcete toto foto smazat?" />
</div>
</div><!-- END foto -->
</div>
</fieldset>
</div>

<div id="tabs-2">
<fieldset>
<legend>Osobni nastaveni</legend>
<label>Radit oblibene</label>
<select name="bookedorder">
<option value="0">Podle novych prispevku</option>
<option value="1"<!-- BEGIN bookedorder --> selected="selected"<!-- END bookedorder -->>Podle abecedy</option>
</select><br />
</fieldset>

</div>
<div id="tabs-3">
<fieldset>
<legend>Heslo</legend>
<label for="pwdreg1">Nové heslo</label><input type="password" name="pwdreg1" value="" /><br />
<label for="pwdreg2">Potvrzeni hesla</label><input type="password" name="pwdreg2" value="" /><br />
</fieldset>
</div>

<!-- BEGIN webcamTab -->
<div id="tabs-4">
<fieldset>
<legend>Webcam nastaveni</legend>
<label for="campublic">Webcam vidi</label><select id="campublic" name="campublic">
<option value="0">Vsichni</option>
<option value="1"<!-- BEGIN campublicregistered --> selected="selected"<!-- END campublicregistered -->>Jen registrovani</option>
<option value="2"<!-- BEGIN campublicfriends --> selected="selected"<!-- END campublicfriends -->>Jen pratele</option>
<option value="3"<!-- BEGIN campublicchosen --> selected="selected"<!-- END campublicchosen -->>Jen vybrani</option>
</select><br />
<div id="camChosenBox">
<label for="camchosen">Vybrani</label><input type="text" id="camchosen" name="camchosen" value="{CAMCHOSEN}" />
</div> 
<label for="camavatar">Jako avatar</label>
<select id="camavatar" name="camavatar">
<option value="0">Nepouzivat</option>
<option value="1"<!-- BEGIN camavatar --> selected="selected"<!-- END camavatar -->>Pouzivat automaticky</option>
</select>
<br />
<label for="camresolution">Velikost</label>
<select id="camresolution" name="camresolution">
<option value="0">160 x 120 px</option>
<option value="1"<!-- BEGIN camresolution1 --> selected="selected"<!-- END camresolution1 -->>320 x 240 px</option>
</select>
<br />
<label for="caminterval">Interval [3-60]</label><input type="text" id="caminterval" name="caminterval" value="{CAMINTERVAL}" class="xShort" /> vterin<br />
<label for="camquality">Kvalita [0-100]</label><input type="text" id="camquality" name="camquality" value="{CAMQUALITY}" class="xShort" /> %<br />
<label for="cammotion">Reaguje na pohyb</label><select id="cammotion" name="cammotion">
<option value="1">Zapnuto</option>
<option value="0"<!-- BEGIN cammotion --> selected="selected"<!-- END cammotion -->>Vypnuto</option>
</select><br />
</fieldset>
</div>
<!-- END webcamTab -->
</div>
</form>