<div class="well">

<ul class="nav nav-tabs">
	<li class="active"><a href="#tabs-profil" class="active" data-toggle="tab">Profil</a></li>
	<li><a href="{FORUMTABURL}" data-target="#tab-forum" data-toggle="tab">Kluby</a></li>
	<li><a href="{BLOGTABURL}" data-target="#tab-blog" data-toggle="tab">Blogy</a></li>
	<li><a href="{GALERYTABURL}" data-target="#tab-galery" data-toggle="tab">Galerie</a></li>
	<li><a href="{BOOKEDTABURL}" data-target="#tab-booked" data-toggle="tab">Oblíbené</a></li>
</ul>

<div class="tab-content">

<div class="tab-pane fade in active user-info" id="tabs-profil">
<h3>Profil</h3>
<div class="row">
<!-- BEGIN friendactions --><div class="col-sm-offset-3 col-sm-9">
<a id="{FRIENDLINKID}" href="{FRIENDLINKURL}" class="fajaxa btn btn-default{FRIENDLINKCLASS}" title="{FRIENDLINKTITLE}">{FRIENDLINKLABEL}</a>
<a href="{SENDMSGURL}" class="btn btn-primary">{SENDMSGLABEL}</a>
</div><!-- END friendactions -->
</div>

<div class="row">
<div class="col-sm-offset-3 col-sm-9">{AVATAR}</div>
</div>
<div class="row">
<div class="col-sm-3">Přezdívka</div><div class="col-sm-9"><strong>{NAME}</strong></div>
</div>
<!-- BEGIN email --><div class="row">
<div class="col-sm-3">E-mail</div><div class="col-sm-9"><a href="mailto:{EMAIL}">{EMAIL}</a></div></div><!-- END email -->
<!-- BEGIN www --><div class="row">
<div class="col-sm-3">Homepage</div><div class="col-sm-9"><a href="{WWW}">{WWW}</a></div></div><!-- END www -->
<!-- BEGIN icq --><div class="row">
<div class="col-sm-3">ICQ</div><div class="col-sm-9">{ICQ} <img src="http://status.icq.com/online.gif?icq={ICQ}&amp;img=21"></div></div><!-- END icq -->
<!-- BEGIN motto --><div class="row">
<div class="col-sm-3">Motto</div><div class="col-sm-9">{MOTTO}</div></div><!-- END motto -->
<!-- BEGIN about --><div class="row">
<div class="col-sm-3">O všem</div><div class="col-sm-9">{ABOUT}</div></div><!-- END about -->
<div class="row">
<div class="col-sm-3">Registrace</div><div class="col-sm-9">{DATECREATED}</div></div>
<div class="row">
<div class="col-sm-3">Poslední přístup</div><div class="col-sm-9">{DATEUPDATED}</div>
</div>
<!-- BEGIN profilfoto --><h3>Osobní foto</h3>
<div class="row">
<div id="galeryFeed" class="col-sm-12">
<!-- BEGIN foto --><div class="fitem thumb-box">
<a href="{IMGURL}" rel="lightbox-personal"><img src="{THUMBURL}" class="img-thumbnail" /></a>
</div><!-- END foto -->
</div>
</div><!-- END profilfoto -->
<div class="row">
{FRIENDS}
</div>
</div>
<div class="tab-pane fade" id="tab-forum">{FORUMS}</div>
<div class="tab-pane fade" id="tab-blog">{BLOGS}</div>
<div class="tab-pane fade" id="tab-galery">{GALERYS}</div>
<div class="tab-pane fade" id="tab-booked">{BOOKED}</div>
</div>

</div>