<!-- BEGIN registration -->
<div class="panel panel-default">
<div class="panel-body">
<form action="{FORMACTION}" method="post" name="reg" role="form" class="form-horizontal">
<fieldset>
<legend>Nový uživatel</legend>

<div class="form-group">
	<label for="jmenoreg" class="col-sm-2 control-label">Přezdívka</label>
	<div class="col-sm-10">
		<input type="text" class="form-control" id="jmenoreg" name="jmenoreg" value="{NAME}">
	</div>
</div>

<div class="form-group">
	<label for="pwdreg1" class="col-sm-2 control-label">Heslo</label>
	<div class="col-sm-10">
		<input type="password" class="form-control" id="pwdreg1" name="pwdreg1" value="{PWD1}">
	</div>
</div>

<div class="form-group">
	<label for="pwdreg2" class="col-sm-2 control-label">Ověření hesla</label>
	<div class="col-sm-10">
		<input type="password" class="form-control" id="pwdreg2" name="pwdreg2" value="{PWD2}">
	</div>
</div>

<div class="form-group">
	<label for="email" class="col-sm-2 control-label">Email</label>
	<div class="col-sm-10">
		<input type="email" class="form-control" id="email" name="email" value="{EMAIL}">
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">Ansti-spam</label>
	<div class="col-sm-10">
		{CAPTCHA}
	</div>
</div>

<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<button type="submit" id="submitButtonSave" name="addusr" class="btn btn-success submit">Odeslat</button>
	</div>
</div>
</fieldset>
</form>
<!-- END registration -->
<!-- BEGIN noregistration -->
<p><strong>Uživatel je již přihlášen</strong></p>{DUMMYNO}
<!-- END noregistration -->
</div>
</div>