/* css fundekave, http://www.fundekave.net/ */
/* BASIC ELEMENTS */
/*@media screen,projection {*/
a {color: #320;}
h1 {font: 1.66em Georgia,Times,serif; padding: 0 10px 0 10px;}
h2 {font: 2em Georgia,Times,serif;}
div#mainbar h2 {padding-top: 0.3em;line-height: 1.6em;padding-right:0.5em;}
div#mainbar ul {padding: 0;margin: 0;}

/* BASE FRAMEWORK */
body {text-align: center;color: black;font:0.8125em/1 Verdana,sans-serif;
margin:0;margin-left:20px;padding-right:240px;margin-right:0;
background: #eae6da url(img/page-bg.png) repeat-x right top;}
.bodySidebarOff {padding-right:0;margin-right:20px;}
div#sidebarOff {display:none;}
div#pageholder {position: relative;left: 0px;font-size:0.88em;}
input {font-size: 1em; }
div#header {position: relative;z-index: 1;}
div#pagebar {float:left;width:100%;min-width: 750px;display:inline; background-color: white;padding: 0;}
div#sidebar {position:relative;float:right;width:200px;margin-right:-220px;text-align: left;line-height: 1.3em;}
div#header, div#footer{clear:both;margin-left: 0px;min-width: 750px;}
div#footer{padding: 5px 0;text-align: right;}
div#footer span {float: left;}
div#mainbar {float:left;width:100%;margin-right:-100%;text-align: left;padding-bottom:1em;}

/* HEADER CONTENT */
div#logo {float:right;position:relative;top:0;
width: 200px;text-align:center;margin:-13px -220px 0 0;height:40px;}
.bodySidebarOff div#logo {margin-right:0px;}

/* PRIMARY MENU */
ul#menu {margin: 1em 0 0 0;text-transform:uppercase;}
ul#menu li {display: block;float: left;margin-right: 5px;list-style: none;
background: #fff3e7;
}
ul#menu li a {padding: 0 0.8em;display: block;font: 1.1em Georgia,Times,serif;text-decoration: none;
font-weight: bold;color: #425d21;line-height: 2.3em;}
ul#menu li a:hover,a.active {background: #fff;}

/* SECONDARY MENU */
div#menu-secondary-holder {padding: 0 10px 10px 10px;}
div#mainbar ul#menu-secondary {margin: 0;padding: 0;width: 100%;display: table;border-bottom: 1px solid #999;}
div#mainbar ul#menu-secondary li {position: relative;padding-left: 0;list-style: none;display: block;margin-right: 5px;float: left;line-height: 2em;border: 1px solid #999;border-bottom: none;background: whitesmoke;}
div#mainbar ul#menu-secondary li.opposite {float:right;}
div#mainbar ul#menu-secondary li a {font-size: 1.1em;text-decoration: none;padding: 0 1em;}

/* BREADCRUMBS */
div#breadcrumbs {margin:0;padding:1.2em 0 1em 10px;}
div#breadcrumbs ul {margin: 0; padding: 0;}
div#breadcrumbs ul li {display: inline;padding-left: 10px;margin-right: 1em;list-style: none;background: url(img/arrow-brown-bg.gif) no-repeat left center;
font:0.9em Verdana,sans-serif;
color: #9D400D;
}

/* SEARCH BAR */
div#search-holder {float: right;padding-top: 10px;padding-right: 10px;margin-bottom: -10px;}

/* SIDEBAR */
div#sidebar h2 {line-height: 1.1em;margin-bottom: 0.5em;padding:0 5px;}
div.sidebarBlock {margin: 0 0 1em 0;padding: 0.3em;background: #f8f7ef;}

/* MAIN CONTENT */
span.postsNew {color: red;font-weight: bold;float:right;}

/* LOGIN / LOGGED modul */
form#loginForm, div#loggedUserContainer {color: #444;margin-top: 0px;padding: 0 10px 10px;}
form#loginForm label {float: left;display:block;width:6.5em;padding:3px;}
form#loginForm input {width: 6.5em;margin-bottom: 5px;margin-right: 5px;}
form#loginForm input#loginButton {float: right;width: auto;}
form#loginForm p {margin: 0; padding: 0;}
form#loginForm a, div#loggedUserContainer a {color: #333;font-weight: normal;}
form#loginForm ul, div#loggedUserContainer ul {clear: left;margin: 0; padding: 0;}
form#loginForm ul li, div#loggedUserContainer ul li {padding-left: 10px;list-style: none;background: url(img/arrow-brown-bg.gif) no-repeat left center;font-weight: bold;}
div#loggedUserContainer ul li a.requests {font-weight: bold;color: #ff0000;}
div#loggedUserContainer h2 {float: left;font-size: 1.2em;}
div#loggedUserContainer h2 a {font-weight: bold;text-decoration: none;}
div#loggedUserContainer div#avatarBox {float: right;margin-top:5px;}
div#loggedUserContainer img.userAvatar{border: 1px solid #412c00;}

/* FORMS */
div#editForm {margin-bottom: 1em;}
div#mainbar fieldset {margin-bottom: 1em;border: 1px solid #ddd;background: #f0f0f0;}
div#mainbar form.notpublished fieldset{background: #ffe0c0;}
div#mainbar label {float: left;display: inline-block;min-width: 10em;}
div#mainbar fieldset div.row {clear: left;}
div#mainbar fieldset input {width: 400px;margin-bottom: 0.3em;padding: 0 4px;}
div#mainbar fieldset select {margin-bottom: 0.3em;}
div#mainbar fieldset input.xShort {width: 4em;}
div#mainbar fieldset input.short {width: 10em;}
div#mainbar fieldset textarea.short {width: 300px;height: 3em;}
div#mainbar .buttonBar {padding-top: 0.5em;padding-bottom: 0.5em;}
div#mainbar fieldset input.button {width: auto;min-width: 5em;font-size: 1em;}
div#mainbar fieldset input.submit {margin-left: 10em;}
div#mainbar fieldset.buttonBar input.button {margin: 0.5 1em; padding: 0.1em 0.5em;font-size:1.4em;}
div#mainbar fieldset.buttonBar input.submit {margin-left: 1em;margin-top:5px;}
textarea {border: 1px solid #aaa;width:400px;height:6em;font-size: 1.2em;margin-bottom: 0.3em;margin-left: 0;margin-right: 0;padding: 0 5px;}
textarea.large {width:520px;}
div#mainbar fieldset textarea.draftNotSave {border-right: 2px solid #dd0000;}
div#mainbar fieldset textarea.draftSave {border-right: 2px solid #00dd00;}
div#mainbar fieldset textarea.largeTextarea {width: 90%;height:14em;}
span.textAreaResize {float: left;}
span.textAreaResize a {text-decoration: none;background: url(img/windows.png) no-repeat left top;display: block;width: 16px;height: 16px;margin-top: 2px;margin-right: 4px;margin-left: -20px;}

/* ARTICLE CONTENT */
div.mainpanel-content {padding-left: 10px;padding-right: 10px;line-height:1.8em;}
div.mainpanel-content h3 {margin-top: 1.5em;margin-bottom: 0.5em;padding: 0.6em 0.6em 0.3em 0.6em;color: white;background: #332200;}
div.mainpanel-content h3 a {color: white;text-decoration: underline;}
div.mainpanel-content div.galery span.abbr {color: white;margin-right: 1em;position: relative;float: right;top: -2em;}
div.mainpanel-content div.galery span.abbr abbr {border: none;}
div.mainpanel-content h3.summary, div.mainpanel-content h3.entry-title {border: none;}

/* CATEGORIES LIST */
div.mainpanel-content div#categories h3 {border: none;margin: 0;padding: 0 0 0.5em 10px;color: black;background: transparent url(img/arrow-white-bg.gif) no-repeat left 0.3em;}
div.mainpanel-content div#categories h3 a{color: black;}
div.mainpanel-content div#categories ul {margin-left: 30px;}

/* LINK LIST */
a.linkItem {font: 1.3em Georgia,Times,serif;clear: both;line-height: 25px;min-height: 25px;display: block;background: #FFF3E7;text-decoration: none;margin-top: 2px;padding: 0 1em;}
a.linkItem:hover {background: #E2E595;text-decoration:underline;}
div#sidebar a.linkItem { line-height: 20px;height:20px;overflow:hidden; margin:5px 2px;min-height: 20px; font-size: 1.1em;padding: 0 3px;}
div#mainbar div.entry-content a.linkItem {display: inline;padding: 0.6em 0.5em;}
div#mainbar div.entry-content a.linkItem img {margin: 0 0 -8px 0 !important;float: none !important;}

/* HENTRY */
div.mainpanel-content div.hentry {clear: left;margin-bottom: 1em;padding-top: 0;position: relative;border-top: 1px solid #ddd;overflow: hidden;}
div.mainpanel-content div.entry-content div.hentry {margin: 0 0 0 2em;}
div.mainpanel-content div.hentry span.postsNew {display: inline;float: none;text-align: left;margin: 0;}
div.mainpanel-content div.hentry div.avatar {float: left;margin: 0 0.5em 1em 0;}
div.mainpanel-content div.blog div.avatar {float: right;margin: 0 0 1em 0;}

div.mainpanel-content div.opacity {opacity: 0.2;border-left: 2px solid #ddd;padding: 0 1em;margin-top: 0;height:100px;}
div.mainpanel-content div.opacity div.vevent {margin-bottom: 0;}
div.mainpanel-content div.reaction {margin-left: 3em;}

div.mainpanel-content div.hentry div.completelink {line-height: 2em;margin-left: 50px;text-align: center;width: 10em;clear: both;}
div.mainpanel-content div.hentry div.completelink a {display: block;background: #f8f7ef;font-weight: bold;}
div.mainpanel-content div.hentry div.completelink a:hover {background: #ddd;}

/* HENTRY HEADER */
div.mainpanel-content div.hentry div.header {line-height: 2em;border: none;height: 2em;}
div.mainpanel-content div.hentry h2.entry-title {padding: 0;margin: 0;font-size:1.66em;}
div.mainpanel-content div.blog h2.entry-title {margin-top: -1em;}
div.mainpanel-content div.hentry h2.entry-title a {color: black;text-decoration: none;}
div.mainpanel-content div.hentry h2.entry-title a:hover {color: black;text-decoration: underline;}
div.mainpanel-content div.hentry h3 {margin: 0;padding: 0;color: black;background: none;}
div.mainpanel-content div.hentry h3 a {color: black;}

div.mainpanel-content div.hentry abbr.published {float: right;background-color: #f8f7ef;border: none;padding: 0 1em;}
div.mainpanel-content div.unread abbr.published {border-right: 0.4em solid red;padding-right: 0.4em;}

div.mainpanel-content div.hentry span.author {float: left;background-color: #f8f7ef;padding: 0 1em;}
div.mainpanel-content div.unread span.author {border-left: 0.4em solid red;padding-left: 0.4em;}
div.mainpanel-content div.hentry span.author a {text-decoration: none;}
div.mainpanel-content div.hentry span.author a:hover {text-decoration: underline;}

div.mainpanel-content div.blog span.author { float:right; margin-left:1em;}

div.mainpanel-content div.hentry span.delete {float: right;background-color: #f8f7ef;height: 1.9em;padding: 0 0.5em;}
div.mainpanel-content div.hentry span.delete img {margin-top: 2px;}

div.mainpanel-content span.stats {float: right;background-color: #f8f7ef;padding: 0 1em;margin: 0 1em;}
div.mainpanel-content div.stats{margin: 0 auto;padding: 0 0 0.3em 0; text-align: center;}

div.mainpanel-content div.hentry span.edit {float: right;padding: 0 1em;line-height: 1.9em;background-color: #f8f7ef;border: none;font-weight: bold;}

div.mainpanel-content div.vevent span.vcard {float: right;background-color: #f8f7ef;font-weight: bold;padding: 0 1em;margin-right: 1em;}

div.mainpanel-content div.notpublished div.notpublishedMsg {color: #ff0000;height: 2em;line-height: 2em;font-weight: bold;background-color: #ffddbb;padding: 0 1em;}

span.viewedTimes,span.monitor,span.tagMe,span.tagIs,span.fotoNum,span.commentsNum,span.linkIco,span.map {padding:0 3px}
span.tagMe img {margin-bottom: -2px;}
span.tagIs {line-height: 16px;}
span.tagIs img {margin-bottom:-4px;}
span.viewedTimes img {margin-bottom: -2px;padding-left: 0.5em;}
span.fotoNum {line-height: 2em;}
span.fotoNum img {margin-bottom: -2px;}
span.commentsNum {padding-top: 2px;padding-bottom: 0.2em;}
span.commentsNum a {text-decoration: none;	}
span.commentsNum img {margin-bottom:-4px;	}
span.linkIco img {margin-bottom:-2px;}
span.monitor img,span.map img{margin-bottom:-4px;}

/* HENTRY CONTENT */
div.mainpanel-content div.hentry div.entry-content {padding: 0.5em 0.5em;}
div.mainpanel-content div.hentry div.withCommented {margin-right: 250px;}
div.mainpanel-content div.hentry div.textLong {margin-top: 20px;}
div.mainpanel-content div.hentry div.entry-content img {max-width: 680px;}

/* GALERY */
div.galleryList div.thumbnail {float: left;margin-right: 15px;padding-top: 0;margin-top: -5px;}
div.galleryList div.hentry {clear: both;min-height: 140px;padding: 0;margin-bottom: 1em;}
div.galleryList div.hentry h3.entry-title {padding: 0.5em 0;}
div.galleryList div.hentry span.abbr {line-height: 2em;}
div#mainbar div.galeryThumb {float: left;clear: none !important;margin: 0 0.5em 1em 0.5em !important;padding: 0.3em 0.6em !important;border: 1px solid #ddd;}
div.entry-content div.alignRight {float:right;}
div.entry-content div.alignLeft {float:left;}
div.entry-content div.alignCenter {text-align: center;margin: auto 0;}
div.entry-content div.galeryThumb {margin: 1em 0.5em 1em 0.5em !important;}
div.entry-content div.alignCenter div.galeryThumb {float:none;width: 170px;margin: auto;}
div.galeryThumb div.entry-content {padding: 0 !important;}
div.galeryThumb div.foto {text-align: center;}
div#itemDetail {margin-bottom: 2em;}
div.fotoDetailBox,div.fotoDetailBox p {text-align: center;}

/* EVENTS */
div.mainpanel-content div.vevent {margin-bottom: 2em;padding: 0.5em;line-height:1.5em;border: none;}
div.sidebarBlock div.hentry {text-align: center;}
div.sidebarBlock div.hentry div.entry-content {margin: 0 auto;}
div.sidebarBlock div.vevent {text-align: center;}
div.sidebarBlock div.vevent span.location {display: block;}
div.mainpanel-content div.vevent div.nextToFlyer {margin-left: 180px;}
div.mainpanel-content div.hentry img.hentryimage {float: left;padding: 0.5em;}
div.participant {float:left;padding: 0 1em 1em 0;text-align: center;}

/* FRIENDS SECTION */
div.friends ul li ul {padding: 0;}
div.friends {float: left;width: 48%;margin-right: 2%;}
div.friends ul li {list-style: none;background-image: none;clear: left;}
div.friends ul li ul li {padding-left: 1em;background: url(img/arrow-white-bg.gif) no-repeat left center;}
div.friends ul li div,div.friends ul li ul {float: left;}
div.friends ul li div {margin-right: 10px;}

/* NEW MESSAGES WARNING */
span#messageNew {color:#fff;position: fixed;z-index:10001;display: block;background: #C64226;font: 1em Georgia,Times,serif;right: -2px; top: 20px;padding: 1em;width: 150px;border: 2px #ffffff solid;text-align: center;}
span#messageNew a { color:#fff; }
span#messageNew .flash {border: 2px #00ffff solid;}

/*POST PAGE*/
div#recipientavatar {float: left;clear: left;min-width: 10em;text-align: center;}
div#recipientcombo {float: left;clear: left;min-width: 10em;text-align: center;}
div#recipientcombo select {width: 7em;text-align: left;}

/* CALENDAR MODULE */
div#fcalendar {margin-bottom: 1em;}
div#fcalendar table {width: 100%;}
div#fcalendar h3 {background: #332200;color: white;padding: 0.3em 0.6em;text-align: center;}
div#fcalendar table td,div#fcalendar table th {text-align: center;}
div#fcalendar table td {text-align: center;empty-cells: show;border-collapse: collapse;border: 1px solid #ddd;}
div#fcalendar table td.dayBlank {border: none;}
div#fcalendar table td a {text-decoration: none;display: block;line-height: 1.8em;}
div#fcalendar table td.calendarDayEvent {background: #fed;}
div#fcalendar table td.calendarDayEvent a {color: red;}
div#fcalendar table td.calendarDayCurrent {background: #eee;}
div#fcalendar table td.calendarDayCurrent a {color: black;}
div#fcalendar div.calendarPreviousMonthLink,div#fcalendar div.calendarNextMonthLink { }

/* USER INFO */
div.user-info {padding-top: 10px;}
div.user-info-foto img {margin-bottom: 10px;margin-right: 10px;float: left;}

/* ERROR MSGS */
.errormsg {color: #000;font-size: 1.2em;background-color: #fdd;margin: 5px 10px;}
.okmsg {color: #000;font-size: 1.2em;background-color: #dfd;margin: 5px 10px;}

/* SIDEBAR USER LIST - deprecated */
div#sidebar div#onlineFriendList {padding-top:5px;text-align:center;}
div#sidebar div#onlineFriendList h2 {float:none;}
div#sidebar div#onlineFriendList a {text-decoration: underline;}
div#sidebar ul#sidebarUsersList {text-align:left;list-style: none;padding: 1em 0;margin: 0;}
div#sidebar ul#sidebarUsersList span.fn {padding: 0 2px;font-weight: bold;}
div#sidebar ul#sidebarUsersList span.fn a {text-decoration: none;}
div#sidebar ul#sidebarUsersList img.userAvatar {float:right;margin: 3px 0;}
div#sidebar ul#sidebarUsersList li {padding:0;clear: left;overflow: hidden;background: none;list-style: none;}

div#fullscreenToolbar {position:fixed;top:0px;right:50px;height:25px;text-align:center;z-index:10000;background:#eee;}
div#fullscreenToolbar a { line-height:25px;padding:0 5px;}
.fullscreenSlideshowOn { background-color:#ff0000; }
/*} /* END MEDIA SCREEN */