/* css fundekave, http://www.fundekave.net/ */
/* BASIC ELEMENTS */
/*@media screen,projection {*/
body {text-align: center; }
a {color: #320;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.3em;font-weight: bold;}
div#mainbar h2 {padding-top: 0.3em;line-height: 1.6em;font-size: 1.5em;}
div#mainbar ul {padding: 0;margin: 0;}

/* BASE FRAMEWORK */
body {margin:0;margin-left:20px;padding-right:240px;margin-right:0;background: #eae6da url(img/page-bg.gif) repeat-x right top;}
.bodySidebarOff {padding-right:0;margin-right:20px;}
div#sidebarOff {display:none;}
div#pageholder {position: relative;left: 0px;font-size: 1.1em;}
div#header {position: relative;z-index: 1;min-height: 41px;}
div#pagebar {float:left;width:100%;min-width: 600px;display:inline; background-color: white;padding: 0;}
div#sidebar {position:relative;top: -41px;float:right;width:200px;margin-right:-220px;background: url(img/logo-bg.jpg) no-repeat right top;text-align: left;font-size: 80%;}
div#header, div#footer{clear:both;margin-left: 0px;min-width: 700px;}
div#footer{padding: 0 10px 0 10px;text-align: right;}
div#footer span {float: left;}
div#mainbar {float:left;width:100%;min-width: 400px;margin-right:-100%;text-align: left;}

/* HEADER CONTENT */
div#logo {width: 134px;height: 107px;margin: 15px auto 0;}

/* PRIMARY MENU */
ul#menu {margin-left: 0;}
ul#menu li {display: block;float: left;padding-top: 11px;margin-right: 5px;list-style: none;background: url(img/primary-nav-bg.gif) repeat-x left top;}
ul#menu li a {padding: 0 0.8em;display: block;font-size: 1.2em;text-decoration: none;font-weight: bold;color: black;line-height: 2.3em;}
ul#menu li.active a {background-color: white;}

/* SECONDARY MENU */
div#menu-secondary-holder {padding-top: 0;padding-right: 10px;padding-bottom: 10px;}
div#mainbar ul#menu-secondary {margin: 0;padding: 0;width: 100%;display: table;border-bottom: 1px solid #999;}
div#mainbar ul#menu-secondary li {position: relative;padding-left: 0;list-style: none;display: block;margin-right: 5px;float: left;line-height: 2em;border: 1px solid #999;border-bottom: none;background: whitesmoke;}
div#mainbar ul#menu-secondary li.opposite {float:right;}
div#mainbar ul#menu-secondary li a {font-size: 1.1em;font-weight: bold;text-decoration: none;padding: 0 1em;}

/* BREADCRUMBS */
div#breadcrumbs {margin:0;padding:1.2em 0 1em 10px;}
div#breadcrumbs ul {margin: 0; padding: 0;}
div#breadcrumbs ul li {display: inline;padding-left: 10px;margin-right: 1em;list-style: none;background: url(img/arrow-brown-bg.gif) no-repeat left center;font-weight: bold;}

/* SEARCH BAR */
div#search-holder {float: right;padding-top: 10px;padding-right: 10px;margin-bottom: -10px;}

/* SIDEBAR */
div#sidebar h2 {line-height: 1.1em;margin-bottom: 0.5em;}
div.sidebarBlock {margin: 0 0 1em 0;padding: 0.3em;background: #fff;}

/* MAIN CONTENT */
span.postsNew {color: red;font-weight: bold;float:right;}

/* LOGIN / LOGGED modul */
div.sidebarBlock.loginBlock {padding: 10px 0;background: none;}
form#loginForm, div#loggedUserContainer {color: white;margin-top: 10px;padding: 0 16px;padding-right: 26px;min-height: 90px;}
form#loginForm label {float: left;width:4em;line-height: 1.5em;}
form#loginForm input {width: 8em;margin-bottom: 10px;}
form#loginForm input#loginButton {float: right;width: auto;font-weight: bold;background: #d0cbb5;border: 1px;}
form#loginForm p {margin: 0; padding: 0;}
form#loginForm a, div#loggedUserContainer a {color: #f9efc9;font-weight: normal;}
form#loginForm ul, div#loggedUserContainer ul {clear: left;margin: 0; padding: 0;}
form#loginForm ul li, div#loggedUserContainer ul li {padding-left: 10px;list-style: none;background: url(img/arrow-brown-bg.gif) no-repeat left center;font-weight: bold;}
div#loggedUserContainer ul li a.requests {font-weight: bold;color: #ff0000;}
div#loggedUserContainer h2 {float: left;font-size: 1.2em;}
div#loggedUserContainer h2 a {font-weight: bold;text-decoration: none;}
div#loggedUserContainer div#avatarBox {float: right;}
div#loggedUserContainer img.userAvatar{border: 1px solid #412c00;}

/* FORMS */
div#mainbar fieldset {margin-bottom: 1em;border: 1px solid #ddd;background: #f0f0f0;}
div#mainbar form.notpublished fieldset{background: #ffe0c0;}
div#mainbar fieldset label {float: left;display: inline-block;min-width: 10em;}
div#mainbar fieldset div.row {clear: left;}
div#mainbar fieldset input {width: 400px;margin-bottom: 0.3em;padding: 0 4px;}
div#mainbar fieldset select {margin-bottom: 0.3em;}
div#mainbar fieldset input.xShort {width: 4em;}
div#mainbar fieldset input.short {width: 10em;}
div#mainbar fieldset textarea.short {width: 10em;height: 3em;}
div#mainbar .buttonBar {padding-top: 0.5em;padding-bottom: 0.5em;}
div#mainbar fieldset input.button {width: auto;min-width: 5em;font-size: 1em;}
div#mainbar fieldset input.submit {margin-left: 10em;}
textarea {border: 1px solid #aaa;width:400px;height:6em;font-size: 1.2em;margin-bottom: 0.3em;margin-left: 0;margin-right: 0;padding: 0 5px;}
div#mainbar fieldset textarea.draftNotSave {border-right: 2px solid #dd0000;}
div#mainbar fieldset textarea.draftSave {border-right: 2px solid #00dd00;}
div#mainbar fieldset textarea.largeTextarea {width: 95%;height:14em;}
span.textAreaResize {float: left;}
span.textAreaResize a {text-decoration: none;background: url(img/windows.png) no-repeat left top;display: block;width: 16px;height: 16px;margin-top: 2px;margin-right: 3px;margin-left: -19px;}

/* ARTICLE CONTENT */
div.mainpanel-content {padding-left: 10px;padding-right: 10px;}
div.mainpanel-content h3 {margin-top: 1.5em;margin-bottom: 0.5em;padding: 0.6em 0.6em 0.3em 0.6em;color: white;background: #332200;}
div.mainpanel-content h3 a {color: white;text-decoration: underline;}
div.mainpanel-content div.galery span.abbr {color: white;margin-right: 1em;position: relative;float: right;top: -2em;}
div.mainpanel-content div.galery span.abbr abbr {border: none;}
div.mainpanel-content h3.summary, div.mainpanel-content h3.entry-title {border: none;}

/* CATEGORIES LIST */
div.mainpanel-content div#categories h3 {border: none;margin: 0;padding: 0 0 0.5em 10px;color: black;background: transparent url(img/arrow-white-bg.gif) no-repeat left 0.3em;}
div.mainpanel-content div#categories h3 a{color: black;}
div.mainpanel-content div#categories ul {margin-left: 30px;}

/* LINK LIST */
div#mainbar ul.pageList {list-style: none;}
div#mainbar ul.pageList li a.pageLink img {padding: 0;margin: 0;float: left;margin-right: 0.5em;margin-left: -1em;}
div#mainbar ul.pageList li {margin-top: 0.1em;clear: left;padding-left: 0;background: none;}
div#mainbar a.pageLink {clear: both;line-height: 25px;display: block;background: #eeeeee;text-decoration: none;margin-top: 2px;padding: 0 1em; font-weight: bold;}
div#mainbar a.pageLink:hover {background: #bbbbbb;}
/* LINK LIST customs for inline displaying */
div#mainbar div.entry-content a.pageLink {display: inline;padding: 0.6em 0.5em;}
div#mainbar div.entry-content a.pageLink img {margin: 0 0 -8px 0 !important;float: none !important;}
div#mainbar ul.pageList li div.hentry {margin-top: 0;}
/* LINK LIST customs for sidebar */
div#sidebar ul.showPageAvatar {list-style: none;padding: 0;margin: 0;line-height: 25px;}
div#sidebar ul.showPageAvatar postsNew {display: none;}
div#sidebar ul.showPageAvatar img {float: left;margin-right: 0.5em;}
div#sidebar ul.showPageAvatar li {clear: left;overflow: hidden;background: none;list-style: none;height: 25px;}
div#sidebar ul.showPageAvatar li a {display: block;background: #eeeeee;text-decoration: none;margin-top: 2px;font-weight: bold;vertical-align: middle;}
div#sidebar ul.showPageAvatar li a:hover {background: #bbbbbb}

/* HENTRY */
div.mainpanel-content div.hentry {clear: left;margin-top: 2.3em;padding-top: 0;padding-bottom: 0.5em;position: relative;border-top: 1px solid #ddd;overflow: hidden;}
div.mainpanel-content div.entry-content div.hentry {margin: 0 0 0 2em;}
div.mainpanel-content div.hentry span.postsNew {display: inline;float: none;text-align: left;margin: 0;}
div.mainpanel-content div.hentry div.avatar {float: left;margin: 0 0.5em 1em 0;}

div.mainpanel-content div.opacity {opacity: 0.2;border-left: 2px solid #ddd;padding: 0 1em;margin-top: 0;}
div.mainpanel-content div.opacity div.vevent {margin-bottom: 0;}

div.mainpanel-content div.hentry div.completelink {line-height: 2em;margin-left: 50px;text-align: center;width: 10em;clear: both;}
div.mainpanel-content div.hentry div.completelink a {display: block;background: #eeeeee;font-weight: bold;}
div.mainpanel-content div.hentry div.completelink a:hover {background: #ddd;}

/* HENTRY HEADER */
div.mainpanel-content div.hentry div.header {line-height: 2em;border: none;height: 2em;}
div.mainpanel-content div.vevent div.header {height: auto;float: right;margin-top: -1.5em;}
div.mainpanel-content div.hentry h2.entry-title {padding: 0;margin: 0;}
div.mainpanel-content div.hentry h2.entry-title a {color: black;text-decoration: underline;}
div.mainpanel-content div.hentry h3 {margin: 0;padding: 0;color: black;background: none;}
div.mainpanel-content div.hentry h3 a {color: black;}

div.mainpanel-content div.hentry abbr.published {float: right;background-color: #ddd;font-weight: bold;border: none;padding: 0 1em;}
div.mainpanel-content div.unread abbr.published {border-right: 0.4em solid red;padding-right: 0.4em;}

div.mainpanel-content div.hentry span.author {float: left;background-color: #ddd;font-weight: bold;padding: 0 1em;}
div.mainpanel-content div.unread span.author {border-left: 0.4em solid red;padding-left: 0.4em;}
div.mainpanel-content div.hentry span.author a.currentLocation {font-weight: normal;text-decoration: underline;}
div.mainpanel-content div.hentry span.author a {text-decoration: none;}

div.mainpanel-content div.hentry span.delete {float: right;background-color: #ddd;height: 1.9em;padding: 0 0.5em;}
div.mainpanel-content div.hentry span.delete img {margin-top: 2px;}

div.mainpanel-content span.stats {float: right;background-color: #ddd;padding: 0 1em;margin: 0 1em;}
div.mainpanel-content div.stats{margin: 0 auto;padding: 0 0 0.3em 0; text-align: center;}

div.mainpanel-content div.hentry span.edit {float: right;padding: 0 1em;line-height: 1.9em;background-color: #ddd;border: none;font-weight: bold;}

div.mainpanel-content div.vevent span.vcard {float: right;background-color: #ddd;font-weight: bold;padding: 0 1em;margin-right: 1em;}

div.mainpanel-content div.notpublished div.notpublishedMsg {color: #ff0000;height: 2em;line-height: 2em;font-weight: bold;background-color: #ffddbb;padding: 0 1em;}

span.tagMe img {margin-bottom: -2px;}
span.tagIs {line-height: 16px;}
span.tagIs img {margin-bottom:-4px;}
span.viewedTimes {}
span.viewedTimes img {margin-bottom: -2px;padding-left: 0.5em;}
span.fotoNum {line-height: 2em;}
span.fotoNum img {margin-bottom: -2px;}
span.commentsNum {padding-top: 2px;padding-bottom: 0.2em;}
span.commentsNum a {text-decoration: none;	}
span.commentsNum img {margin-bottom:-4px;	}
span.linkIco img {margin-bottom:-2px;}

/* HENTRY CONTENT */
div.mainpanel-content div.hentry div.entry-content {padding-top: 0.5em;}
div.mainpanel-content div.hentry div.withCommented {margin-right: 250px;}
div.mainpanel-content div.hentry div.textLong {margin-top: 20px;}
div.mainpanel-content div.hentry div.entry-content img {max-width: 680px;}

/* GALERY */
div.galleryList div.thumbnail {float: left;margin-right: 15px;padding-top: 0;margin-top: -5px;}
div.galleryList div.hentry {clear: both;min-height: 140px;padding: 0;margin-bottom: 1em;}
div.galleryList div.hentry h3.entry-title {padding: 0.5em 0;}
div.galleryList div.hentry span.abbr {line-height: 2em;}
div.galeryThumbs div.hentry {float: left;clear: none;margin: 0 0.5em 1em 0.5em;padding: 0.3em 0.6em;overflow: hidden;border: 1px solid #ddd;}
div.entry-content div.alignRight {float:right;}
div.entry-content div.alignLeft {float:left;}
div.entry-content div.alignCenter {text-align: center;margin: auto 0;}
div.entry-content div.galeryThumbs div.hentry {margin: 1em 0.5em 1em 0.5em;}
div.entry-content div.alignCenter div.galeryThumbs div.hentry {float:none;width: 170px;margin: auto;}
div.galeryThumbs div.hentry div.entry-content {padding: 0;}
div.galeryThumbs div.hentry div.foto {text-align: center;}
div#fotoBox div.back {margin-bottom: 1em;text-align: center;}
div.fotoDetailBox,div.fotoDetailBox p {text-align: center;}

/* EVENTS */
div.mainpanel-content div.vevent {margin-bottom: 2em;padding: 0.5em;background: #eee;border: 1px solid #999;}
div.sidebarBlock div.hentry {text-align: center;}
div.sidebarBlock div.hentry div.entry-content {margin: 0 auto;}
div.sidebarBlock div.vevent {text-align: center;}
div.sidebarBlock div.vevent span.location {display: block;}
div.mainpanel-content div.vevent div.nextToFlyer {margin-left: 180px;}
div.mainpanel-content div.vevent img.eventFlyerThumb {float: left;padding: 0.5em;}
div.participant {float:left;padding: 0 1em 1em 0;text-align: center;}

/* FRIENDS SECTION */
div.friends ul li ul {padding: 0;}
div.friends {float: left;width: 48%;margin-right: 2%;}
div.friends ul li {list-style: none;background-image: none;clear: left;}
div.friends ul li ul li {padding-left: 1em;background: url(img/arrow-white-bg.gif) no-repeat left center;}
div.friends ul li div,div.friends ul li ul {float: left;}
div.friends ul li div {margin-right: 10px;}

/* NEW MESSAGES WARNING */
span.messageNew {position: absolute;display: block;font-weight: bold;background: #C64226;top: 20px;padding: 1em;width: 130px;border: 2px #ffffff solid;text-align: center;}

/*POST PAGE*/
div#recipientavatar {float: left;clear: left;min-width: 10em;text-align: center;}
div#recipientcombo {float: left;clear: left;min-width: 10em;text-align: center;}
div#recipientcombo select {width: 7em;text-align: left;}

/* CALENDAR MODULE */
div#fcalendar {margin-bottom: 1em;}
div#fcalendar table {width: 100%;}
div#fcalendar h3 {background: #332200;color: white;padding: 0.3em 0.6em;text-align: center;}
div#fcalendar table td,div#fcalendar table th {text-align: center;}
div#fcalendar table td {text-align: center;empty-cells: show;border-collapse: collapse;border: 1px solid #ddd;}
div#fcalendar table td.dayBlank {border: none;}
div#fcalendar table td a {text-decoration: none;display: block;line-height: 1.8em;}
div#fcalendar table td.calendarDayEvent {background: #fed;}
div#fcalendar table td.calendarDayEvent a {color: red;}
div#fcalendar table td.calendarDayCurrent {background: #eee;}
div#fcalendar table td.calendarDayCurrent a {color: black;}
div#fcalendar div.calendarPreviousMonthLink,div#fcalendar div.calendarNextMonthLink { }

/* USER INFO */
div.user-info {padding-top: 10px;}
div.user-info-foto img {margin-bottom: 10px;margin-right: 10px;float: left;}

/* ERROR MSGS */
#errormsgJS {display:none;}
.errormsg {color: #000;font-size: 1.2em;background-color: #fdd;margin: 0;padding: 1em;}
#okmsgJS {display:none;}
.okmsg {color: #000;font-size: 1.2em;background-color: #dfd;margin: 0;padding: 1em;}

/* SIDEBAR USER LIST - deprecated */
div#sidebar ul.sidebarUsersList {list-style: none;padding: 0;margin: 0;}
div#sidebar ul.sidebarUsersList span.fn {padding: 0 2px;font-weight: bold;}
div#sidebar ul.sidebarUsersList span.fn a {text-decoration: none;}
div#sidebar ul.sidebarUsersList img.userAvatar {float: left;margin: 0 0.5em 0 0;}
div#sidebar ul.sidebarUsersList li {clear: left;overflow: hidden;background: none;list-style: none;}
/*} /* END MEDIA SCREEN */
