<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<head><title>fdkForum::example</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/fPager.css" />
</head>
<html>
<body>

<!-- this part is mandatory for fdkForum - down from here -->

<!-- BEGIN errormsg --><div class="errormsg">{ERRORMSG}</div><!-- END errormsg -->
<!-- BEGIN form -->
<form id="forumForm" method="post" action="{FORMACTION}">
<p>
<label>Jmeno</label><input type="text" name="name" value="{NAME}" /><br />
<label>Text</label><textarea name="text">{TEXT}</textarea><br />
<label>Opiste kod</label><img src="{CAPTCHAIMGSRC}" /><input type="hidden" name="captchaimage" value="{CAPTCHAIMGSRC}" /> <input type="text" name="pcaptcha" value="" /><br />
<label></label><input type="submit" name="send" value="Odeslat" />
</p>
</form>
<!-- END form -->
<div class="listitems">
<!-- BEGIN item -->
<div>
  <div class="itemhead">
	 <div class="itemdate">{IDATE}</div>
	 <div class="itemname">{INAME}</div>
	</div>
	<div class="itemtext">{ITEXT}</div>
</div>
<!-- END item -->
</div>
<!-- BEGIN pager -->
{PAGER}
<!-- END pager -->

<!-- this part is mandatory for fdkForum - up from here -->

</body>
</html>
