<?xml version="1.0" encoding="utf-8"?>
<Fuup>
	<Config>
		<Services>
			<Service name="login">http://localhost/fuup/login.xml</Service>
			<Service name="files">http://localhost/fuup/files.php</Service>
			<Service name="gallery">http://localhost/fuup/gallery.xml</Service>
		</Services>
	</Config>
	<Filters>
		<Filter id="sharpen" enabled="0" visible="0">
			<name>Sharpen</name>
		</Filter>
		<Filter id="levels" enabled="1" visible="0">
			<name>Levels Correction</name>
		</Filter>
	</Filters>
	<Lang>
		<Item name="process"><![CDATA[Zpracovat]]></Item>
		<Item name="upload"><![CDATA[Nahrat]]></Item>
	</Lang>
</Fuup>