<!-- BEGIN header --><div class="bottomPadded">{CONTENT}</div><!-- END header -->
<div id="editForm">{EDITFORM}</div>
<!-- BEGIN detail --><div id="itemDetail">{DETAIL}</div><!-- END detail -->
<!-- BEGIN comm --><h2>Komentare</h2><!-- END comm -->
<!-- BEGIN messageForm --><div id="messageForm">{MESSAGEFORM}</div><!-- END messageForm -->
<!-- BEGIN message --><p>{MESSAGE}</p><!-- END message -->
<!-- BEGIN itemlist --><div id="{FEEDID}"><div class="hfeed<!-- BEGIN fcalendar --> vcalendar<!-- END fcalendar --><!-- BEGIN galleryfeed --> galeria<!-- END galleryfeed -->">{ITEMS}</div>
<!-- BEGIN bottomPager --><div id="bottomPager">{BOTTOMPAGER}</div><!-- END bottomPager -->
<!-- BEGIN feedempty --><p>V diskuzi nejsou žádné příspěvky</p><!-- END feedempty --></div><!-- END itemlist -->
<div id="afterFeed"></div>