<!-- BEGIN header --><div class="bottomPadded">{CONTENT}</div><!-- END header -->
<div id="editForm">{EDITFORM}</div>
<!-- BEGIN detail --><div id="itemDetail">{DETAIL}</div><!-- END detail -->
<!-- BEGIN comm --><h2>Komentare</h2><!-- END comm -->
<div id="messageForm">{MESSAGEFORM}</div>
<!-- BEGIN message --><p>{MESSAGE}</p><!-- END message -->
<!-- BEGIN newnum --><div class="fullsize righttext"><strong>Nepřečtených: {UNREADNUM}</strong></div><!-- END newnum -->
<!-- BEGIN itemlist --><div id="itemFeed" class="hfeed<!-- BEGIN vcalendar --> vcalendar<!-- END vcalendar -->">{ITEMS}</div>
<div id="bottomPager">{BOTTOMPAGER}</div><!-- END itemlist -->
<!-- BEGIN feedempty --><p>V diskuzi nejsou žádné příspěvky</p><!-- END feedempty -->