<form id="commentForm" action="{FORMACTION}" method="post" name="audit"<!-- BEGIN fajaxform --> class="fajaxform"<!-- END fajaxform -->>
<input type="hidden" name="m" value="{M}"/>
<input type="hidden" name="t" value="{T}"/>
<!-- BEGIN edit --><input id="ti" name="ti" value="{ITEMID}" type="hidden"/><!-- END edit -->
<fieldset>
<!-- BEGIN usernotlogged --><label>Jméno</label><input type="text" name="name" value="{USERNAME}" class="short" tabindex="1" /><br /><!-- END usernotlogged -->
<div class="clearbox">
<label for="{TEXTID}">Text</label><textarea id="{TEXTID}" class="leftbox markitup draftable expand" name="text" tabindex="2">{TEXT}</textarea>
<div class="geoForumBox"><textarea id="position" class="geoInput" name="position" title="Zadejte polohu">{POSITION}</textarea></div>
</div>
<div id="recaptcha" style="float:right;">{RECAPTCHA}</div>
<input type="submit" name="send" value="Odeslat" class="button submit" tabindex="4">
<!-- BEGIN usersigned --><span id="tempStore" class="fuup"></span>
<div id="imageHolder" class="row"></div><!-- END usersigned -->
</fieldset>
</form>