<!-- BEGIN pagedesc --><div id="forumHead">{PAGEDESC}</div><!-- END pagedesc -->
<form action="{FORMACTION}" method="post" name="audit">
{POSTSONTOP}
  <!-- BEGIN form -->
  <fieldset>
  <!-- BEGIN usernotlogged -->
  <label>Jméno</label><input type="text" name="jmeno" value="{USERNAMENOTLOGGED}" class="short" tabindex="0" /><br />
  <!-- END usernotlogged -->
  <label for="{TEXTAREAID}">Text</label>
	<span class="textAreaResize"><a href="?textid={TEXTAREAID}" class="toggleToolSize"></a></span>
	<textarea id="{TEXTAREAID}" class="draftable" name="zprava" tabindex="1">{TEXTAREACONTENT}</textarea><br />
  <!-- BEGIN usernotlogged2 -->
  <label>Opiš kód</label><img src="{CAPTCHASRC}" alt="captcha - prevent mass-access by robots." />
  <input type="hidden" name="captchaimage" value="{CAPTCHASRC}" />
  <input type="text" name="pcaptcha" value="" class="xShort" /><br />
  <!-- END usernotlogged2 -->
  <!-- BEGIN usernamelogged --><input type="hidden" name="jmeno" value="{USERNAMELOGGED}" /><!-- END usernamelogged -->
  <!-- BEGIN userlogged -->
  <label for="frompocketid">URL</label><input id="frompocketid" title="[bude vlozeno jako odkaz, url obrazku se automaticky zobrazi]" type="text" name="objekt" value="" class="long"  tabindex="3" />
  <a href="#" id="frompocketthumb" class="hidden">Z kapsy</a><br />
  <!-- END userlogged -->
  <input type="submit" name="send" value="Odeslat" class="button submit" tabindex="2">
  <!-- BEGIN userlogged2 -->
  <input type="submit" name="filtr" value="Filtr" class="button">
  Na stránku <input type="text" name="perpage" value="{PERPAGE}" title="počet zobrazených přípěvků" class="xShort" />
  <!-- END userlogged2 -->
  </fieldset>
  <!-- END form -->
<!-- BEGIN noform --><p>{READONLY}</p><!-- END noform -->

<!-- BEGIN posts -->
<!-- BEGIN messlist -->
  <!-- BEGIN toppager -->{TOPPAGER}<!-- END toppager -->
  <!-- BEGIN messages -->{MESSAGES}<!-- END messages -->
  <!-- BEGIN bottompager -->{BOTTOMPAGER}<!-- END bottompager -->
<!-- END messlist -->
<!-- BEGIN messno --><p>Žádné příspěvky</p><!-- END messno -->
<!-- END posts -->
</form>