<!-- BEGIN allforums -->
<div id="categories">
<!-- BEGIN category -->
<h3><a href="{CATEGORYLINK}" id="{CATEGORYID}" class="categorylink">{CATEGORYNAME}</a></h3>
<div id="list{CATEGORYID}">
<!-- BEGIN listedcategory -->
<ul<!-- BEGIN showicons --> class="showPageAvatar"<!-- END showicons -->>
  <!-- BEGIN all -->
  <li><a href="?k={ALLKAM}"><!-- BEGIN registered --><span title="Nove" class="postsNew">{ALLNEWCNT}</span><!-- END registered --><!-- BEGIN bauditicopic --><img src="{ALLFORUMICO}" alt="{ALLFORUMICOALT}" title="Avatar klubu {ALLFORUMICONAME}" /><!-- END bauditicopic -->{ALLFORUMNAME}</a></li>
  <!-- END all -->
</ul>
<!-- END listedcategory -->
</div>
<!-- END category -->
</div>
<script type="text/javascript">
function setCategoryEventListeners() {
  var arr = elmsByClass('categorylink');
  var length = arr.length;
  if(length > 0) {
     for(var z=0; z < length; z++) {
        arr[z].onclick = function() { xajax_forum_listcategory(this.id); return false; };
     }
   }
}
DOMReady(setCategoryEventListeners);
</script>
<!-- END allforums -->