<div id="bookedContent">
<!-- BEGIN bookedcontent -->
<!-- BEGIN friendavatar -->
<div id="usersBook"><h2>Oblibene uzivatele</h2>
{AVATAR}</div>
<!-- END friendavatar -->
<!-- BEGIN ownerforums -->
<h2>Vlastní</h2>
<ul<!-- BEGIN showiconsowner --> class="showPageAvatar"<!-- END showiconsowner -->>
  <!-- BEGIN owner -->
  <li>
  <!-- BEGIN oauditicopic --><a href="?k={OWNERICOKAM}" class="pageAvatar"><img src="{OWNERFORUMICO}" alt="{OWNERFORUMICOALT}" title="Ikona klubu {OWNERFORUMICONAME}" /></a><!-- END oauditicopic -->
  <!-- BEGIN ownernewclass --><span class="postsNew">{OWNERNEWCNT}</span><!-- END ownernewclass -->
  <a href="?k={OWNERKAM}">{OWNERFORUMNAME}</a>
  </li>
  <!-- END owner -->
</ul>
<!-- END ownerforums -->
<!-- BEGIN bookedforums -->
<h2>Oblibene</h2>
<ul<!-- BEGIN showiconsbooked --> class="showPageAvatar"<!-- END showiconsbooked -->>
  <!-- BEGIN booked -->
  <li>
  <!-- BEGIN bauditicopic --><a href="?k={BOOKEDICOKAM}" class="pageAvatar"><img src="{BOOKEDFORUMICO}" alt="{BOOKEDFORUMICOALT}" title="Ikona klubu {BOOKEDFORUMICONAME}" /></a><!-- END bauditicopic -->
  <!-- BEGIN newbookedclass --><span class="postsNew">{BOOKEDNEWCNT}</span><!-- END newbookedclass -->
  <a href="?k={BOOKEDKAM}">{BOOKEDFORUMNAME}</a>
  </li>
  <!-- END booked -->
</ul>
<!-- END bookedforums -->
<!-- BEGIN newforums -->
<h2>Nove</h2>
<ul<!-- BEGIN showiconsnew --> class="showPageAvatar"<!-- END showiconsnew -->>
  <!-- BEGIN new -->
  <li>
  <!-- BEGIN nauditicopic --><a href="?k={NEWICOKAM}" class="pageAvatar"><img src="{NEWFORUMICO}" alt="{NEWFORUMICOALT}" title="Ikona klubu {NEWFORUMICONAME}" /></a><!-- END nauditicopic -->
  <!-- BEGIN newnewclass --><span class="postsNew">{NEWNEWCNT}</span><!-- END newnewclass -->
  <a href="?k={NEWKAM}">{NEWFORUMNAME}</a>
  </li>
  <!-- END new -->
</ul>
<!-- END newforums -->
<!-- END bookedcontent -->
</div>