<!-- BEGIN pagedesc -->
<p>{PAGEDESC}</p>
<!-- END pagedesc -->
 <form action="{FORMACTION}" method="post" name="audit">
  <!-- BEGIN form -->
  <p class="auditForm">
  <!-- BEGIN userlogged -->
  <input type="hidden" name="jmeno" value="{USERNAMELOGGED}" />
  <!-- END userlogged -->
  <!-- BEGIN usernotlogged -->
  <label>Jméno</label><input type="text" name="jmeno" value="{USERNAMENOTLOGGED}" /><br />
  <label>Opiš kód</label><img src="{CAPTCHASRC}" alt="captcha - prevent mass-access by robots." />
  <input type="hidden" name="captchaimage" value="{CAPTCHASRC}" />
  <input type="text" name="pcaptcha" value="" /><br />
  <!-- END usernotlogged -->
  <label>Text</label><textarea id="{TEXTAREAID}" class="draftable" name="zprava">{TEXTAREACONTENT}</textarea><br />
  
  <a href="#" class="supernote-hover-styles2text">Vlozit styl</a>
  <div id="supernote-note-styles2text" class="snp-triggeroffset notemenu">
  <ul>
  <li><a class="clickDaTag" href="?tag=[b]-cursor-[/b]">Tucne</a></li>
  <li><a class="clickDaTag" href="?tag=[img]-cursor-[/img]">Obrazek</a></li>
  <li><a class="clickDaTag" href="?tag=[url]-cursor-[/url]">Odkaz</a></li>
  <ul>
  </div>

  <label>URL</label><input id="frompocketid" title="[bude vlozeno jako odkaz, url obrazku se automaticky zobrazi]" type="text" name="objekt" value="" class="long" />
  <a href="#" id="frompocketthumb" class="hidden">Z kapsy</a><br />
  <label>&nbsp;</label><input type="submit" name="send" value="Odeslat" class="button">
  <!-- BEGIN userlogged2 -->
  <input type="submit" name="filtr" value="Filtr" class="button">
  <!-- END userlogged2 -->
   Na stránku <input type="text" name="perpage" value="{PERPAGE}" title="počet zobrazených přípěvků" class="short" /><br />
  </p>
  <!-- END form -->
<!-- BEGIN noform -->
<p>{READONLY}</p>
<!-- END noform -->

<!-- BEGIN messlist -->
  <!-- BEGIN toppager -->
  <div class="pager">{TOPPAGER}</div>
  <!-- END toppager -->
  <!-- BEGIN messages -->
  {MESSAGES}
  <!-- END messages -->
  <!-- BEGIN bottompager -->
  <div class="pager">{BOTTOMPAGER}</div>
  <div class="auditnum">Celkem: {TOTAL}</div>
  <!-- END bottompager -->
<!-- END messlist -->
<!-- BEGIN messno -->
<p>Žádné příspěvky</p>
<!-- END messno -->
</form>