<!-- BEGIN thumbnails -->
<!-- BEGIN breadcrumbs -->
<a href="{MAINGALERYLINK}">Galerie</a> - <a href="{CATEGORYLINK}" title="{CATEGORYDESC}">{CATEGORYNAME}</a>
<!-- END breadcrumbs -->
<!-- BEGIN galeryhead -->
<div class="galeryHead">{GALERYHEAD}</div>
<!-- END galeryhead -->
<!-- BEGIN galerytext -->
<div class="galeryInfo">{GALERYTEXT}</div>
<!-- END galerytext -->

<!-- BEGIN pagingstart -->{PAGERSTART}<!-- END pagingstart -->

<div class="hfeed galeryThumbs">
<!-- BEGIN cell -->{THUMBNAIL}<!-- END cell -->
</div>

<!-- BEGIN pagingend -->{PAGEREND}<!-- END pagingend -->
<!-- END thumbnails -->