<div class="fotoDetailBox">
<!-- BEGIN statistic --><div class="stats">
<!-- BEGIN tag --><span class="tagGalery" id="tag">{TAG}</span> | <!-- END tag -->
<!-- BEGIN rating --><span class="viewedTimes"><span id="hit">{HITS}</span><img src="[[SKINURL]]/img/eye.png" title="Pocet zobrazeni" alt="x zobrazeni" /></span><!-- END rating -->
</div><!-- END statistic -->
<div id="fullscreenBox"><a href="{NEXTLINK}" id="detailNext" class="fajaxa hash keepscroll galerynext" title="Dalsi fotografie"><div class="showProgress"><img id="detailFoto" src="{IMGDIR}" alt="{IMGALT}" title="{IMGTITLE}" /></div></a></div>
<p id="desription">{INFO}</p>
<!-- BEGIN map --><a name="map{MAPITEMID}"></a><div id="map{MAPITEMID}" class="mapLarge hidden"><!-- BEGIN mapdata --><div class="mapsData"><input type="hidden" class="geoData" title="{MAPTITLE}" value="{MAPPOSITION}" /><div class="geoInfo"><h3>{MAPTITLE}</h3><p>{MAPINFO}<br /><strong>Vzdalenost: [[DISTANCE]]NM</strong></p></div></div><!-- END mapdata --></div>
<div class="mapSmall"><a id="mapThumb{STATICITEMID}" href="{STATICURL}#map" title="Map detail: {STATICITEMTITLE}" class="mapThumbLink"><img width="200" height="200" src="http://maps.google.com/maps/api/staticmap?size=200x200&markers={STATICMARKERPOS}&maptype=terrain&sensor=false<!-- BEGIN staticjourney -->&path={STATICWPLIST}<!-- END staticjourney -->" title="{STATICITEMTITLE}" alt="Google Maps" /></a></div><!-- END map -->
<a href="#" class="galeryFullSwitch">fullscreen</a>
</div>
