<!-- BEGIN thumbnails -->
<!-- BEGIN galeryhead -->
<div class="galeryHead">{GALERYHEAD}</div>
<!-- END galeryhead -->
<!-- BEGIN galerytext -->
<div class="galeryInfo">{GALERYTEXT}</div>
<!-- END galerytext -->

<!-- BEGIN pagingstart -->{PAGERSTART}<!-- END pagingstart -->

<div class="hfeed galeryThumbs">
<!-- BEGIN cell -->{THUMBNAIL}<!-- BEGIN row --><hr class="cleaner" /><!-- END row --><!-- END cell -->
</div>

<!-- BEGIN pagingend -->{PAGEREND}<!-- END pagingend -->
<!-- END thumbnails -->