<div class="fotoDetail">
<!-- BEGIN linkbacktop --><p><a href="{LINKBACKTOP}">Zpet na galerii</a></p><!-- END linkbacktop -->

<!-- BEGIN statistic --><div class="statistic">
    <!-- BEGIN tag --><span class="tagGalery">{TAG}</span> | <!-- END tag -->
    <!-- BEGIN rating --><span class="viewedTimes">{HITS}</span><!-- END rating -->
    <!-- BEGIN pocket --> | {POCKET}<!-- END pocket -->
</div><!-- END statistic -->

<!-- BEGIN nextlink --><a href="{NEXTLINK}"<!-- BEGIN xajaxSwitch --> class="xajaxSwitch"<!-- END xajaxSwitch --> title="Dalsi fotografie"><!-- END nextlink --><img src="{IMGDIR}" alt="{IMGALT}" /><!-- BEGIN nextlinkclose --></a><!-- END nextlinkclose -->
<!-- BEGIN info --><p>{INFO}</p><!-- END info -->
</div>
<!-- BEGIN comments --><div class="comments"><h3>Diskuze</h3>{COMMENTS}</div><!-- END comments -->
<!-- BEGIN prevthumb --><div class="previous">{THUMBPREVIOUS}Predchozi</div><!-- END prevthumb -->
<!-- BEGIN nextthumb --><div class="next">{THUMBNEXT}Dalsi</div><!-- END nextthumb -->