<div id="{ITEMIDHTML}" class="hentry<!-- BEGIN notpublished --> notpublished<!-- END notpublished -->">
	<!-- BEGIN notpublishedheader --><div class="notpublishedMsg">Nepublikovano</div><!-- END notpublishedheader -->
	<div class="header">
		<span class="author vcard">
	    <!-- BEGIN authorlink --><a href="{AUTHORLINK}" class="author url"><!-- END authorlink --><span class="fn">{AUTHOR}</span><!-- BEGIN authorlinkclose --></a><!-- END authorlinkclose --> 
	    <!-- BEGIN useronlinelocation --><a href="{USERLOCATIONLINK}" title="Prave sleduje" class="currentLocation">{USERLOCATION}</a><!-- END useronlinelocation -->
	  </span>
	  
	  <span class="abbr" title="{DATEISO}"><abbr class="updated published" title="{DATEISO}">{DATELOCAL}</abbr></span>
	  
	  <span class="stats">
	  <!-- BEGIN numcomment --><span class="commentsNum"><a href="{COMMENTLINK}" title="Pocet komentaru"><!-- BEGIN registered --><span class="postsNew">{ALLNEWCNT}</span>/<!-- END registered -->{CNTCOMMENTS} <img src="[[SKINURL]]/img/comments.png" alt="Komentare"></a></span> | <!-- END numcomment -->
		<!-- BEGIN tag -->{TAG} | <!-- END tag -->
		<!-- BEGIN rating --><span class="viewedTimes">{HITS}<img src="[[SKINURL]]/img/eye.png" title="Pocet zobrazeni" alt="x zobrazeni" /></span> | <!-- END rating -->
	  <!-- BEGIN link --><span class="linkIco"><a href="{ITEMLINK}" title="Odkaz na prispevek"><img src="[[SKINURL]]/img/link_go.png" /></a></span><!-- END link -->
	  </span>
	  
	  <!-- BEGIN edit --><span class="edit"><a href="{EDITURL}">Upravit</a></span><!-- END edit -->
	</div>

  <!-- BEGIN useravatar --><div class="avatar">{AVATAR}</div><!-- END useravatar -->
  <!-- BEGIN heading --><h2 class="entry-title summary<!-- BEGIN headhidden --> hidden<!-- END headhidden -->"><a href="{BLOGLINK}" class="bookmark">{BLOGTITLE}</a></h2><!-- END heading -->
  <!-- BEGIN category --><span class="category<!-- BEGIN categoryhidden --> hidden<!-- END categoryhidden -->"><a href="{CATEGORYURL}">{CATEGORYNAME}</a></span><!-- END category -->
	<div class="entry-content">{TEXT}</div>
	
	<!-- BEGIN map --><div id="map{MAPDIVITEMID}" class="{MAPCLASS}">
	<!-- BEGIN staticmap --><a href="?i={STATICITEMID}&map=detail" title="Map detail: {STATICITEMTITLE}"><img width="{STATICWIDTH}" height="{STATICHEIGHT}" src="http://maps.google.com/maps/api/staticmap?size={STATICWIDTH}x{STATICHEIGHT}&markers=color:blue|label:A|{STATICMARKERPOS}&maptype=terrain&sensor=false<!-- BEGIN staticjourney -->&path=color:0x{STATICJOURNEYCOLOR}|weight:{STATICJOURNEYSIZE}|<!-- BEGIN staticwp -->{STATICWPPOS}<!-- BEGIN staticwpeol -->|<!-- END staticwpeol --><!-- END staticwp --><!-- END staticjourney -->" title="{STATICITEMTITLE}" alt="Google Maps" /></a><!-- END staticmap -->
	</div><!-- END map -->
	
	<!-- BEGIN dynamicmap -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
function gmapinit{MAPITEMID}() {
	var mapDiv = document.getElementById('map{MAPITEMID}');
	var map = new google.maps.Map(mapDiv, { center: new google.maps.LatLng({INITPOS}), zoom: 9, mapTypeId: google.maps.MapTypeId.TERRAIN });
	<!-- BEGIN journey -->var journeyPath{JOURNEYITEMID} = new google.maps.Polyline({ path: [<!-- BEGIN waypoint -->new google.maps.LatLng({WPPOS})<!-- BEGIN wpeol -->,<!-- END wpeol --><!-- END waypoint -->], strokeColor: "#{JOURNEYCOLOR}", strokeOpacity: 1.0, strokeWeight: {JOURNEYSIZE} });
  journeyPath{JOURNEYITEMID}.setMap(map);
	/*
  var distanceWindow = new google.maps.InfoWindow({});
  google.maps.event.addListener(journeyPath{JOURNEYITEMID}, 'mouseover', function() {
  	distanceWindow.setContent = 'Vzdalenost: '+journeyPath{JOURNEYITEMID}.inNM()+'NM';
  	distanceWindow.setPosition();
  	distanceWindow.open(map);
  }
  google.maps.event.addListener(journeyPath{JOURNEYITEMID}, 'mouseout', function() {
  	distanceWindow.close();
  }
  */  
  });
	<!-- END journey -->
	var content{MAPITEMID} = new google.maps.InfoWindow({ content: '{ITEMCONTENT}' });
	var marker{MAPITEMID} = new google.maps.Marker({ position: new google.maps.LatLng({ITEMPOS}), map: map, title:"{ITEMTITLE}" });
	google.maps.event.addListener(marker{MAPITEMID}, 'click', function() { content{MAPITEMID}.open(map,marker{MAPITEMID}); });<!-- END item -->
	<!-- BEGIN fitbounds -->map.fitBounds(new google.maps.LatLngBounds(new google.maps.LatLng({SWBOUND}), new google.maps.LatLng({NEBOUND})));<!-- END fitbounds -->
}
google.maps.event.addDomListener(window, 'load', gmapinit{MAPITEMID});
</script>
<!-- END dynamicmap -->

	<!-- BEGIN detailLink --><div class="completelink"><a href="{LONGURL}">Cely clanek</a></div><!-- END detailLink -->
</div>
<!-- BEGIN comments --><div class="comments"><h3>Komentare</h3>{COMMENTS}</div><!-- END comments -->
<div class="clearbox"></div>
