<div class="vevent hentry">
<div class="clearbox">
<!-- BEGIN flyer --><a href="{IMGURL}" rel="lightbox-events"><img class="hentryimage" src="{IMGURLTHUMB}" title="Leták {IMGTITLE}" alt="{IMGALT}" /></a><!-- END flyer -->
<!-- BEGIN flyerdefault --><img class="eventFlyerThumb" src="[[SKINURL]]{FLYERTHUMBURLDEFAULT}" /><!-- END flyerdefault -->
<div class="description nextToFlyer">
<div class="category">{CATEGORYNAME}</div>
<h2 class="entry-title summary"><a class="url" href="{TITLEURL}">{TITLE}</a></h2>
<div class="date">Kdy <span class="abbr" title="{STARTDATETIMEISO}"><abbr class="dtstart" title="{STARTDATETIMEISO}">{STARTDATETIMELOCAL}</abbr></span>
<!-- BEGIN eventend -->- <span class="abbr" title="{ENDDATETIMEISO}"><abbr class="dtend" title="{ENDDATETIMEISO}">{ENDDATETIMELOCAL}</abbr></span><!-- END eventend -->
</div>
<div class="location">Kde <strong>{LOCATION}</strong></div>
<div class="description">{TEXT}</div>
</div>
</div>
<!-- BEGIN map --><div id="map{MAPITEMID}" class="mapLarge hidden"><!-- BEGIN mapdata --><div class="mapsData"><input type="hidden" class="geoData" title="{MAPTITLE}" value="{MAPPOSITION}" /><div class="geoInfo"><h3>{MAPTITLE}</h3><p>{MAPINFO}<br /><strong>Vzdalenost: [[DISTANCE]]NM</strong></p></div></div><!-- END mapdata --></div>
<div class="mapSmall"><a id="mapThumb{MAPITEMID}" href="#map" title="Map detail: {MAPTITLE}" class="mapThumbLink"><img width="200" height="200" src="http://maps.google.com/maps/api/staticmap?size=200x200&markers={STATICMARKERPOS}&maptype=terrain&sensor=false<!-- BEGIN stwp -->&path={STATICWPLIST}<!-- END stwp -->" title="{MAPTITLE}" alt="Google Maps" /></a></div>
<div class="clearbox"></div><!-- END map -->
<div class="header">
<span class="abbr" title="{DATEISO}"><abbr class="updated published" title="{DATEISO}">{DATELOCAL}</abbr></span>
<span class="vcard"><a href="{AUTHORLINK}" class="author url"><span class="fn">{AUTHOR}</span></a></span>
<span class="stats">
<span class="commentsNum"><a href="{COMMENTLINK}" title="Pocet komentaru"><!-- BEGIN new --><span class="postsNew">{ALLNEWCNT}</span>/<!-- END new -->{CNTCOMMENTS} <img src="[[SKINURL]]/img/comments.png" alt="Komentare"></a></span> 
{TAG} 
<span class="linkIco"><a href="{ITEMLINK}" title="Odkaz na prispevek"><img src="[[SKINURL]]/img/link_go.png" /></a></span>
</span>
<!-- BEGIN edit --><span class="edit"><a href="{EDITURL}">Upravit</a></span><!-- END edit -->
</div>
</div>
