<!-- BEGIN thumbsdiv --><div class="galeryThumbs"><!-- END thumbsdiv -->
<div id="{ITEMIDHTML}"<!-- BEGIN hentry --> class="hentry"<!-- END hentry -->>
	<div class="entry-content"{ADDONSTYLEWIDTH}>
	  <!-- BEGIN statistic --><div class="stats">
	  <!-- BEGIN numcomment --><span class="commentsNum"><a href="{COMMENTLINK}" title="Pocet komentaru"><!-- BEGIN registered --><span class="postsNew">{ALLNEWCNT}</span>/<!-- END registered -->{CNTCOMMENTS} <img src="[[SKINURL]]/img/comments.png" alt="Komentare"></a></span> | <!-- END numcomment -->
		<!-- BEGIN tag -->{TAG} | <!-- END tag -->
		<!-- BEGIN rating --><span class="viewedTimes">{HITS}<img src="[[SKINURL]]/img/eye.png" title="Pocet zobrazeni" alt="x zobrazeni" /></span><!-- END rating -->
	  </div><!-- END statistic -->
    <div class="foto">
    <!-- BEGIN raw -->
      <a href="{IMGURLDETAIL}" id="{ITEMIDHTML}"<!-- BEGIN popupc --> rel="lightbox{POPUPCLIGHTBOXGROUP}"<!-- END popupc --> <!-- BEGIN tip --> class="<!-- BEGIN xajaxSwitch -->xajaxSwitch <!-- END xajaxSwitch -->supernote-hover-foto{ITEMID}"<!-- END tip -->>
      <img src="{IMGURLTHUMB}" alt="{IMGALT}" title="{IMGTITLE}" /></a>
    <!-- END raw -->
    </div>
    <!-- BEGIN info --><p>{TEXT}</p><!-- END info -->
  </div>
</div>
<!-- BEGIN thumbsdivend --></div><!-- END thumbsdivend -->
<!-- BEGIN comments --><div class="comments"><h3>Komentare</h3>{COMMENTS}</div>
<hr class="cleaner" /><!-- END comments -->
<!-- BEGIN tooltip -->
<div id="supernote-note-foto{ITEMIDTOOLTIP}" class="snp-mouseoffset notemenu">
  <ul>
    <li><a href="{LINKPOPUP}" rel="lightbox">Ukázat celou</a></li>
    <li><a href="?k={PAGEIDTOOLTIP}&amp;i={ITEMIDTOOLTIP}">Prohlédnout galerii</a></li>
    <!-- BEGIN pocket --><li>{POCKET}</li><!-- END pocket -->
  </ul>
</div>
<!-- END tooltip -->
