<div id="{ITEMIDHTML}" class="hentry blog<!-- BEGIN notpublished --> notpublished<!-- END notpublished -->">
<!-- BEGIN notpublishedheader --><div class="notpublishedMsg">Nepublikovano</div><!-- END notpublishedheader -->
<div class="header">
<span class="author vcard"><a href="{AUTHORLINK}" class="author url"><span class="fn">{AUTHOR}</span></a></span>
<span class="abbr" title="{DATEISO}"><abbr class="updated published" title="{DATEISO}">{DATELOCAL}</abbr></span>
<span class="stats">
<span class="commentsNum"><a href="{COMMENTLINK}" title="Pocet komentaru"><!-- BEGIN registered --><span class="postsNew">{ALLNEWCNT}</span>/<!-- END registered -->{CNTCOMMENTS} <img src="[[SKINURL]]/img/comments.png" alt="Komentare"></a></span> 
{TAG}
<span class="viewedTimes">{HITS}<img src="[[SKINURL]]/img/eye.png" title="Pocet zobrazeni" alt="x zobrazeni" /></span> 
</span>
<!-- BEGIN edit --><span class="edit"><a href="{EDITURL}">Upravit</a></span><!-- END edit -->
</div>
<div class="avatar">{AVATAR}</div>
<h2 class="entry-title summary"><a href="{TITLEURL}" class="bookmark">{TITLE}</a></h2>
<!-- BEGIN image --><a href="{IMGURL}" rel="lightbox-page"><img class="hentryimage" src="{IMGURLTHUMB}" title="{IMGTITLE}" alt="{IMGALT}" /></a><!-- END image -->
<!-- BEGIN category --><span class="category"><a href="{CATEGORYURL}">{CATEGORYNAME}</a></span><!-- END category -->
<div class="entry-content">{TEXT}</div>
<!-- BEGIN map --><a name="map{MAPITEMID}"></a><div id="map{MAPITEMID}" class="mapLarge hidden">
<!-- BEGIN mapdata --><div class="mapsData hidden"><input type="hidden" class="mapData" value="{MAPPOSITION}" /><input type="hidden" class="mapTitle" value="{MAPTITLE}" />
<div class="mapInfo"><div style="width:300px"><h3>{MAPTITLE}</h3><div>{MAPINFO}</div><div><strong>Vzdalenost: [[DISTANCE]]NM</strong></div></div></div>
</div><!-- END mapdata -->
</div>
<div class="mapSmall"><a id="mapThumb{STATICITEMID}" href="{STATICURL}#map" title="Map detail: {STATICITEMTITLE}" class="mapThumbLink">
<img width="200" height="200" src="http://maps.google.com/maps/api/staticmap?size=200x200&markers={STATICMARKERPOS}&maptype=terrain&sensor=false<!-- BEGIN staticjourney -->&path={STATICWPLIST}<!-- END staticjourney -->" title="{STATICITEMTITLE}" alt="Google Maps" /></a></div><!-- END map -->
<!-- BEGIN detailLink --><div class="completelink"><a href="{LONGURL}">Cely clanek</a></div><!-- END detailLink -->
</div>
<div class="clearbox"></div>