<div class="hfeed galleryList">
<!-- BEGIN item -->
<div id="p{PAGEID}" class="hentry">
	<span class="abbr" title="{DATEISO}"><abbr class="published" title="{DATEISO}">{DATELOCAL}</abbr></span>
	<span class="stats">
		<span class="fotoNum"><!-- BEGIN registered --><span class="postsNew">{FOTONEW}</span>/<!-- END registered -->{FOTONUM} <img src="[[SKINURL]]/img/camera.png" title="Pocet fotografii" alt="Pocet fotografii"></a></span><!-- END numcomment -->
	</span>
	
    <div class="thumbnail">{THUMB}</div>
    <h3 class="entry-title"><a href="{PAGELINK}" class="bookmark url">{PAGENAME}</a></h3>
    <p class="entry-content">{GALERYTEXT}</p>
<div class="clearbox"></div>
</div>
<!-- END item -->
</div>