<div id="{ITEMIDHTML}" class="hentry<!-- BEGIN unread --> unread<!-- END unread -->">
  <a name="{ITEMIDHTML}"></a>
  <div class="header">
		<span class="author vcard"><!-- BEGIN aa --><a href="{AUTHORLINK}" class="author url"><!-- END aa --><span class="fn">{AUTHOR}</span><!-- BEGIN aaclose --></a><!-- END aaclose --></span>
	  <span class="abbr" title="{DATEISO}"><abbr class="updated published" title="{DATEISO}">{DATELOCAL}</abbr></span>
	  <span class="stats">
		<!-- BEGIN tag -->{TAG} | <!-- END tag -->
	  <!-- BEGIN link --><span class="linkIco"><a href="{ITEMLINK}" title="Odkaz na prispevek"><img src="[[SKINURL]]/img/link_go.png" /></a></span><!-- END link -->
	  </span>
	  
	  <!-- BEGIN postdeletecheckbox --><span class="delete"><a href="{DELETEURL}" class="confirm fajaxa" title="Opravdu chcete smazat prispevek?"><img src="[[SKINURL]]/img/comment_delete.png" title="Smazat prispevek" /></a></span><!-- END postdeletecheckbox -->
	</div>
  <!-- BEGIN useravatar --><div class="avatar">{AVATAR}</div><!-- END useravatar -->
  <div class="entry-content">{TEXT}</div>
</div>
<div class="clearbox"></div>