<div id="{ITEMIDHTML}" class="hentry<!-- BEGIN unread --> unread<!-- END unread --><!-- BEGIN haspagelabel --> hasPageLabel<!-- END haspagelabel -->">
  <a name="{ITEMIDHTML}"></a>
  <span class="author vcard">
    <!-- BEGIN postdeletecheckbox --><input type="checkbox" name="del[]" value="{EDITID}" class="deleteItem" title="Oznacit pro smazani, po odeslani" /><!-- END postdeletecheckbox -->
    <!-- BEGIN authorlink --><a href="{AUTHORLINK}" class="url"><!-- END authorlink --><span class="fn">{AUTHOR}</span><!-- BEGIN authorlinkclose --></a><!-- END authorlinkclose --> 
    <!-- BEGIN useronlinelocation --><a href="{USERLOCATIONLINK}" title="Prave sleduje" class="currentLocation">{USERLOCATION}</a><!-- END useronlinelocation -->
  </span>
  <!-- BEGIN link --><span class="link"><a href="{ITEMLINK}" title="Odkaz na prispevek">URL</a></span><!-- END link -->
  <!-- BEGIN tag --><span class="tag">{TAG}</span><!-- END tag -->
  <!-- BEGIN pocket -->{POCKET} <!-- END pocket -->
  <!-- BEGIN useravatar --><div class="avatar">{AVATAR}</div><!-- END useravatar -->
  <span class="abbr" title="{DATEISO}"><abbr class="updated published" title="{DATEISO}">{DATELOCAL}</abbr></span>
  <div class="entry-content">{TEXT}
    <!-- BEGIN enclosure --><div class="enclosure">{ENCLOSURE}</div><!-- END enclosure -->
  </div>
</div>
<!-- BEGIN commentedItem --><div class="commentedItem">{ITEMBOTTOM}</div><!-- END commentedItem -->
<hr class="cleaner" />