<!-- BEGIN lastinblogsfirst -->
<div id="lastBlogPost" class="hfeed">
<h3>Nejnovejsi clanek</h3>
{LASTBLOGPOST}
</div>
<!-- END lastinblogsfirst -->

<!-- BEGIN lastinforums  -->
<h3>Nejnovejsi v klubech</h3>
<div id="lastforumPosts" class="hfeed">
{LASTFORUMPOSTS}
</div>
<!-- END lastinforums  -->

<!-- BEGIN lastinblogs  -->
<h3>Aktualni clanky</h3>
<div id="lastBlogPosts" class="hfeed">
{LASTBLOGPOSTS}
</div>
<!-- END lastinblogs  -->
<!-- BEGIN mostvisitedpagecached --><div id="mostVisitedPages">
<h3>Nejnavstevovanejsi</h3>
{MOSTVISITEDECACHED}
</div><!-- END mostvisitedpagecached -->

<!-- BEGIN newpagecached --><div id="newCreatedPages">
<h3>Nejnovejsi</h3>
{NEWPAGECACHED}
</div><!-- END newpagecached -->

<!-- BEGIN mostactivepagecached --><div id="mostActivePages">
<h3>Nejaktivnejsi</h3>
{MOSTACTIVECACHED}
</div><!-- END mostactivepagecached -->

<!-- BEGIN mostfavouritepagecached --><div id="mostPopularPages">
<h3>Nejoblibenejsi</h3>
{MOSTFAVOURITECACHED}
</div><!-- END mostfavouritepagecached -->
