<!-- BEGIN lastinblogs  -->
<div id="lastBlogPost" class="hfeed">
{LASTBLOGPOST}
</div>
<!-- END lastinblogs  -->

<!-- BEGIN lastinforums  -->
<h3>Nejnovejsi v klubech</h3>
<div id="lastforumPosts" class="hfeed">
{LASTFORUMPOSTS}
</div>
<!-- END lastinforums  -->

<!-- BEGIN lastinblogs  -->
<h3>Aktualni clanky</h3>
<div id="lastBlogPosts" class="hfeed">
{LASTBLOGPOSTS}
</div>
<!-- END lastinblogs  -->

<div id="mostVisitedPages">
<h3>Nejnavstevovanejsi</h3>
<ul>
<!-- BEGIN mostvisitedpagecached -->
{MOSTVISITEDECACHED}
<!-- END mostvisitedpagecached -->
<!-- BEGIN mostvisitedpage -->
<li><a href="{MOSTVISITEDEURL}" title="{MOSTVISITEDTITLE}">{MOSTVISITEDTEXT}</a></li>
<!-- END mostvisitedpage -->
</ul>
</div>

<div id="newCreatedPages">
<h3>Nejnovejsi</h3>
<ul>
<!-- BEGIN newpagecached -->
{NEWPAGECACHED}
<!-- END newpagecached -->
<!-- BEGIN newpage -->
<li><a href="{NEWPAGEURL}" title="{NEWPAGETITLE}">{NEWPAGETEXT}</a></li>
<!-- END newpage -->
</ul>
</div>

<div id="mostActivePages">
<h3>Nejaktivnejsi</h3>
<ul>
<!-- BEGIN mostactivepagecached -->
{MOSTACTIVECACHED}
<!-- END mostactivepagecached -->
<!-- BEGIN mostactivepage -->
<li><a href="{MOSTACTIVEURL}" title="{MOSTACTIVETITLE}">{MOSTACTIVETEXT}</a></li>
<!-- END mostactivepage -->
</ul>
</div>

<div id="mostPopularPages">
<h3>Nejoblibenejsi</h3>
<ul>
<!-- BEGIN mostfavouritepagecached -->
{MOSTFAVOURITECACHED}
<!-- END mostfavouritepagecached -->
<!-- BEGIN mostfavouritepage -->
<li><a href="{MOSTFAVOURITEURL}" title="{MOSTFAVOURITETITLE}">{MOSTFAVOURITETEXT}</a></li>
<!-- END mostfavouritepage -->
</ul>
</div>
