<?xml version="1.0" encoding="{CHARSET}"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
<script type="text/javascript">
if(window.location.hash){var h=window.location.hash.replace('#','').split('/'),m=h[0],i=m.indexOf('-');if(i>-1){window.location.hash='';var r='?m='+m+'&d='+h[1]+(h[2]?'&k='+h[2]:'');window.location.replace(r);}};
</script>
<title>{TITLE}</title>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta http-equiv="Content-language" content="cs" />
<!-- BEGIN description --><meta name="description" content="{DESCRIPTION}" /><!-- END description -->
<link rel="shortcut icon" href="[[SKINURL]]/img/favicon.ico" type="image/x-icon" />
<link rel="alternate" type="application/rss+xml" title="{TITLE} - fundekave.net - RSS 2.0" href="http://{HOMESITE}/rss/<!-- BEGIN rsspageid -->?k={RSSPAGEID}<!-- END rsspageid -->" />
<link rel="stylesheet" type="text/css" href="[[STATIC_DOMAIN]]default.css" media="all" title="fundekave" />
</head>
<body>
<div id="pageholder">
<div id="header">
<div id="logo"><a href="http://fundekave.net/"><img src="[[SKINURL]]/img/fundekave-logo.png" title="fundekave.net" alt="FUNDEKAVE" /></a></div>
{CACHEDMENU}<!-- BEGIN menu --><ul id="menu"><!-- BEGIN topmenuitem --><li><a href="{LINK}">{TEXT}</a></li><!-- END topmenuitem --></ul><!-- END menu -->
</div>
<div id="pagebar">
<div id="mainbar">
<form action="{SEARCHACTION}" method="post"><div id="search-holder"><div id="search"><img src="[[SKINURL]]/img/magnifier.png" title="Vyhledavani" alt="Hledat" /><input type="text" name="f" class="short" /> <input type="submit" name="search" value="Hledat" /></div></div></form>
<!-- BEGIN breadcrumbs --><div id="breadcrumbs">
<!-- BEGIN breadcrumbslist --><ul><!-- BEGIN bread --><li><!-- BEGIN breadlink --><a href="{BREADURL}"><!-- END breadlink -->{BREADNAME}<!-- BEGIN breadlinkend --></a><!-- END breadlinkend --></li><!-- END bread --></ul><!-- END breadcrumbslist -->
</div><!-- END breadcrumbs -->
<!-- BEGIN secondary-menu --><div id="menu-secondary-holder"><ul id="menu-secondary">
<!-- BEGIN smitem --><li<!-- BEGIN smlicl --> class="{LISTCLASS}"<!-- END smlicl -->><a href="{LOLINK}"<!-- BEGIN smtitle --> title="{LOTITLE}"<!-- END smtitle --><!-- BEGIN smcl --> class="{CLASS}"<!-- END smcl --><!-- BEGIN smid --> id="{LOID}"<!-- END smid -->>{LOTEXT}</a></li><!-- END smitem -->
</ul></div><!-- END secondary-menu -->
<div id="errormsgJS" class="errormsg">{ERRORMSG}</div>
<div id="okmsgJS" class="okmsg">{OKMSG}</div>
<!-- BEGIN pageheading --><h1 id="pageHead">{PAGEHEAD}</h1><!-- END pageheading -->
<!-- BEGIN content --><div class="mainpanel-content"<!-- BEGIN contentid --> id="{MAINID}"<!-- END contentid -->>
<!-- BEGIN contentheading --><h2>{MAINHEAD}</h2><!-- END contentheading -->
{MAINDATA}
</div><!-- END content -->
</div>
<!-- BEGIN sidebar --><div id="sidebar">
<!-- BEGIN sidebar-block --><div class="sidebarBlock">
<!-- BEGIN sidebar-heading --><h2>{SIDEBARHEAD}</h2><!-- END sidebar-heading -->
<div id="{SIDEBARBLOCKID}" class="sidebarBlockContent">
{SIDEBARDATA}
</div>
</div><!-- END sidebar-block -->
</div><!-- END sidebar -->
</div>
<div id="footer"><span><a href="http://fundekave.net">fundekave.net</a></span>{FOOTER}</div>
</div>
<span id="messageNew" class="<!-- BEGIN msgHidden -->hidden<!-- END msgHidden -->"><a href="?k=fpost">Nove zpravy:</a><br /><span id="numMsg">{NEWPOST}</span> <a href="?k=fpost" id="recentSender">{NEWPOSTFROMNAME}</a></span>
<script type="text/javascript">
var Sett={assUrl:'{ASSETS_URL}',jsUrl:'[[URL_JS]]',skinUrl:'[[SKINURL]]',cw:'{CLIENT_WIDTH}',ch:'{CLIENT_HEIGHT}',msgTi:'{MSGPOLLTIME}',gooAnal:'{GOOGLEID}',user:'{USER}'
,ajaxErr:'Doslo k chybe pri spojeni, zkuste odeslat znovu'
,locale:{goomapi:{title:'Vyberte více bodů pro zobrazení trasy',distance:'Vzdálenost: ',search:'Hledat',removelast:'Smazat poslední',clear:'Smazat',cancel:'Zpět',save:'Uložit'}}
,ll:{'boot':['http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js','[[URL_JS]]fundekave.js']
,'goomapi':['[[URL_JS]]markerclusterer/cluster.js']
,'slim':['[[URL_JS]]slimbox.js']
,'form':['[[URL_JS]]form.js']
,'swf':['http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js']
,'ui':['http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js','[[URL_JS]]i18n/ui.datepicker-cs.js','[[STATIC_DOMAIN]]css/themes/ui-lightness/jquery-ui.css']
,'richta':['[[URL_JS]]markitup/jquery.markitup.pack.js','[[URL_JS]]markitup/sets/default/style.css','[[URL_JS]]markitup/skins/simple/style.css','[[URL_JS]]markitup/sets/default/set.js']}
};
</script>
<script type="text/javascript" src="[[URL_JS]]boot.js"></script>
</body>
</html>