<script type="text/javascript" charset="UTF-8">
/* <![CDATA[ */
	function submitBloged()
	{
		if(xajax.$('submitButtonSave')) xajax.$('submitButtonSave').disabled=true;
		if(xajax.$('submitButtonDelete')) xajax.$('submitButtonDelete').disabled=true;
		xajax_blog_processFormBloged(xajax.getFormValues("bloged"));
		return false;
	}
/* ]]> */
</script>
<a name="editnew"></a>
<div id="editnew">{EDITFORM}</div>
<!-- BEGIN header -->
<p>{CONTENT}</p>
<!-- END header -->
<!-- BEGIN new -->
<div class="new" id="{NEWID}">
	<h2>{ADDON}</h2>
	<div class="text">{TEXT}</div>
	<div class="author"><span class="datum">{DATUM}</span> | <a href="{AUTHORLINK}">{AUTHOR}</a> | <a href="{COMMENTLINK}">{COMMENT}</a>
  <!-- BEGIN neweditlinks -->
   | <a href="#editnew" onclick='{XAJAXEDIT}'>Upravit</a>
  <!-- END neweditlinks -->
  </div>
</div>
<!-- END new -->
<!-- BEGIN bottompager -->
<div class="pager">{BOTTOMPAGER}</div>
<!-- END bottompager -->