<fieldset>
<legend>Spratelene stranky</legend>

<table>
<tr>
	<td align="center">
	<div><strong>Dostupne stranky</strong></div>
	<select name="listLeft" id="listLeft" multiple size=10 style="width:300px;">{OPTIONSLEFT}</select><br />
	Filtr: <input type="text" name="relFiltr" class="short" value="" id="optLeftFilter" />
	</td>
	<td valign="middle" align="center"><br /><br />
		<input type="button" class="button" name="rightAll" id="moveRightAllButt" value="&gt;&gt;" /><br />
    <input type="button" class="button" name="right" id="moveRightButt" value=" &gt; " /><br />
		<input type="button" class="button" name="left" id="moveLeftButt" value=" &lt; " /><br />
		<input type="button" class="button" name="leftAll" id="moveLeftAllButt" value="&lt;&lt;" />
	</td>
	<td align="center">
	<div><strong>Spratelene stranky</strong></div>
	<select name="listRight" id="listRight" multiple size=10 style="width:300px;">{OPTIONSRIGHT}</select>
	</td>
</tr>
</table>
<input type="hidden" name="removedLeft" id="removedLeft" value="" />
<input type="hidden" name="removedRight" id="removedRight" value="" />
<input type="hidden" name="addedLeft" id="addedLeft" value="" />
<input type="hidden" name="addedRight" id="addedRight" value="" />
<input type="hidden" name="newLeft" id="newLeft" value="" />
<input type="hidden" name="newRight" id="newRight" value="" />
<input type="submit" name="save" value="Ulozit" class="button submit" />
</fieldset>
<!-- 
<script language="javascript" src="js/OptionTransfer.js"></script>
<script language="javascript">
var optionTransfer;
$(document).ready(function(){
  optionTransfer = new OptionTransfer(elm("listLeft"),elm("listRight"));
  optionTransfer.setAutoSort(true);
  optionTransfer.setDelimiter(";");
  optionTransfer.saveRemovedLeftOptions(elm("removedLeft"));
  optionTransfer.saveRemovedRightOptions(elm("removedRight"));
  optionTransfer.saveAddedLeftOptions(elm("addedLeft"));
  optionTransfer.saveAddedRightOptions(elm("addedRight"));
  optionTransfer.saveNewLeftOptions(elm("newLeft"));
  optionTransfer.saveNewRightOptions(elm("newRight"));
  
  addEvent(elm("listLeft"),'dblclick',function(){ optionTransfer.transferRight(); });
  addEvent(elm("listRight"),'dblclick',function(){ optionTransfer.transferLeft(); });
  addEvent(elm("optLeftFilter"),'keyup',function(){ optSetFilter(this.value,elm('listLeft')); });
  
  addEvent(elm("moveRightAllButt"),'click',function(){ optionTransfer.transferAllRight() });
  addEvent(elm("moveRightButt"),'click',function(){ optionTransfer.transferRight(); });
  addEvent(elm("moveLeftAllButt"),'click',function(){ optionTransfer.transferAllLeft() });
  addEvent(elm("moveLeftButt"),'click',function(){ optionTransfer.transferLeft(); });
});
</script>
-->