<form action="{FORMACTION}" method="post">
<fieldset>
  <legend>Filtrovat</legend>
  Hledat <input type="text" name="filtr" value="{FILTRTEXT}" title="Hledani" class="short" /> 
  v kategorii <select name="kat"><option value=0>--- Kategorie ---</option>{CATEGORYOPTIONS}</select> 
  <input type="submit" name="nav" value="Vybrat" class="button" />
</fieldset>
</form>
<!-- BEGIN results -->
<!-- BEGIN toppager -->{TOPPAGER}<!-- END toppager -->
{PAGELINKS}
<!-- BEGIN bottompager -->{BOTTOMPAGER}<!-- END bottompager -->
<!-- END results -->

<!-- BEGIN noresults --><p align="center">Nenalezena žádná galerie vyhovující podmínkám</p><!-- END noresults -->