<div id="tabs">
	<ul>
	<li><a href="#items">Prispevky [{TOTALITEMS}]</a></li>
	<li><a href="#pages">Stranky [{TOTALPAGES}]</a></li>
	<li><a href="#users">Uzivatele [{TOTALUSERS}]</a></li>
	</ul>
	<div id="items">
	<form action="{SEARCHACTION}#items" method="post">
		<input type="hidden" name="t" value="items" />
     <fieldset>
     	<legend>Nalezeno prispevku</legend>
        <input type="text" name="f" value="{FILTRITEMS}" class="short" /> <input type="submit" name="search" value="Hledat" class="button" /><br />
      </fieldset>
  </form>
	<!-- BEGIN items -->{ITEMS}
	<!-- BEGIN itemspager -->{TOPPAGER}<!-- END itemspager -->
	<div class="clearbox"></div>
	<!-- END items -->
	<!-- BEGIN noitems --><p align="center">Nenalezeny žádná prizpevky vyhovující podmínkám vyhledavani</p><!-- END noitems -->
	</div>
	<div id="pages">
	<form action="{SEARCHACTION}#pages" method="post">
		<input type="hidden" name="t" value="pages" />
     <fieldset>
     	<legend>Nalezeno stranek</legend>
        <input type="text" name="f" value="{FILTRPAGES}" class="short" /> <input type="submit" name="search" value="Hledat" class="button" /><br />
      </fieldset>
  </form>
	<!-- BEGIN pages -->{PAGES}
	<!-- BEGIN pagespager -->{PAGESPAGER}<!-- END pagespager -->
	<div class="clearbox"></div>
	<!-- END pages -->
	<!-- BEGIN nopages --><p align="center">Nenalezena žádná stranka vyhovující podmínkám</p><!-- END nopages -->
	</div>
	<div id="users">
	<form action="{SEARCHACTION}#users" method="post">
		<input type="hidden" name="t" value="users" />
     <fieldset>
     	<legend>Nalezeno uzivatelu</legend>
        <input type="text" name="f" value="{FILTRUSERS}" class="short" /> <input type="submit" name="search" value="Hledat" class="button" /><br />
      </fieldset>
  </form>
	<!-- BEGIN users -->{USERS}
	<!-- BEGIN userspager -->{USERSPAGER}<!-- END userspager -->
	<div class="clearbox"></div>
	<!-- END users -->
	<!-- BEGIN nousers --><p align="center">Nenalezena žádná stranka vyhovující podmínkám</p><!-- END nousers -->
	</div>
</div>