<!-- BEGIN newforums --><h2>Nové</h2>
{PAGELINKSNEW}<!-- END newforums -->
<h2>Vlastní<!-- BEGIN ownerforumsnew --> <span title="Nové" class="postsNew">{OWNERNEW}</span><!-- END ownerforumsnew --></h2>
{PAGELINKSOWN}<!-- BEGIN ownnone --><a href="{CREATETYPE}">Vytvořit novou stránku: {TYPE}</a><!-- END ownnone -->
<h2>Oblíbené<!-- BEGIN bookedforumsnew --> <span title="Nove" class="postsNew">{BOOKEDNEW}</span><!-- END bookedforumsnew --></h2>
{PAGELINKSBOOKED}<!-- BEGIN favoritenone --><a href="{FINDFAVORITE}">Najděte si oblíbené</a> Na každé strance (v klubu, galerii nebo blogu) v horni casti najdete tlacitko "Do oblibenych"<!-- END favoritenone -->
