<form action="{FORMACTION}" method="post" enctype="multipart/form-data" class="fajaxform">

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Nastaveni</a></li>
    <!-- BEGIN galeryspecifictabs --><li><a href="#tabs-5">Fotografie</a></li>
    <li><a href="#tabs-6">Upload</a></li><!-- END galeryspecifictabs -->
    <!-- BEGIN permissionstab --><li><a href="#tabs-2">Pristup</a></li><!-- END permissionstab -->
    <!-- BEGIN relatedtab --><li><a href="#tabs-3">Spratelene stranky</a></li><!-- END relatedtab -->
    <!-- BEGIN forumspecifictab --><li><a href="#tabs-4">Nastenka</a></li><!-- END forumspecifictab -->
    <!-- BEGIN categorytab --><li><a href="#tabs-7">Kategorie</a></li><!-- END categorytab -->
    <!-- BEGIN leftpaneltab --><li><a href="#tabs-8">Levy panel</a></li><!-- END leftpaneltab -->
  </ul>
<div id="tabs-1">
	<fieldset>
		<legend>Nastaveni</legend>
		<!-- BEGIN pageowner --><label>Majitel</label><span><a href="{OWNERLINK}">{OWNERNAME}</a></span><br /><!-- END pageowner -->
  	<label>Název stranky</label>
    <input type="text" name="name" value="{PAGENAME}" class="long"><br />
    <label>Datum</label><input type="text" name="datecontent" value="{DATECONTENT}" class="short datepicker" /><br />
    <!-- BEGIN sadmi -->
    <label>Zamceni stranky</label><select name="locked">{LOCKEDOPTIONS}</select><br />
    <label>Nazev kratky</label><input type="text" name="nameshort" value="{PAGENAMESHORT}" class="short" /><br />
    <label>Autor stranky</label><input type="text" name="authorcontent" value="{PAGEAUTHOR}" class="short"><br />
    <label>Sablona</label><input type="text" name="template" value="{PAGETEMPLATE}" class="short"><br />
    <label>Skupina menu</label><select name="menusec">{MENUSECOPTIONS}</select><br />
    <!-- END sadmi -->
    <!-- BEGIN categories -->
    <label>Kategorie</label><select name="category">{CATEGORYOPTIONS}</select><br />
    <!-- END categories -->
    <label>Popis</label>
    <textarea id="{PAGEDESCRIPTIONID}" class="draftable" name="description">{PAGEDESCRIPTION}</textarea><br />
    
		<label>Podrobnosti</label><a href="#" class="switchOpen" rel="detailSettings"><strong>Otevrit podrobnejsi nastaveni</strong></a>
		<div id="detailSettings" class="hidden">
	    <!-- BEGIN pageavatarupload -->
	    <label>Ikona (60x25px)</label>
	    <input type="file" name="audico" id="pageavatarUploadify" class="uploadify" /><br />
	    <label> - nebo URL </label><input type="text" value="" name="audicourl" /><br />
	    <!-- END pageavatarupload -->
	    <!-- BEGIN pageavatar -->
	    <label>&nbsp;</label><img src="{PAGEICOLINK}">&nbsp;&nbsp;&nbsp;Smazat <input type="checkbox" name="delpic" value="1" class="checkbox" /><br />
	    <!-- END pageavatar -->
	    <label>Zahlaví</label>
	    <textarea id="{PAGECONTENTID}" class="draftable" name="content">{PAGECONTENT}</textarea>{PAGECONTENTTOOLBOX}<br />
	    <!-- BEGIN galeryspecific -->
	    <label>Na stránku</label><input type="text" name="xperpage" value="{PERPAGE}" class="xShort" /> [pocet nahledu na stranku]<br />
	    <!-- BEGIN enhancendgalery -->
	    <label>Velikos náhledu</label><input type="text" name="xwidthpx" value="{GTHUMBWIDTH}" class="xShort" /> x 
	    <input type="text" name="xheightpx" value="{GTHUMBHEIGHT}" class="xShort" /> - Šířka px x vyska px<br />
	    <label>Styl nahledu</label><select name="xthumbstyle">
	    <option value="1">Bez orezu</option>
	    <option value="2"<!-- BEGIN galerythumbstyle2 --> selected="selected"<!-- END galerythumbstyle2 -->>Orez na format</option>
	    </select><br />
	    <!-- END enhancendgalery -->
	    <!-- END galeryspecific -->
	    <!-- BEGIN forumreaction -->
	    <label>Dikskuze:</label><select name="forumReact">
	      <option value="1"<!-- BEGIN fforum1 --> selected="selected"<!-- END fforum1 -->>Povolit reakce</option>
	      <option value="2"<!-- BEGIN fforum2 --> selected="selected"<!-- END fforum2 -->>Pouze pro registrovane</option>
	      <option value="0"<!-- BEGIN fforum0 --> selected="selected"<!-- END fforum0 -->>Zakazat diskuzi</option>
	    </select>
	    <!-- END forumreaction -->
    </div>
    <div>
    	<input type="submit" name="save" value="Uložit" class="button submit" />
			<!-- BEGIN delpage --><input type="submit" name="del" value="Smazat stránku" title="Opravdu chcete mazat tuto stranku?" class="button confirm" /><!-- END delpage -->    
		</div>
	</fieldset>
</div>
<!-- BEGIN perm -->
<div id="tabs-2">
   {PAGEPERMISIONSFORM}
</div>
<!-- END perm -->  
<!-- BEGIN relations -->
<div id="tabs-3">
    {RELATIONSFORM}
</div>
<!-- END relations -->
<!-- BEGIN forumspecific -->
<div id="tabs-4">
<fieldset>
<legend>Nastenka klubu</legend>
<textarea id="{HOMEID}" name="forumhome" class="draftable largeTextarea">{CONTENT}</textarea>{CONTENTTOOLBOX}<br />
<input type="submit" name="save" value="Uložit" class="button submit" />
</div>
<!-- END forumspecific -->
<!-- BEGIN galeryspecificcontent -->
<div id="tabs-5">
<fieldset>
<legend>Seznam fotografii</legend>
<input type="submit" name="save" value="Uložit" class="button submit" /><br />
<label>Celkem v galerii:</label><span>{FOTOTOTAL}</span><br />
<script type="text/javascript"> var fotoTotal={FOTOTOTAL};</script>
<label>Řadit:</label><select name="galeryorder">
<option value="0">Podle jména</option>
<option value="1"<!-- BEGIN gorddate --> selected="selected"<!-- END gorddate -->>Podle data fotky (od nejnovějších)</option>
</select><br />
<table id="fotoList"><!-- BEGIN gfoto -->{FOTOLIST}<!-- END gfoto --></table>
<input type="submit" name="save" value="Uložit" class="button submit" />
</fieldset>
</div>
<div id="tabs-6">
<fieldset>
<legend>Nahrat fotografie</legend>
<div id="FuupUploader">
<a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a><br />
<!-- BEGIN uploadinput --><label>{UPLOADINPUTLABEL}</label><input type="file" name="upfoto{UPLOADINPUTID}" /><br /><!-- END uploadinput -->
<input type="submit" name="save" value="Uložit" class="submitUploadify button submit" />
</div>
</fieldset>
</div>
<!-- END galeryspecificcontent -->

<!-- BEGIN categoryedit -->
<div id="tabs-7">
<a name="tabs-7"></a>
{PAGECATEGORYEDIT}
</div>
<!-- END categoryedit -->

<!-- BEGIN leftpaneledit -->
<div id="tabs-8">
<a name="tabs-8"></a>
{LEFTPANELEDIT}
</div>
<!-- END leftpaneledit -->
    
</div>
</form>
<script type="text/javascript" src="js/jquery.flashembed.min.js"></script>
<script type="text/javascript">
flashembed("FuupUploader", {src: "assets/Fuup.swf", height:40, wmode:"transparent", version:[10,0,12], expressInstall:"js/expressInstall.swf"},{config:'xml/fuup.config.xml'});
</script>