<form action="{FORMACTION}" method="post" enctype="multipart/form-data">

<div class="domtab">
  <ul class="domtabs">
    <li><a href="#ft1">Nastaveni</a></li>
    <li><a href="#ft2">Prava</a></li>
    <li><a href="#ft3">Spratelene stranky</a></li>
    <!-- BEGIN forumspecifictab --><li><a href="#ft4">Nastenka</a></li><!-- END forumspecifictab -->
    <!-- BEGIN galeryspecifictabs --><li><a href="#ft5">Fotografie</a></li>
    <li><a href="#ft6">Upload</a></li><!-- END galeryspecifictabs -->
    <!-- BEGIN categorytab --><li><a href="#ft7">Kategorie</a></li><!-- END categorytab -->
    <!-- BEGIN leftpaneltab --><li><a href="#ft8">Levy panel</a></li><!-- END leftpaneltab -->
  </ul>
<div>
<a name="ft1" id="ft1"></a>
<fieldset>
<legend>Nastaveni</legend>

<!-- BEGIN pageowner -->
    <label>Majitel</label><span><a href="{OWNERLINK}">{OWNERNAME}</a></span><br />
<!-- END pageowner -->
    <label>Název stranky</label>
    <input type="text" name="name" value="{PAGENAME}" class="long"><br />
    <label>Datum</label><input type="text" name="datecontent" value="{DATECONTENT}" class="short format-d-m-y divider-dot highlight-days-67" /><br />
    <!-- BEGIN sadmi -->
    <label>Zamceni stranky</label><select name="locked">{LOCKEDOPTIONS}</select><br />
    <label>Nazev kratky</label><input type="text" name="nameshort" value="{PAGENAMESHORT}" class="short" /><br />
    <label>Autor stranky</label><input type="text" name="authorcontent" value="{PAGEAUTHOR}" class="short"><br />
    <label>Sablona</label><input type="text" name="template" value="{PAGETEMPLATE}" class="short"><br />
    <label>Skupina menu</label><select name="menusec">{MENUSECOPTIONS}</select><br />
    <!-- END sadmi -->
    <!-- BEGIN categories -->
    <label>Kategorie</label><select name="category">{CATEGORYOPTIONS}</select><br />
    <!-- END categories -->
    <!-- BEGIN pageavatarupload -->
    <label>Ikona (60x25px)</label>
    <input type="file" name="audico" /><br />
    <label> - nebo URL </label><input type="text" value="" name="audicourl" /><br />
    <!-- END pageavatarupload -->
    <!-- BEGIN pageavatar -->
    <label>&nbsp;</label><img src="{PAGEICOLINK}">&nbsp;&nbsp;&nbsp;Smazat <input type="checkbox" name="delpic" value="1" class="checkbox" /><br />
    <!-- END pageavatar -->
    <label>Popis</label>
    <textarea id="{PAGEDESCRIPTIONID}" class="draftable" name="description">{PAGEDESCRIPTION}</textarea><br />
    <label>Zahlaví</label>
    <textarea id="{PAGECONTENTID}" class="draftable" name="content">{PAGECONTENT}</textarea>{PAGECONTENTTOOLBOX}<br />
    
    <!-- BEGIN galeryspecific -->
    <label>Adresář</label><input type="text" name="galeryDir" value="{GDIR}" class="short" /><br />
    <label>Na stránku</label><input type="text" name="xperpage" value="{PERPAGE}" class="xShort" /> [pocet nahledu na stranku]<br />
    <!-- BEGIN enhancendgalery -->
    <label>Velikos náhledu</label><input type="text" name="xwidthpx" value="{GTHUMBWIDTH}" class="xShort" /> x 
    <input type="text" name="xheightpx" value="{GTHUMBHEIGHT}" class="xShort" /> - Šířka px x vyska px<br />
    <label>Styl nahledu</label><select name="xthumbstyle">
    <option value="1">Bez orezu</option>
    <option value="2"<!-- BEGIN galerythumbstyle2 --> selected="selected"<!-- END galerythumbstyle2 -->>Orez na format</option>
    </select><br />
    <!-- END enhancendgalery -->
    <!-- END galeryspecific -->
    <!-- BEGIN forumreaction -->
    <label>Dikskuze:</label><select name="forumReact">
      <option value="1"<!-- BEGIN fforum1 --> selected="selected"<!-- END fforum1 -->>Povolit reakce</option>
      <option value="2"<!-- BEGIN fforum2 --> selected="selected"<!-- END fforum2 -->>Pouze pro registrovane</option>
      <option value="0"<!-- BEGIN fforum0 --> selected="selected"<!-- END fforum0 -->>Zakazat diskuzi</option>
    </select><br />
    <!-- END forumreaction -->
    
<input type="submit" name="save" value="Uložit" class="button submit" />
<!-- BEGIN delpage -->
<input type="submit" name="del" value="Smazat stránku" onClick="if(confirm('Opravdu chcete mazat tuto stranku?')) return(true); else return(false);" class="button" />
<!-- END delpage -->    

</fieldset>
</div>

<div>
<a name="ft2" id="ft2"></a>
   {PAGEPERMISIONSFORM}
</div>  

<div>
<a name="ft2" id="ft3"></a>
    {RELATIONSFORM}
</div>

<!-- BEGIN forumspecific -->
<div>
<a name="ft4" id="ft4"></a>
<fieldset>
<legend>Nastenka klubu</legend>
<textarea id="{HOMEID}" name="forumhome" class="draftable largeTextarea">{CONTENT}</textarea>{CONTENTTOOLBOX}<br />
<input type="submit" name="save" value="Uložit" class="button submit" />
</div>
<!-- END forumspecific -->

<!-- BEGIN galeryspecificcontent -->
<div>
<a name="ft5" id="ft5"></a>
<fieldset>
<legend>Seznam fotografii</legend>
<input type="submit" name="savegal" value="Uložit" class="button submit" /><br />
<label>Celkem v galerii:</label><span>{FOTOTOTAL}</span><br />
<label>Řadit:</label><select name="galeryorder">
<option value="0">Podle jména</option>
<option value="1"<!-- BEGIN gorddate --> selected="selected"<!-- END gorddate -->>Podle data fotky (od nejnovějších)</option>
</select><br />
<table>
<!-- BEGIN gfoto -->
  <tr>
  <td align="center"><img src="{FTHUMBURL}" title="{FNAME}" alt="{FNAME}"></td>
  <td><textarea name="fot[{FID}][comm]" id="galfoto{FID}" class="draftable">{FCOMMENT}</textarea><br />
  <label>Datum fotky:</label><input type="text" name="fot[{FID}][date]" id="foto{FID}" value="{FDATE}" class="short format-d-m-y divider-dot highlight-days-67" /><br />
  <label>Smazat:</label><input type="checkbox" name="delfoto[]" value="{FID}" class="checkbox" /></td>
</tr>
<!-- END gfoto -->
</table>
<input type="submit" name="savegal" value="Uložit" class="button submit" />
</fieldset>
</div>

<div>
<a name="ft6" id="ft6"></a>
<fieldset>
<legend>Nahrat fotografie</legend>
<!-- BEGIN uploadinput -->
<label>{UPLOADINPUTLABEL}</label><input type="file" name="upfoto{UPLOADINPUTID}" /><br />
<!-- END uploadinput -->
<input type="submit" name="savegal" value="Uložit" class="button submit" />
</fieldset>
</div>
<!-- END galeryspecificcontent -->

<!-- BEGIN categoryedit -->
<div>
<a name="ft7" id="ft7"></a>
{PAGECATEGORYEDIT}
</div>
<!-- END categoryedit -->

<!-- BEGIN leftpaneledit -->
<div>
<a name="ft8" id="ft8"></a>
{LEFTPANELEDIT}
</div>
<!-- END leftpaneledit -->
    
</div>
</form>