<!-- BEGIN adm -->
<form action="{FORMACTIONADM}" method="post">
<fieldset>
<legend>Ankety pro stranku</legend>
<label>Id stránky</label><input type="text" name="selpageid" value="{SELECTEDPAGEID}" class="xShort" /> 
<input type="submit" name="set" value="Nastavit" class="button" />
</fieldset>
</form>
<!-- END adm -->
<form action="{FORMACTIONNEW}" method="post">
<fieldset>
<legend>Nová anketa</legend>
<label>Aktivní</label><input type="checkbox" name="aktivnov" class="checkbox" /><br />
<label>Veřejné výsledky</label><input type="checkbox" name="publicresults" class="checkbox" /><br />
<label>Otázka</label><input type="text" name="otazka" class="long" /><br />
<label>Počet hlasů na uživatele</label><input type="text" name="votesperuser" value="1" class="xShort" /><br />
<!-- BEGIN pageadm -->
	<label>Stránka</label><input type="text" name="newpageid" value="" class="xShort" /><br />
<!-- END pageadm -->
<input type="submit" name="add" value="Vložit" class="button submit" />
</fieldset></form>

<form action="{FORMACTIONEDIT}" method="post">
<fieldset>
<legend>Úprava anket</legend>
<table><tr>
<th>Aktiv</th><th>Anketa</th><th>Majitel</th><!-- BEGIN paheader --><th>Stranka</th><!-- END paheader --><th>Datum</th><th>Delete</th></tr>
<!-- BEGIN polllist -->
	<tr>
	<td><input type="checkbox" class="checkbox" name="arr[{LISTPOLLID}][aktiv]" value="1"{LISTACTIV} /></td>
	<td><a href="{LISTLINKEDIT}">{LISTQUESTION}</a></td>
	<td><a href="{LISTOWNERLINK}">{LISTOWNERNAME}</a></td>
	<!-- BEGIN listpageadm -->
		<td><input type="text" name="arr[{LISTPOLLIDADM}][idstr]" value="{POLLPAGEIDADM}" class="xShort" /></td>
	<!-- END listpageadm -->
	<td>{LISTDATECREATE}</td>
	<td><input type="checkbox" name="delank[]" value="{LISTPOLLID}" class="checkbox" /></td>
	</tr>
<!-- END polllist -->
</table>
<input type="submit" name="saveank" value="Uložit" class="submit button" />
</fieldset>
</form>

<!-- BEGIN polledit -->
<h2>Anketa</h2>
<form action="{FORMACTIONDETAIL}" method="post" enctype="multipart/form-data">
		<fieldset>
	<input type="hidden" name="ankid" value="{POLLID}">
	 <!-- BEGIN pollshowbox -->
		<div class="anketaexample">{POLLSHOW}</div>
		<!-- END pollshowbox -->
		<label>Otázka</label><input type="text" name="otazka" value="{POLLQUESTION}" class="long" /><br />
		<label>Veřejné výsledky</label><input type="checkbox" name="publicresults" class="checkbox" {POLLPUBLICCHECKED}/><br />
		<label>Počet hlasů na uživatele</label><input type="text" name="votesperuser" value="{POLLVOTESPERUSER}" /><br />
	<table><tr><th>Odpovědi</th><th>Pořadí</th><th>Delete</th><th>Klik</th></tr>
	<!-- BEGIN pollanswer -->
  <tr><td>
		<input type="text" name="arr[{ANSWERID}][odpoved]" value="{ANSWER}" /></td>
		<td><input type="text" name="arr[{ANSWERID}][poradi]" value="{ANSWERORD}" class="xShort" /></td>
		<td><input type="checkbox" name="delodp[]" value="{ANSWERID}" class="checkbox" /></td>
		<td>{ANSWERHITS}</td>
    </tr>
	<!-- END pollanswer -->
	<tr><td colspan="4"><label>Přidat odpověď</label></td></tr>
	<tr><td><input type="text" name="arr[0][odpoved]" value="" /></td>
	<td><input type="text" name="arr[0][poradi]" value="{ANSWERNEWORD}" class="xShort" /></td>
	<td>&nbsp;</td><td>&nbsp;</td></tr></table>
	<input type="submit" name="saveodp" value="Uložit anketu" class="submit button" />&nbsp;&nbsp;&nbsp;
	<input type="submit" class="button" name="letsnull" onclick="if(confirm('Opravdu chcete vymazat tuto anketu vynulovat?')) return(true); else return(false);" value="Nulovat anketu" /> 
	</fieldset>
  </form>
	<!-- END polledit -->