<!-- BEGIN load -->http://maps.google.com/maps/api/js?sensor=false<!-- END load -->
<div id="mapsel{ID}" class="mapselector" style="x:{POSX}px;y:{POSY};"></div>
<script type="text/javascript">
function gmapinit{ID}() {
	var mapDiv = document.getElementById('mapsel{ID}');
	var map = new google.maps.Map(mapDiv, { center: new google.maps.LatLng({INITPOS}), zoom: 9, mapTypeId: google.maps.MapTypeId.TERRAIN });
	<!-- BEGIN item -->
	<!-- BEGIN journey -->var journeyPath{ID} = new google.maps.Polyline({ path: [<!-- BEGIN waypoint -->new google.maps.LatLng({WPPOS})<!-- BEGIN wpeol -->,<!-- END wpeol --><!-- END waypoint -->], strokeColor: "#{JOURNEYCOLOR}", strokeOpacity: 1.0, strokeWeight: {JOURNEYSIZE} });
  journeyPath{ID}.setMap(map);<!-- END journey -->
	var content{ID} = new google.maps.InfoWindow({ content: {ITEMCONTENT} });
	var marker{ID} = new google.maps.Marker({ position: new google.maps.LatLng({ITEMPOS}), map: map, title:"{ITEMTITLE}" });
	google.maps.event.addListener(marker{ID}, 'click', function() { content{ID}.open(map,marker{ID}); });<!-- END item -->
	<!-- BEGIN fitbounds -->map.fitbounds(new google.maps.LatLngBounds(new google.maps.LatLng({SWBOUND}), new google.maps.LatLng({NEBOUND})));<!-- END fitbounds -->
	<!-- END item -->
  <!-- BEGIN readposition -->
	var clickWindow = new google.maps.InfoWindow();
	var targetPositionElId="{POSITIONELEMENT}";
	google.maps.event.addListener(map, 'click', function(event) {
		<!-- BEGIN readpositiondebug -->clickWindow.setContent('LatLng: ' + event.latLng.toUrlValue(4));
		clickWindow.setPosition(event.latLng);
		clickWindow.open(map);<!-- END readpositiondebug -->
		$("#"+targetPositionElId).text = event.latLng.toUrlValue(4); 
	});<!-- END readposition -->
}
</script>
