<div id="pocket">
<script type="text/javascript">
function userFromPocket(link){
 var inputId = elm('frompocketid');
 if(!inputId) {
  alert('Nelze pouzit');
 } else {
   var itemId = gup('pi',link.href);
   inputId.value = "link:" + itemId;
   elm('frompocketthumb').className = 'supernote-hover-pocket' + itemId;
 }
 return false;
}
function removeFromPocket() {
  if(confirm('Opravdu to chcete vyhodit z kapsy?')) { 
    xajax_pocket_action(gup('p',this.href),gup('pi',this.href));
    return false; 
  } else return false;
}
</script>
<!-- BEGIN pocket -->
  <!-- BEGIN pocketContent -->
  <ul id="pocketItems">
    <!-- BEGIN pocketitem --><li><a href="{POCKETLINK}" title="{POCKETTITLE}" class="{POCKETTYPE} supernote-hover-{POCKETITEMID}">{POCKETNAME}</a></li><!-- END pocketitem -->
  <ul>
  <!-- END pocketContent -->
  <!-- BEGIN pocketEmpty -->
  <p>Kapsa prazdna</p>
  <!-- END pocketEmpty -->
  <!-- BEGIN pocketitemtooltip -->
  <div id="supernote-note-{ITEMIDTOOLTIP}" class="snp-triggeroffset notemenu">
    <h4><a href="{PAGELINKTOOLTIP}">{PAGENAMECOMPLETE}</a></h4>
    <a href="{USE}" onClick="return userFromPocket(this);">Pouzit</a> 
    <a href="{REMOVE}" onClick="return removeFromPocket(this);" >Odstranit</a></li>
    <!-- BEGIN pagedesc --><p>{PAGEDESC}</p><!-- END pagedesc -->
    {ITEMASTOOLTIP}
  </div>
  <!-- END pocketitemtooltip -->
<!-- END pocket -->
<!-- BEGIN pocketempty -->Prazdna<!-- END pocketempty -->
</div>