<form id="loginForm" name="login" action="{FORMACTION}" method="post">
<label for="loginInput">Login</label><input id="loginInput" type="text" name="fna" title="Uzivatelske jmeno" /><br />
<label for="loginPassword">Heslo</label><input id="loginPassword" type="password" name="fpa" title="Uzivatelske heslo" /><br />
<!-- BEGIN reglink --><a href="?k=roger" id="registrationLinkContainer">Registrace</a><!-- END reglink -->
<input type="hidden" name="lgn" value="Login" />
<input type="submit" value="Login" id="loginButton" />
</form>