<div id="loggedUserContainer">
<h2><a href="?k=finfo">{NAME}</a></h2>
<div id="avatarBox">{AVATAR}</div>
<ul>
<li class="onlineUsers"><a href="?k=frien">Pratele</a> <!-- BEGIN requests --><a href="?k=frien" class="requests" title="Pozadavky na pratele">{REQUESTSNUM}</a>/<!-- END requests -->{ONLINE}</li>
<li class="recentMails"><a href="?k=fpost">Posta</a></li>
<li><a href="?k=elogo">Odhlaseni</a></li>
</ul>
<div>
<a href="?k=frien">Pratel online: {NUMFRIENDSONLINE}</a>	
<ul class="sidebarUsersList hidden">
<!-- BEGIN user --><li>{FRIENDAVATAR} <span class="vcard fn"><a href="{USERLINK}" title="Posledni aktivita {USERACTIVE}">{USERNAME}</a></span>
<!-- BEGIN location --><a href="{USERLOCATIONLINK}" title="Prave sleduje: {USERLOCATIONLONG}">{USERLOCATIONSHORT}</a><br /><!-- END location -->
</li><!-- END user -->
</ul>
</div>
	
</div>