<div id="loggedUserContainer">
	<h2><a href="?k=finfo">{NAME}</a></h2>
	<p>{AVATAR}</p>
	<ul>
        <li class="fuvatarStart"><a href="/fuvatar/fuvatar.html?width=355&height=195" class="popupLink">FuvatarCam</a></li>
		<li class="onlineUsers"><a href="?k=frien">OnLine</a> {ONLINE}</li>
		<li class="recentEvents"><a href="?k=fdiar">Diar</a> <!-- BEGIN diaryactive -->{DIARY}<!-- END diaryactive --></li>
		<li class="recentMails"><a href="?k=fpost">Posta</a> <!-- BEGIN newpost -->{NEWPOST} <a href="?k=fpost" class="recentSender">{NEWPOSTFROMNAME}</a><!-- END newpost --></li>
	</ul>
</div>