<ul class="sidebarUsersList">
<!-- BEGIN user --><li>{AVATAR} <span class="vcard fn"><a href="{USERLINK}">{USERNAME}</a></span><br />
<!-- BEGIN location --><a href="{USERLOCATIONLINK}" title="Prave sleduje: {USERLOCATIONLONG}">{USERLOCATIONSHORT}</a><br /><!-- END location -->
<!-- BEGIN received --><span title="Prijate zpravy">Prijate: <a href="{RECEIVEDLINK}">[{RECEIVED}]</a></span><br /><!-- END received -->
<!-- BEGIN sent --><span title="Odeslane zpravy">Odeslane: <a href="{SENTLINK}">[{SENT}]</a></span><br /><!-- END sent -->
<!-- BEGIN active --><span title="Posledni aktivita">[{USERACTIVE}]</span><!-- END active --></li><!-- END user -->

</ul>