<!-- BEGIN item -->
<div class="vcalendar">
<div class="vevent">
	<!-- BEGIN flyer --><a href="{BIGFLYERLINK}&scrollbars=1" rel="lightbox"><img class="eventFlyerThumb" src="{FLYERTHUMBURL}" title="Leták {IMGEVENTTITLE}" alt="{IMGEVENTALT}" /></a><!-- END flyer -->
	<!-- BEGIN flyerdefault --><img class="eventFlyerThumb" src="{FLYERTHUMBURLDEFAULT}" /><!-- END flyerdefault -->
	<div class="description">
	   <!-- BEGIN heading --><h2 class="entry-title summary"><a href="{BLOGLINK}" class="url">{BLOGTITLE}</a></h2><!-- END heading -->
		 <div class="date"><span class="abbr" title="{STARTDATETIMEISO}"><abbr class="dtstart" title="{STARTDATETIMEISO}">{STARTDATETIMELOCAL}</abbr></span></div>
		 <div class="location"><strong>{LOCATION}</strong></div>
	</div>
	<hr class="cleaner"/>
	<!-- BEGIN toolbar -->
			<ul>
      <!-- BEGIN tag --><li>{TAG}</li><!-- END tag -->
      <!-- BEGIN commentlink --><li><a href="{COMMENTLINK}" class="commentsLink">Diskuze [<!-- BEGIN registered --><span class="postsNew">{ALLNEWCNT}</span>/<!-- END registered -->{CNTCOMMENTS}]</a></li><!-- END commentlink -->
      </ul>
    <!-- END toolbar -->
</div>
</div>
<!-- END item -->