<div id="fcalendar">
<h3 class="calendarHeader">{CURRENTMONTH} {CURRENTYEAR}</h3>
<table><thead><tr><!-- BEGIN daysheader --><th>{DAYSHORTCUT}</th><!-- END daysheader --></tr></thead>
<tbody>
<!-- BEGIN row --><tr>
<!-- BEGIN column --><td<!-- BEGIN tdclass --> class="<!-- BEGIN dayblank -->dayBlank<!-- END dayblank --><!-- BEGIN dayCurrent --> calendarDayCurrent<!-- END dayCurrent --><!-- BEGIN dayEvent --> calendarDayEvent<!-- END dayEvent -->"<!-- END tdclass -->>
<a href="{URL}">{DAY}</a>
</td><!-- END column -->
</tr><!-- END row -->
<tr><td colspan="3" class="calendarPreviousMonthLink dayBlank">
<a href="{PREVIOUSMONTHURL}" class="lnktoday">&lt;&lt; {PREVIOUSMONTH}</a>
</td>
<td class="dayBlank"></td>
<td colspan="3" class="calendarNextMonthLink dayBlank">
<a href="{NEXTMONTHURL}" class="lnktoday">{NEXTMONTH} &gt;&gt;</a>
</td>
</tr></tbody></table>



</div>