<!-- banner db list -->
<h3>Bannery v databazi</h3>

<!-- BEGIN banneredit -->
<!-- banner edit -->
<form action="{EDACTION}" method="post">
<fieldset>
<legend>Novy / uprava banneru</legend>
<!-- BEGIN bannerimgdisplayed --><img src="{EDURL}" title="{EDNAME}" alt="{EDNAME}" /><!-- END bannerimgdisplayed -->
<!-- BEGIN bannerimgswfed --><object type="application/x-shockwave-flash" data="{EDSWFURL}" width="468" height="60"><param name="movie" value="{EDSWFURL}" /></object><!-- END bannerimgswfed -->
<!-- BEGIN bannerimglinked --><a href="{UNEDURL}">Banner</a> - <pre>{UNEDNAME}</pre><!-- END bannerimglinked --> 
<br />
<label>Banner / HTML</label><textarea name="edhtml">{EDHTML}</textarea><br />
<label>URL</label><input type="text" name="edurl" value="{EDTARGETURL}" /><br />
<label>Datum od</label><input type="text" name="eddatefrom" value="{EDDATEFROM}"  /><br />
<label>Datum do</label><input type="text" name="eddateto" value="{EDDATETO}" /><br />
<label>Povinny</label><input name="edstrict" type="checkbox"<!-- BEGIN edstrict  --> checked="checked"<!-- END edstrict  --> /><br />
<input type="hidden" name="bid" value="{EDBANNERID}" />
<label>&nbsp;</label><input type="submit" name="edit" value="Ulozit" class="button">
</fieldset>
</form>
<!-- END banneredit -->


<!-- BEGIN banner -->
<div>
  <!-- BEGIN strict --><h4>Povinny</h4><!-- END strict -->
  <div>
    <!-- BEGIN bannerimgdisplaydb --><img src="{BANNERURL}" title="{BANNERNAME}" alt="{BANNERNAME}" /><!-- END bannerimgdisplaydb -->
    <!-- BEGIN bannerimgswfdb --><object type="application/x-shockwave-flash" data="{BANNERSWFURL}" width="468" height="60"><param name="movie" value="{BANNERSWFURL}" /></object> - {BANNERSWFNAME} <!-- END bannerimgswfdb -->
    <!-- BEGIN bannerimglinkdb --><a href="{UNBANNERURL}">Banner</a> - <pre>{UNBANNERNAME}</pre><!-- END bannerimglinkdb -->
  </div>
  <div><strong>URL:</strong> {URL}</div>
  <div>
    <strong>{DATEFROM} - {DATETO}</strong><br />
    Zobrazeni/kliknuti: {TIMESDISPLAY} / <strong>{TIMESHIT}</strong><br />
    <a href="{OWNERLINK}">{OWNERNAME}</a> | 
    <a href="{EDITURL}">Edit</a> | 
    <a href="{DELETEURL}" onclick="if(confirm('Opravdu chcete vymazat tento zaznam z databaze? Banner zustane na ftp.')) return(true); else return(false);">Smazat</a>
  </div>
  <hr />
</div>
<!-- END banner -->


<!-- banner file list -->
<h3>Bannery na serveru</h3>
<!-- banner file upload -->
<form action="{FORMACTION}" method="post" enctype="multipart/form-data">
  <fieldset>
  <legend>Upload banneru</legend>
  <label>Banner</label><input name="bann" type="file" /> <input type="submit" name="nav" value="upload" />
  </fieldset>
</form>

<p>Zobrazeny jsou pouze ty ktere nejsou nastaveny v databazi pro pouziti na strankach</p>

<!-- BEGIN bannerimg -->
<div>
<!-- BEGIN bannerimgdisplay --><img src="{IMGURL}" title="{IMGNAME}" alt="{IMGNAME}" /><!-- END bannerimgdisplay -->
<!-- BEGIN bannerimgswf --><object type="application/x-shockwave-flash" data="{SWFURL}" width="468" height="60"><param name="movie" value="{SWFURL}" /></object><!-- END bannerimgswf -->
<!-- BEGIN bannerimglink --><a href="{UNIMGURL}">Banner - {UNIMGNAME}</a>  <!-- END bannerimglink --> 
<a href="{NEWBANNERURL}">Pouzit</a> <a href="{IMGDELETEURL}" onclick="if(confirm('Opravdu chcete vymazat tento banner?')) return(true); else return(false);">Smazat</a></div>
<!-- END bannerimg -->
