<div id="tTool{TOOLID}" class="textareaToolbox">
  <span class="textAreaResize"><a href="?textid={TEXTAREAID}&class=largeTextarea&toolid=tTool{TOOLID}&toolclass=textareaToolboxLarge" class="toggleToolSize"></a></span>
  <span class="textInsertStyle supernote-click-styles2text{TOOLID}">Styl</span>
  <span class="textInsertObject supernote-click-objects2text{TOOLID}">Objekt</span>
  <span class="textInsertHelp supernote-click-help2text{TOOLID}">Help</span>
  
  <div id="supernote-note-styles2text{TOOLID}" class="snp-triggeroffset notemenu">
  <ul>
  <li><a class="clickDaTag" href="?textid={TEXTAREAID}&tag=[h3]-cursor-[/h3]">Nadpis</a></li>
  <li><a class="clickDaTag" href="?textid={TEXTAREAID}&tag=[b]-cursor-[/b]">Tucne</a></li>
  <li><a class="clickDaTag" href="?textid={TEXTAREAID}&tag=[i]-cursor-[/i]">Kurziva</a></li>
  <li><a class="clickDaTag" href="?textid={TEXTAREAID}&tag=[u]-cursor-[/u]">Podtrzene</a></li>
  <li><a class="clickDaTag" href="?textid={TEXTAREAID}&tag=[s]-cursor-[/s]">Preskrtnute</a></li>
  <li><a class="clickDaTag" href="?textid={TEXTAREAID}&tag=[quote]-cursor-[/quote]">Citace</a></li>
  <ul>
  </div>
  <div id="supernote-note-objects2text{TOOLID}" class="snp-triggeroffset notemenu">
  <ul>
  <li><a class="clickDaTag" href="?textid={TEXTAREAID}&tag=[img]-cursor-[/img]">Obrazek</a></li>
  <li><a class="clickDaTag" href="?textid={TEXTAREAID}&tag=[url]-cursor-[/url]">Odkaz</a></li>
  <li><a class="clickDaTag" href="?textid={TEXTAREAID}&tag=[url=-cursor-]Odkaz[/url]">Odkaz s popisem</a></li>
  <li><a class="clickDaTag" href="?textid={TEXTAREAID}&tag=[url t=new]-cursor-[/url]">Odkaz do noveho okna</a></li>
  <li><a class="clickDaTag" href="?textid={TEXTAREAID}&tag=[email]-cursor-[/email]">Email</a></li>
  <ul>
  </div>
  <div id="supernote-note-help2text{TOOLID}" class="snp-triggeroffset notemenu">
  ---jeste upravit---
  Cervana ikonka neulozeno<br />
  Zelena ulozeno<br />
  Neco napovedy o pouziti html, vkladani obrazku, odkazu<br />
  </div>
</div>