<form action="{FORMACTION}" name="thumbToolbar" method="post" id="thumbuptoolbar">
    <fieldset>
        <legend>Palce</legend>
        <select id="thumbuporder" name="tuorder">
          <option value="0"> --- Radit podle --- </option>
          <option<!-- BEGIN thumbdesc --> selected="selected"<!-- END thumbdesc --> value="1">Podle palcu</option>
          <!-- BEGIN hits -->
          <option<!-- BEGIN hit --> selected="selected"<!-- END hit --> value="3">Podle poctu zobrazeni</option>
          <option<!-- BEGIN hitreg --> selected="selected"<!-- END hitreg --> value="4">Zobrazeni od registrovanych</option>
          <!-- END hits -->
        </select>
        <select id="thumbupfilter" name="tufilter">
          <option value="0"> --- Vybrat vse --- </option>
          <option<!-- BEGIN tufall --> selected="selected"<!-- END tufall --> value="1">Jen palce</option>
          <option<!-- BEGIN tufmy --> selected="selected"<!-- END tufmy --> value="2">Jen moje palce</option>
        </select>
        <input type="submit" name="thumbupset" value="Vybrat" /> 
        <input type="submit" name="thumbupreset" value="Zrusit"<!-- BEGIN tudis --> disabled="disabled"<!-- END tudis --> />
        <br />
        <!-- BEGIN linkprevious --><a href="{PREVIOUSLINK}">{PREVIOUSTEXT}</a> <!-- END linkprevious --> 
        <select id="thumbupdate" name="tuint" onchange="thumbToolbar.submit();">
        <option<!-- BEGIN dateinttotal --> selected="selected"<!-- END dateinttotal --> value="1">Vse</option>
        <option<!-- BEGIN dateintyear --> selected="selected"<!-- END dateintyear --> value="2">Rok</option>
        <option<!-- BEGIN dateintmonth --> selected="selected"<!-- END dateintmonth --> value="3">Mesic</option>
        <option<!-- BEGIN dateintday --> selected="selected"<!-- END dateintday --> value="4">Den</option>
        </select>
        <!-- BEGIN current --> <span id="currentFilterDate">{CURRENTDATE}</span><!-- END current -->
        <!-- BEGIN linknext --> <a href="{NEXTLINK}">{NEXTTEXT}</a><!-- END linknext -->
    </fieldset>
</form>