<!-- BEGIN registration -->
<form action="{FORMACTION}" method="post" name="reg">
<fieldset>
<legend>Nový uživatel</legend>
<label for="jmenoreg">Přezdívka</label><input type="text" id="jmenoreg" name="jmenoreg" value="{NAME}" /><br />
<label for="pwdreg1">Heslo</label><input type="password" id="pwdreg1" name="pwdreg1" value="{PWD1}" /><br />
<label for="pwdreg2">Ověření hesla</label><input type="password" id="pwdreg2" name="pwdreg2" value="{PWD2}" /><br />
<label for="email">Email</label><input id="email" name="email" value="{EMAIL}" /><br />
<input type="submit" name="addusr" value="Odeslat" class="button submit"><br />
</fieldset>
</form>
<!-- END registration -->
<!-- BEGIN noregistration -->
<p><strong>Uživatel je již přihlášen</strong></p>{DUMMYNO}
<!-- END noregistration -->