<div id="tabs">
<ul>
<li><a href="#tabs-1">Profil</a></li>
<!-- BEGIN tabfriends --><li><a href="#tabs-3">Pratele</a></li><!-- END tabfriends -->
<!-- BEGIN tabforums --><li><a href="#tabs-4">Kluby</a></li><!-- END tabforums -->
<!-- BEGIN tabblogs --><li><a href="#tabs-5">Blogy</a></li><!-- END tabblogs -->
<!-- BEGIN tabgaleries --><li><a href="#tabs-6">Galerie</a></li><!-- END tabgaleries -->
<!-- BEGIN tabfavorites --><li><a href="#tabs-7">Oblibene</a></li><!-- END tabfavorites -->
</ul>
<div id="tabs-1"><div clas="user-info">
<label>&nbsp;</label><span>{AVATAR}</span><br />
<label>Nick</label><span>{NAME}</span><br />
<!-- BEGIN email --><label>E-mail</label><a href="mailto:{EMAIL}">{EMAIL}</a><br /><!-- END email -->
<!-- BEGIN www --><label>Homepage</label><a href="{WWW}">{WWW}</a><br /><!-- END www -->
<!-- BEGIN icq --><label>ICQ</label>{ICQ} <img src="http://status.icq.com/online.gif?icq={ICQ}&amp;img=21"><br /><!-- END icq -->
<!-- BEGIN motto --><label>Motto</label><span>{MOTTO}</span><br /><!-- END motto -->
<!-- BEGIN about --><label>O všem</label><span>{ABOUT}</span><br /><!-- END about -->
<label>Registrace</label><span>{DATECREATED}</span><br />
<label>Poslední přístup</label><span>{DATEUPDATED}</span><br />
<h2>Profil foto</h2>
<div class="clearbox centertext">
<!-- BEGIN foto --><a href="{IMGURL}" rel="lightbox-personal"><img src="{THUMBURL}" class="leftbox" /></a><!-- END foto -->
</div>
</div>
</div>
<!-- BEGIN friends --><div id="tabs-3">
<!-- BEGIN userfriends -->{FRIENDS}<!-- END userfriends -->
<!-- BEGIN commonfriends -->{COMMONFRIENDS}<!-- END commonfriends -->
<div class="clearbox"></div>
</div><!-- END friends -->
<!-- BEGIN forums --><div id="tabs-4"><h3>Kluby</h3>{FORUMS}</div><!-- END forums -->
<!-- BEGIN blogs --><div id="tabs-5"><h3>Blogy</h3>{BLOGS}</div><!-- END blogs -->
<!-- BEGIN galeries --><div id="tabs-6"><h3>Galerie</h3>{GALERYS}</div><!-- END galeries -->
<!-- BEGIN favorites --><div id="tabs-7"><h3>Oblibene</h3>{FAVORITES}</div><!-- END favorites -->
</div>