<form enctype="multipart/form-data" action="{FORMACTION}" method="post">
<input type="hidden" name="nav" value="infosave">
<fieldset>
<legend>Heslo</legend>
<label for="pwdreg1">Nové heslo</label><input type="password" name="pwdreg1" value="" /><br />
<label for="pwdreg2">Potvrzeni hesla</label><input type="password" name="pwdreg2" value="" /><br />
<input type="submit" name="sava" value="Uložit" class="button submit" />
</fieldset>
<fieldset>
<legend>Osobni nastaveni</legend>
<label for="idfoto">Avatar</label>
<input type="file" name="idfoto" />
<p>obrázek musí být menší než 20kb; může být .gif nebo .jpg; ideální rozměry 40x50pix nebo podobný poměr</p>
<label>Skin</label><select name="skin">{SKINOPTIONS}</select><br />
<label>Bannery</label>
<select name="zbanner">
<option value="0">Nezobrazovat</option>
<option value="1"<!-- BEGIN zbanner --> selected="selected"<!-- END zbanner -->>Zobrazovat</option>
</select>
<br />
<label>Ikony klubů</label>
<select name="zaudico">
<option value="0">Nezobrazovat</option>
<option value="1"<!-- BEGIN zaudico --> selected="selected"<!-- END zaudico -->>Zobrazovat</option>
</select>
<br />
<label>Ikony uživ.</label>
<select name="zidico">
<option value="0">Nezobrazovat</option>
<option value="1"<!-- BEGIN zidico --> selected="selected"<!-- END zidico -->>Zobrazovat</option>
</select>
<br />
<label>Styl galerie</label>
<select name="galtype">
<option value="0">Fotky se otvirají do stejného okna</option>
<option value="1"<!-- BEGIN galtype --> selected="selected"<!-- END galtype -->>Do nového okna</option>
</select><br />
<label>Radit oblibene</label>
<select name="bookedorder">
<option value="0">Podle novych prispevku</option>
<option value="1"<!-- BEGIN bookedorder --> selected="selected"<!-- END bookedorder -->>Podle abecedy</option>
</select><br />
<input type="submit" name="sava" value="Uložit" class="button submit" />
</fieldset>
<!--<label>FDK Homepage</label><select name="homepageid">
<option value=""></option>
{HOMEPAGEOPTIONS}</select><br />-->
<fieldset>
<legend>Osobni udaje</legend>
<label>Icq</label>
<input type="text" name="infoicq" value="{USERICQ}" /><br />
<label>E-mail</label>
<input type="text" name="infoemajl" value="{USEREMAIL}" class="long" /><br />
<label>WWW</label>
<input type="text" name="infowww" value="{USERWWW}" class="long" /><br />
<label>Motto</label>
<input type="text" name="infomotto" value="{USERMOTTO}" class="long" /><br />
<label>Místo výskytu</label>
<input type="text" name="infomisto" value="{USERMISTO}" class="long" /><br />
<label>Oblíbené jídlo</label>
<input type="text" name="infojidlo" value="{USERJIDLO}" class="long" /><br />
<label>Hobby - koníčci</label>
<input type="text" name="infohoby" value="{USERHOBBY}" class="long" /><br />
<label>Nastenka</label>
<textarea name="infoabout" id="userabout" class="draftable" />{USERABOUT}</textarea>{USERABOUTTOOLBOX}<br />
<input type="submit" name="sava" value="Uložit" class="button submit" />
</fieldset>
<fieldset>
<legend>Webcam nastaveni</legend>
<label for="campublic">Webcam vidi</label><select id="campublic" name="campublic">
<option value="0">Vsichni</option>
<option value="1"<!-- BEGIN campublicregistered --> selected="selected"<!-- END campublicregistered -->>Jen registrovani</option>
<option value="2"<!-- BEGIN campublicfriends --> selected="selected"<!-- END campublicfriends -->>Jen pratele</option>
<option value="3"<!-- BEGIN campublicchosen --> selected="selected"<!-- END campublicchosen -->>Jen vybrani</option>
</select><br />
<div id="camChosenBox">
<label for="camchosen">Vybrani</label><input type="text" id="camchosen" name="camchosen" value="{CAMCHOSEN}" />
<script type="text/javascript">
function localOnReady() {
  if(elm("campublic").selectedIndex !== 3) elm("camChosenBox").style.display = 'none';
  addEvent(elm("campublic"),'change',function() { elm("camChosenBox").style.display = (elm("campublic").selectedIndex === 3)?('block'):('none'); });
}
DOMReady(localOnReady);
</script>
</div> 
<label for="camavatar">Jako avatar</label>
<select id="camavatar" name="camavatar">
<option value="0">Nepouzivat</option>
<option value="1"<!-- BEGIN camavatar --> selected="selected"<!-- END camavatar -->>Pouzivat automaticky</option>
</select>
<br />
<label for="camresolution">Velikost</label>
<select id="camresolution" name="camresolution">
<option value="0">160 x 120 px</option>
<option value="1"<!-- BEGIN camresolution1 --> selected="selected"<!-- END camresolution1 -->>320 x 240 px</option>
</select>
<br />
<label for="caminterval">Interval [3-60]</label><input type="text" id="caminterval" name="caminterval" value="{CAMINTERVAL}" class="xShort" /> vterin<br />
<label for="camquality">Kvalita [0-100]</label><input type="text" id="camquality" name="camquality" value="{CAMQUALITY}" class="xShort" /> %<br />
<label for="cammotion">Reaguje na pohyb</label><select id="cammotion" name="cammotion">
<option value="1">Zapnuto</option>
<option value="0"<!-- BEGIN cammotion --> selected="selected"<!-- END cammotion -->>Vypnuto</option>
</select><br />

<input type="submit" name="sava" value="Uložit" class="button submit" />
</fieldset>
</form>