<!-- BEGIN cam --><div class="info-webcam">{WEBCAM}</div><!-- END cam -->

<div id="tabs">
<ul>
  <li><a href="#tabs-1">Profil</a></li>
  <!-- BEGIN tabfoto --><li><a href="#tabs-2">Osobni foto</a></li><!-- END tabfoto -->
  <!-- BEGIN tabfriends --><li><a href="#tabs-3">Pratele</a></li><!-- END tabfriends -->
	<!-- BEGIN tabpages --><li><a href="#tabs-4">Vlastni kluby, galerie, blogy</a></li><!-- END tabpages -->
	<!-- BEGIN tabevents --><li><a href="#tabs-5">Udalosti</a></li><!-- END tabevents -->
	<!-- BEGIN tabfavorites --><li><a href="#tabs-6">Oblibene</a></li><!-- END tabfavorites -->
</ul>

<div id="tabs-1"><div clas="user-info">
	<label>&nbsp;</label><span>{AVATAR}</span><br />
	<label>Nick</label><span>{NAME}</span><br />
	<!-- BEGIN homelink --><label>Fundekave home</label><span><a href="?k={HOMEPAGEID}">{HOMEPAGEUSERNAME}.fundekave.net</a></span><br /><!-- END homelink -->
	<!-- BEGIN email --><label>E-mail</label><a href="mailto:{EMAIL}">{EMAIL}</a><br /><!-- END email -->
	<!-- BEGIN icq --><label>ICQ</label>{ICQ} <img src="http://status.icq.com/online.gif?icq={ICQ}&amp;img=21"><br /><!-- END icq -->
	<!-- BEGIN www --><label>Homepage</label><a href="{WWW}">{WWW}</a><br /><!-- END www -->
	<!-- BEGIN motto --><label>Motto</label><span>{MOTTO}</span><br /><!-- END motto -->
	<!-- BEGIN place --><label>Nejčastější výskyt</label><span>{PLACE}</span><br /><!-- END place -->
	<!-- BEGIN food --><label>Nejoblíbenější jídlo</label><span>{FOOD}</span><br /><!-- END food -->
	<!-- BEGIN hobby --><label>Zaliby</label><span>{HOBBY}</span><br /><!-- END hobby -->
	<!-- BEGIN about --><label>O všem</label><span>{ABOUT}</span><br /><!-- END about -->
	<label>Registrace</label><span>{DATECREATED}</span><br />
	<label>Poslední přístup</label><span>{DATEUPDATED}</span><br />
</div</div>

<!-- BEGIN fotos -->
<div id="tabs-2"><div class="user-info-foto">
<!-- BEGIN foto --><img src="{IMGURL}" /><br /><!-- END foto -->
</div></div>
<!-- END fotos -->

<!-- BEGIN friends -->
<div id="tabs-3">
{FRIENDS}
</div>
<!-- END friends -->

<!-- BEGIN pages -->
<div id="tabs-4">
{PAGES}
</div>
<!-- END pages -->

<!-- BEGIN events -->
<div id="tabs-5">
{EVENTS}
</div>
<!-- END events -->

<!-- BEGIN favorites -->
<div id="tabs-6">
{FAVORITES}
</div>
<!-- END favorites -->


</div>