<!-- BEGIN registration -->
<form action="{FORMACTION}" method="post" name="reg">
<fieldset>
<legend>Registrace</legend>
<label for="jmenoreg">Uzivatelske jmeno</label><input type="text" id="jmenoreg" name="jmenoreg" value="{NAME}" /><br />
<label for="pwdreg1">Heslo</label><input type="password" id="pwdreg1" name="pwdreg1" value="{PWD1}" /><br />
<label for="pwdreg2">Overeni hesla</label><input type="password" id="pwdreg2" name="pwdreg2" value="{PWD2}" /><br />
<input type="submit" name="addusr" value="Registrovat" class="button"><br />
</fieldset>
</form>
<!-- END registration -->
<!-- BEGIN noregistration -->
<p><strong>Nez se zacnete registrovat se prosim odhlaste</strong></p>{DUMMYNO}
<!-- END noregistration -->