<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-body">
<div id="fullscreenBox" class="showProgress">
<div id="photoToolbar">
<div class="icon48bar">
<div class="pull-right">
<a href="#" id="aSlideshow"><img src="[[URL_CSS]]images/play.png" title="Start slideshow" alt="Play/Stop"/></a>
<a href="#" class="aFullscreen"><img src="[[URL_CSS]]images/fullscreen.png" title="Go to fullscreen mode" alt="Fullscreen"/></a>
</div>
<a href="{ALBUMURL}"><img src="[[URL_CSS]]images/thumbnails.png" title="Back to album" alt="Album"/></a>
</div>
<a href="{PREVBUTT}" class="history keepscroll" id="prevButt"></a>
<a href="{NEXTBUTT}" class="history keepscroll" id="nextButt"></a>
</div>
<div id="fullscreenHint" class="hidden">ESC - Zpět<br />Mezerník - Další</div>
<a href="{NEXTLINK}" class="history"><img id="detailFoto" src="{IMGDIR}" alt="{IMGALT}" title="{IMGTITLE}" /></a></div>
<div id="mapThumb" class="goomap-thumb pull-right">{GOOMAPTHUMB}</div>
<p id="description" class="text-center">{TEXT}</p>
<div id="map" class="goomap">{GOOMAP}</div>
</div>
</div>
</div>
</div>

