<!-- BEGIN newforums --><h2>Nové</h2>
<div class="list-group">
{PAGELINKSNEW}
</div><!-- END newforums -->
<h2>Vlastní<!-- BEGIN ownerforumsnew --> <span title="Nové" class="postsNew">{OWNERNEW}</span><!-- END ownerforumsnew --></h2>
<div class="list-group">{PAGELINKSOWN}</div><!-- BEGIN ownnone --><a href="{CREATETYPE}">Vytvořit novou stránku: {TYPE}</a><!-- END ownnone -->
<h2>Oblíbené<!-- BEGIN bookedforumsnew --> <span title="Nove" class="postsNew">{BOOKEDNEW}</span><!-- END bookedforumsnew --></h2>
<div class="list-group">{PAGELINKSBOOKED}</div><!-- BEGIN favoritenone --><a href="{FINDFAVORITE}">Najděte si oblíbené</a> Na každé strance (v klubu, galerii nebo blogu) v horni casti najdete tlacitko "Do oblibenych"<!-- END favoritenone -->
