<div id="tabs">
<ul>
<!-- BEGIN tabfriends --><li><a href="#tabs-3">Pratele</a></li><!-- END tabfriends -->
<li><a href="#tabs-profil">Profil</a></li>
<!-- BEGIN tabforums --><li><a href="#tabs-4">Kluby</a></li><!-- END tabforums -->
<!-- BEGIN tabblogs --><li><a href="#tabs-5">Blogy</a></li><!-- END tabblogs -->
<!-- BEGIN tabgaleries --><li><a href="#tabs-6">Galerie</a></li><!-- END tabgaleries -->
<!-- BEGIN tabfavorites --><li><a href="#tabs-7">Oblibene</a></li><!-- END tabfavorites -->
</ul>
<!-- BEGIN friends --><div id="tabs-3">{FRIENDS}<!-- BEGIN nofriends -->Zatim nemate zadne pratele, zkuste pouzit vyhledavani, odkazy na autory v klubech a poslat jim pozadavek z jejich profilu.<!-- END nofriends --><div class="clearbox"></div></div><!-- END friends -->
<div id="tabs-profil"><div clas="user-info">
<div class="leftbox col2">
<label>&nbsp;</label><span>{AVATAR}</span><br />
<label>Nick</label><span>{NAME}</span><br />
<!-- BEGIN email --><label>E-mail</label><a href="mailto:{EMAIL}">{EMAIL}</a><br /><!-- END email -->
<!-- BEGIN www --><label>Homepage</label><a href="{WWW}">{WWW}</a><br /><!-- END www -->
<!-- BEGIN icq --><label>ICQ</label>{ICQ} <img src="http://status.icq.com/online.gif?icq={ICQ}&amp;img=21"><br /><!-- END icq -->
<!-- BEGIN motto --><label>Motto</label><div class="rowcontent">{MOTTO}</div><!-- END motto -->
<!-- BEGIN about --><label>O všem</label><div class="rowcontent">{ABOUT}</div><!-- END about -->
<label>Registrace</label><span>{DATECREATED}</span><br />
<label>Poslední přístup</label><span>{DATEUPDATED}</span><br />
</div>
<!-- BEGIN friendactions --><div class="leftbox">
<a id="{FRIENDLINKID}" href="{FRIENDLINKURL}" class="fajaxa uibutton margined{FRIENDLINKCLASS}" title="{FRIENDLINKTITLE}">{FRIENDLINKLABEL}</a><br />
<a href="{SENDMSGURL}" class="uibutton margined">{SENDMSGLABEL}</a>
</div><!-- END friendactions -->
<div class="clearreal"></div>
<!-- BEGIN profilfoto --><h2>Profil foto</h2>
<div class="clearbox centertext">
<!-- BEGIN foto --><a href="{IMGURL}" rel="lightbox-personal"><img src="{THUMBURL}" class="leftbox" /></a><!-- END foto -->
</div><!-- END profilfoto -->
</div>
</div>
<!-- BEGIN forums --><div id="tabs-4"><h3>Kluby</h3>{FORUMS}</div><!-- END forums -->
<!-- BEGIN blogs --><div id="tabs-5"><h3>Blogy</h3>{BLOGS}</div><!-- END blogs -->
<!-- BEGIN galeries --><div id="tabs-6"><h3>Galerie</h3>{GALERYS}</div><!-- END galeries -->
<!-- BEGIN favorites --><div id="tabs-7"><h3>Oblibene</h3>{FAVORITES}</div><!-- END favorites -->
</div>