.notemenu {
  position: absolute;
  z-index: 100;
  zoom: 1;
  visibility: hidden;
  text-align: left;
  padding: 0;
  border: 1px solid #222;
  background-color: #eee;
}
div#sidebar .notemenu {
  width: 20em;
}
.notemenu ul {
  padding: 0;
  margin: 0;
}
.notemenu li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.notemenu a {
  display: block;
  padding: 3px 5px;
}
.notemenu a:hover {
  background-color: #bbb;
}
.notemenu h5 {
 margin: 0;
 padding: 3px 5px;
 font-weight: bold;
 background-color: #999;
}
/* Some position-type-specific offset information. Tweak as needed! */
.snp-mouseoffset, .snp-triggeroffset, .snp-mousetrack {
 margin-left: 5px;
 margin-top: 5px;
}

div#sidebar .snp-mouseoffset,div#sidebar .snp-triggeroffset,div#sidebar .snp-mousetrack {
 margin-left: -20px;
 margin-top: 0px;
}
div#mainbar .snp-mouseoffset,div#mainbar .snp-triggeroffset,div#mainbar .snp-mousetrack {
 margin-left: -200px;
 margin-top: 0px;
}
/* "fallback" links for non-CSS supporting browsers. */
.fallback {
 display: none;
}
.hidden {
  display: none;
}